<script type="text/javascript">
   function chooseLink(cnt)
   {
      $('#redactor_link_url').val('EXT_LINK' + $('#redactor_link_id_' + cnt).attr("data-id"));
   }
   
   $(document).ready(function() {
      var   $boxes = redactorActive.$boxesLinks,
            $redactor = $("#redactor_links"),
            $ol = $redactor.find("ol");
      
      $boxes.each(function(i, el){
         var   $el = $(el),
               descr = $el.find(".n_def_style").val(),
               name = $el.find(".ext_link_url").html(),
               id = ~~$el.find(".ch_box_line .ch_box input").attr("id").replace("checkboxId", ""),
               $li = $("<li></li>").attr("id", "redactor_link_id_" + i)
                     .attr("data-id", id),
               $input = $("<input />").attr("type", "radio")
                        .attr("value", i)
                        .attr("name", "redactor_link_url_radio")
                        .attr("id", "redactor_link_url_radio_" + i)
                        .attr("onclick", "chooseLink(" + i + ")"),
               $span1 = $("<span></span>").attr("id", "redactor_link_url_" + i)
                        .attr("name", "redactor_link_url_" + i)
                        .html(name),
               $span2 = $("<span></span>").attr("id", "redactor_link_description_" + i)
                        .attr("name", "redactor_link_description_" + i)
                        .html(descr);
          
         if(i == 0)
            $input.attr("checked", "checked");
         
         $li.append($input);
         $li.append($span1);
         $li.append($span2);
         $ol.append($li)

      });
            
      chooseLink(0);
   });
</script>
<div id="redactor_links">
   <ol style="padding: 0px"></ol>
   <input type="hidden" value="unset" name="#redactor_link_url" id="redactor_link_url">
   <input type="text" value="seen on this site" name="#redactor_link_text" id="redactor_link_text">
   <input type="button" name="" id="" value="%RLANG.insert%" onclick="redactorActive.insertLinkCode();" />&nbsp;&nbsp;
   <input type="button" name="" onclick="redactorActive.modalClose();" value="%RLANG.cancel%"  /> 
</div>