div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}


table.premium-brands
{
	height:250px;
	border-bottom: 1px solid #FFAA06;
}
table.premium-brands td.brand-separate
{
	width:1px;
	background:url('img/separate.jpg') center bottom no-repeat;
}
table.premium-brands td.brand-p-item
{
	padding:4px;
}
table.premium-brands td.brand-p-item div
{
	background:url('img/item-p-back.jpg') center bottom repeat-x;
	padding:10px;
	text-align:center;
	padding-top:10px;
	height:220px;
}
table.premium-brands td.brand-p-item a
{
	font-size:16px;
	color:#000;
	margin:15px 0;
font-family:georgia;
}
table.premium-brands td.brand-p-item p
{
	font-size:12px;
	color:#000;
	margin:15px 0;
}
table.premium-brands td.brand-p-item small
{
	font-size:12px;
	color:#ababab;
	margin-top:15px;
font-weight:bold;
}
td.br-img
{
	padding:20px;
}
td.brand-item
{
	padding:20px 0;
}
table.brands td.brand-item a
{
	font-size:16px;
	color:#000;
	margin:15px 0;
font-family:georgia;
}
table.brands td.brand-item p
{
	font-size:12px;
	color:#000;
	margin:15px 0;
}
table.brands td.brand-item small
{
	font-size:12px;
	color:#ababab;
	margin-top:15px;
font-weight:bold;
}
