.link{
   margin-bottom: 20px;
}
.link>div{
   margin-top: 5px;
}
.splLink, .splLink:hover, .splLink:active{
   text-decoration: none;
}
.splLink h2 b{
   font: 24px Georgia;
   color: #E4211B;
   border-bottom: 1px dashed #E4211B;
}