<form id="redactorInsertLinkForm">
<table class="redactor_ruler" style="margin-bottom: 6px;">
    <tr>
        <td style="white-space: nowrap;">
            <input value="link" name="redactor_link" id="redactor_link_id_url" type="radio" onclick="$('#redactor_link_url_name').text('URL')" checked="checked">&nbsp;<label for="redactor_link_id_url">%RLANG.web%</label>
        </td>
        <td width="100%">
            <input value="email" name="redactor_link" id="redactor_link_id_email" onclick="$('#redactor_link_url_name').text('%RLANG.mailto%')"  type="radio">&nbsp;<label for="redactor_link_id_email">%RLANG.mailto%</label>
        </td>
    </tr>
</table>

<table class="redactor_ruler">
    <tr>
            <td nowrap id="redactor_link_url_name">URL</td>
            <td width="100%"><input name="redactor_link_url" id="redactor_link_url" style="width: 99%;"  /></td>
    </tr>
    <tr>
            <td>%RLANG.text%</td>
            <td><input name="redactor_link_text" id="redactor_link_text" style="width: 99%;" /></td>
    </tr>
</table>


</form>


<input type="button" name="" id="" value="%RLANG.insert%" onclick="redactorActive.insertLink();" />&nbsp;&nbsp;
<input type="button" name="" onclick="redactorActive.modalClose();" value="%RLANG.cancel%"  />
