ul.menu-company
{
	width:100%;
	height:39px;
	background:url('img/company.jpg') repeat-x;
	list-style:none;
	float:left;
	padding:0px;
	margin-bottom:15px;
}
ul.menu-company li
{
	padding:9px 17px;
	float:left;
}
ul.menu-company li.first
{
	padding:0;
	width:46px;
	height:39px;
	background:url('img/company-first.jpg') no-repeat;
}
ul.menu-company li.last
{
	padding:0;
	width:3px;
	height:39px;
	float:right;
	background:url('img/company-last.jpg') no-repeat;
}
ul.menu-company li.separate
{
	padding:0;
	width:2px;
	height:39px;
	background:url('img/separate.jpg') no-repeat;
}
ul.menu-company li
{
}
ul.menu-company li a
{
	color:#3a3a3a;
	font-family:Arial;
	font-size:15px;
        text-decoration:none;
}
table.add_table td
{
	padding:10px 6px 0 0;
}
table.add_table td a
{
	color:#000000;
}

ul.company_photo
{
	list-style:none;
	float:left;
	width:300px;
	padding:0;
	margin:0;
}

ul.company_photo li
{
	padding:0 13px 13px 0;
	float:left;
}
ul.company_photo li a
{
	width:80px;
	height:80px;
	display: block;
    overflow: hidden;
    position: relative;
}
ul.company_photo li a img
{
	width:80px;
	height:80px;
}
#flvplayer {position:absolute;display:none;z-index:50;background:white;/*left:50%;top:100px;*/right: -100px;bottom: -50px;width:620px;height:554px;overflow:hidden;background:url('../images/video_bg.png') no-repeat;}
#flvplayer .swfframe {display:block;width:480px;height:414px;background:white;padding:20px;margin:50px;position:relative;}
#flvplayer .swfframe a {position:absolute;left:220px;bottom:9px;font-family:Tahoma,sans-serif;font-size:9pt;color:#e93903}
.iblock-vote{
width:300px;
}
.iblock-vote td{
width:15px;
}
.vote-result{
width:200px !important;
}

.company_description_block ul, .company_description_block ol{
   margin-left: 20px;
}