BODY {font: 12px Arial;}
P {margin-top: 0px; margin-bottom: 0px;}
P.subject {font: 28px Georgia;}
P.tab_red {font: 18px Georgia; color: #fefefc}
P.tab_white {font: 18px Georgia; color: #266bab; padding-right: 5px;}
P.tab_red, P.tab_white {}A.tab {}
P.add {font: 11px Arial; color: #999999}
P.search_button {font: 12px Arial; color: #3a3a3a}
P.back {font: 12px Arial; color: #3a3a3a}
P.found {font: 28px Georgia;}
P.sort {font: 12px Arial}
P.highlight {font: bold 12px Arial; color: #da251d}
P.unlight {font: 12px Arial; color: #266bab;}
P.vacancy_name {font: bold 14px Arial; color: #266bab}
P.salary {font: bold 14px Arial;}
P.grey {font: 12px Arial; color: #ababab}
B.grey {font: 12px Arial; text-decoration: underline}
B.dashed {font: 12px Arial; border-bottom: 1px dashed #266bab}
A.add {color: #266bab; text-decoration: underline;}
IMG {border: none;}
IMG.star {padding-top: 3px;}
DIV.page {width: 761px;}
DIV.tabs {background: url(images/tabs.png); width: 220px; height: 30px;}
DIV.search {background: url(images/search_background.png); width: 761px; height: 41px; text-align: center; margin-top: -3px; margin-left: -3px;}
DIV.top {}
DIV.search_button {background: url(images/search_button.png); width: 69px; height: 30px; text-align: center; margin-top: -4px;}
DIV.back {background: url(images/back.png); width: 62px; height: 24px; text-align: center;}
DIV.found {padding-top: 15px; padding-bottom: 15px;}
DIV.sort {background: url(images/sort.png); width: 761px; height: 32px; text-align: center;}
DIV.vacancy_premium {height: 60px; background: #fffde7; border: 1px solid #ffe668; padding: 10px 0px 0px 0px;}
DIV.vacancy_main {height: 60px; background: #fefefc; border: 1px solid #e2e2e2; padding: 10px 0px 0px 0px;}
INPUT.search {width: 170px;}
SELECT.search_type_1 {width: 165px;}
SELECT.search_type_2 {width: 155px;}
SELECT.search_type_3 {width: 155px;}
INPUT.search, SELECT.search_type_1, SELECT.search_type_2, SELECT.search_type_3 {height: 23px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
A.tab, A.search_button, A.back, A.sort, A.vacancy_name:link {text-decoration: none}
A.tab, A.search_button, A.back, A.sort, A.vacancy_name:visited {text-decoration: none}
A.tab, A.search_button, A.back, A.sort, A.vacancy_name:active {text-decoration: none}
A.tab, A.search_button, A.back, A.sort, A.vacancy_name:hover {text-decoration: none}
