span.report-e {
	background: url(/bitrix/templates/.default/images/img_report.jpg) no-repeat;
	width: 262px;
	height: 54px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(227, 35, 27, 0.8);
  border-right: 1.1em solid rgba(227, 35, 27, 0.8);
  border-bottom: 1.1em solid rgba(227, 35, 27, 0.8);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}