.rc_block-body-item .rc_block-comments-body .autor {
	color: inherit;
	font-size: inherit;
}
.comments-img-wrap {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 9px;
	text-align: center;
	overflow: hidden;
}
.comments-img-wrap img {
	float: none;
	display: inline-block;
}