a.send_r {
   display:block;
   width:196px;
   height:37px;
   background:url('img/send.jpg') no-repeat;
}
.send_r-wrap {
	position: relative;
}
.send_r-overflow {
	display: none;
	position: absolute;
	bottom: 0;
   width:196px;
   height:37px;
	background: #ffffff;
	background: rgba(255,255,255, 0.9);
	background-image: url(/images/preloader-red_20x20.gif);
	background-position: center center;
	background-repeat: no-repeat;
}