.bds_row table td {
   vertical-align: top;
   font-size:12px;
   text-align:left !important;
}
.tdWrap
{
   font-size:12px;
}
.date_ev
{
   width:9%;
}
.name_ev
{
   width:39%;
}
.info_ev
{
   width:20%;
}
.place_ev
{
   width:15%;
}
.org_ev
{
   width:17%;
}
.bds_prem_type td
{
   font-size:12px !important;
   font-weight:bold;
}
.bds_prem_type td
{
   text-align:left !important;
}
table.event_list
{
   border-collapse:collapse;
}
.event_list th, .event_list td
{
   padding:10px 15px;
}
.event_list td
{
   background-color:#fefefc;
   border:1px solid #e3e2e2;
}
.event_list tr.premium td
{
   background-color:#fdfee8;
   border:1px solid #feca7b;
}

.event_list th
{

   background-color:#ffd815;
   border-left:1px solid #ffc008;
   border-bottom:1px solid #fefefc;
}
.event_list th:first-child
{
   border-left:1px solid #ffd815;
}
a.search_submit_blue
{
   background:url('img/search_blue.jpg') no-repeat;
   height: 22px;
   position: absolute;
   left: 1px;
   top: 1px;
   width: 25px;
}
input#subSeachId_01
{
   width:310px;
   height:21px;
   padding-left:30px;
}
.company_s select
{
   float:right;
   font-size: 14px;
   height: 24px;
   margin-left: 15px;
}

div.paging {
   background-image: linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
   background-image: -o-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
   background-image: -moz-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
   background-image: -webkit-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
   background-image: -ms-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);

   background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.45, rgb(218,242,254)),
      color-stop(0.72, rgb(231,245,254)),
      color-stop(1, rgb(239,248,253))
      );
   margin-bottom:1px;
   margin-top:2px;
}
#collap .date_ev, #collap .name_ev, #collap .info_ev, #collap .place_ev{
   border-right: 1px solid #fff;
}
.preview_picture{
   max-width: 100%;
   margin-right: 10px;
	margin-bottom: 5px;
   height: auto;
}
.name_ev a{
	display: block;
}
.archive{
   float: right;
}