.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
.bds_row .bds_nav {
	width: 125px !important;
	text-align: right;
}
.bds_nav img{
padding-bottom:2px;
}
.ic_star {
width:13px;
}
.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}
.paging .pg_nav li input{
border-color:rgb(218,216,216) !important;
width:22px;
}
/*.left_menu a{
text-decoration:none;
color: #000;
}
.left_menu  li{
background: none;
	color:#ababab;
	padding: 5px 0 0 0;
	list-style:square inside;
}*/

.submarket div{
width:100%;
}

.bread_market ul.market_bread
{
	list-style:none;
	margin:0;
	padding:0;
}

div:not(ul li) ul{
background-color:#fff;
border: none;
}
.bread_market a
{
	text-decoration:none;	
}


.bread_market ul.market_bread li
{
	float:left;
	margin-right:4px;
}
.bread_market ul.market_bread li
{
	float:left;
	margin-right:10px;
}
.bread_market ul.market_bread li span
{
	color:#b6b6b6;
	font-size:16px;
}
.bread_market ul.market_bread li a
{
	color:#000;
	font-size:16px;
}
.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}

.bds_row td.favorites-delete{
   vertical-align: top;
   width: 125px;
   text-align: right;
}
.bds_row td.favorites-delete a{
   cursor: pointer;
   float: left;
   margin-right: 8px;
}


.show_controls{
   float: left;
}

.bds_row .bds_info .meta{
   height: 40px;
}
.bds_row.inactive{
   background-color: #f5f5f5;
}

.sortable-button{
   cursor: move !important;
}