body {font: 12px Arial;} 
A.splCont:link, 
A.splCont2:link, 
A.splCont3:link, 
A.splCont4:link, 
A.splCont5:link, 
A.splCont6:link, 
A.splCont7:link, 
A.splCont8:link, 
A.splLink_close:link, 
A.splLink:link, 
A.splLink2:link, 
A.splLink3:link, 
A.splLink4:link, 
A.splLink5:link, 
A.splLink6:link, 
A.splLink7:link, 
A.splLink8:link, 
A.zakaz:link, 
A.search_button:link, 
A.want:link{text-decoration: none} 
A.splCont:visited, 
A.splCont2:visited, 
A.splCont3:visited, 
A.splCont4:visited, 
A.splCont5:visited, 
A.splCont6:visited, 
A.splCont7:visited, 
A.splCont8:visited, 
A.splLink_close:visited, 
A.splLink:visited, 
A.splLink2:visited, 
A.splLink3:visited, 
A.splLink4:visited, 
A.splLink5:visited, 
A.splLink6:visited, 
A.splLink7:visited, 
A.splLink8:visited, 
A.zakaz:visited, 
A.search_button:visited, 
A.want:visited {text-decoration: none} 
A.splCont:active, 
A.splCont2:active, 
A.splCont3:active, 
A.splLink_close:active, 
A.splLink:active, 
A.splLink2:active, 
A.splLink3:active, 
A.splLink4:active, 
A.splLink5:active, 
A.splLink6:active, 
A.splLink7:active, 
A.splLink8:active, 
A.zakaz:active, 
A.search_button:active, 
A.want:active {text-decoration: none} 
A.splCont:hover, 
A.splCont2:hover, 
A.splCont3:hover, 
A.splCont4:hover, 
A.splCont5:hover, 
A.splCont6:hover, 
A.splCont7:hover, 
A.splCont8:hover, 
A.splLink_close:hover, 
A.splLink:hover, 
A.splLink2:hover, 
A.splLink3:hover, 
A.splLink4:hover, 
A.splLink5:hover, 
A.splLink6:hover, 
A.splLink7:hover, 
A.splLink8:hover, 
A.zakaz:hover, 
A.search_button:hover, 
A.want:hover {text-decoration: none} 
A.mail {font: 22px Arial; color: #266bab} 
#splCont{display:none;} 
#splCont2{display:none;} 
#splCont3{display:none;} 
#splCont4{display:none;} 
#splCont5{display:none;} 
#splCont6{display:none;} 
#splCont7{display:none;} 
#splCont8{display:none;} 
#green {color: #097904; font: bold 12px Arial;} H1, H2, H3, H4, H10 {margin-top: 0px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px;} 
H1.subject {font: 28px Georgia;} B#h2 {font: 24px Georgia; color: #E4211B; border-bottom: 1px dashed #E4211B} I#h2 {font: 24px Georgia; color: #E4211B;} B#h10 {font: 24px Georgia; color: #E4211B; border-bottom: 0px dashed #E4211B} I#h10 {font: 24px Georgia; color: #E4211B;} H4 {font: 18px Georgia; color: #E4211B;} TR.shap {font: bold 12px Arial; color: #266bab; background-color: #e7f5fe;} TR.g {background-color: #f1faf9} TR.w {background-color: #fefefc} TR.g, TR.w {height: 35px; vertical-align: middle; text-align: center;} TR.subshap {height: 22px;} TD.No {background-color: #06B9FC; text-align: center; vertical-align: middle; color: white;} TD.place {background-color: #BCEBFB; vertical-align: middle; padding-left: 10px;} TD.proper {width: 300px;} TD.a {text-align: center; vertical-align: middle} TD.z {text-align: center; color: #00a3e0}TD.s {text-align: center} TD.z, TD.k , TD.a, TD.s {width: 62px; height: 30px; vertical-align: middle; border: 1px solid #ededed;}TD.m {width: 62px; height: 30px; text-align: center; vertical-align: middle; border: 1px solid #ededed;}TD.n {width: 62px; height: 30px; vertical-align: middle; border: 1px solid #ededed; padding-left: 15px;}TD.proper {vertical-align: middle; padding-left: 15px;} TD.k {width: 192px; padding-left: 20px}TD.find {} DIV.l {} DIV.page {width: 755px; padding-left: 20px; padding-right: 20px;} DIV.subsub_search {text-align: center;} DIV.zakaz {width: 165px; height: 34px; background: url(../images/button_z.png) no-repeat;} DIV#search_fon {background:url(../images/fon_search.png); width: 444px; height: 93px; text-align: center} INPUT#search_button { 	background:url(../images/button_search.png); 	width: 79px; 	height: 25px; 	text-align: center; 	color: black; 	font: bold 14px Arial; 	border: 0px; } INPUT#check {width: 310px; height: 18px; margin-right: 7px;} DIV.ram {border-radius: 5px; border: 2px solid #e2e2e2; padding: 18px; padding-top: 20px;} DIV.req {padding-top: 20px;} DIV.info {padding-top: 20px;} DIV.hide {font: 14px Arial; padding-top: 17px} DIV.want {margin-left: 2px; margin-top: 25px; width: 347px; height: 37px; background:url(../images/button_want.png) right top no-repeat;}
DIV.link {padding-top: 10px; padding-bottom: 1px}
DIV.check {width: 757px; padding-top: 20px;} DIV.more {text-align: center; padding-left: 10px;} DIV.abc {padding-top: 32px;} DIV.edfg {padding-top: 21px;} DIV.btable {padding-top: 13px;} DIV.img {margin-top: 5px; margin-left: 1px;} B.want {float: right; margin-top: 6px; margin-right: 25px; color: black; text-shadow: white 1px 1px; font: 17px Arial;} B.number {font: 22px Arial; color: black;} B.zakaz {font: bold 16px Arial; float: right; color: #ffffff; text-shadow: 0px 1px #626262; padding-right: 12px;} B.up {font: bold 12px Arial; border: 1px solid #05b9fc; padding: 16px; padding-top: 5px; padding-bottom: 5px; background-color: #05b9fc; color: white;} P {font: 12px Arial;} P.info {font: 12px Arial; color: #ACACAA} H2.c {font: 18px Arial; padding-top: 10px; padding-bottom: 7px} H2.c2 {font: 18px Arial; padding-bottom: 7px} P.title {font: 14px Georgia; padding-left: 5px;} P.desc {padding-top: 4px;} P.download {font: 12px Arial; color: #266bab; text-decoration: underline; padding-top: 10px;} TABLE.btable {width: 757px; font: 12px Arial; border: 1px solid #ededed;} TABLE.rtable {width: 757px; font: 12px Arial; border: 1px solid #ededed; margin-top: 30px} TABLE.edfg {width: 757px; padding-top: 20px} TABLE.abc {width: 757px; padding-top: 20px} IMG {border: 0px;}

b{ font-weight:  bold;}