.statistic-wrapper{
   margin-right: 20px;
}
.statistic-wrapper .mc_block{
   margin-bottom: 24px;
}
.dp-wrapper{
   margin-top: 24px;
   margin-bottom: 18px;
}
.statistic-chart-control{
   float: left;
   margin-top: 90px;
   margin-left: 700px;
}
.statistic-bubble{
   float: left;
}
.statistic-table{
   margin-left: 400px;
   min-height: 200px;
   /*max-width: 600px;*/
   
}
.statistic-table table{
   border: 1px solid black;
}
.statistic-table th, .statistic-table td{
   padding: 2px 4px;
}

/* Datepicker styles */

.ui-datepicker {
	width: 182px;
	padding: .2em .2em 0;
	/*margin: 4px auto 0;*/
	display: none;
        background: #f5f5f5;
/*        position: absolute;
         top: 594px;
         left: 542px;*/
         z-index: 1;
         display: block;
         border: 1px solid #cfcfcf;
         border-radius: 3px;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	margin-bottom: 4px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -7px;
	text-indent: -9999px;
	background: url(/images/datepicker-icon.png);
	width: 15px;
	height: 15px;
}
.ui-datepicker .ui-datepicker-prev span {
	background-position: 0 0;
}
.ui-datepicker .ui-datepicker-next span {
	background-position: 15px 0;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.9em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	border: 1px solid #e4e4e2;
}
.ui-datepicker th {
	padding: .5em .3em;
	text-align: center;
	font-weight: normal;
	color: #e3231b;
	background: #efefef;
	border: 1px solid #dcdbda;
}
.ui-datepicker td {
	border: 1px solid #edecea;
	padding: 2px 0;
	background: #fff;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	color: #000;
	z-index: 2;
}
.ui-datepicker td a:hover, .ui-state-default.ui-state-active {
	position: relative;
	color: #fff;
	background: url(/images/link-hover-circle.png) 2px 0 no-repeat;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-datepicker{
   display: block;
}


.datepicker-input{
   width: 171px;
   margin: 5px;
   border-radius: 3px;
   padding: 2px 8px;
   font-size: 14px;
}
.datepicker-submit{
   height: 22px;
   position: relative;
   top: 1px;
   margin-left: 5px;
}
.ui-state-disabled span{
   color: #bbb !important;
}