.bx-company-table {width: 1020px;}

.bx-company-table .redactor_box {width: 100%; min-height: 325px;}

.bx-company-table input[type=file] {width: 215px;}

.bx-company-table .elements input {display: block;}
.main_select {width: 350px;}
.bx-company-table input[type=text] {width: 218px;}
.bx-company-table .bodyground td.bordered {border-left: 2px solid white;}
.bx-company-table .bodyground > tr > td {padding: 20px 15px 0; min-width: 220px;}
.starrequired {color: red;}
.errortext {display: none;}
.error .errortext {color: red; display: block;}
#yandex-map {width: 500px;height: 400px;}


.company-tabs .mb_menu .mb_title{
   background-position: 0 -432px !important;
   cursor: pointer;
}
.company-tabs .mb_menu li.mb_title .sclew{
   background-position: 100% -432px;
}
.company-tabs .mb_menu li.mb_title a{
   color: #266bab;
   cursor: pointer;
}

.company-tabs .mb_menu .mb_title.sel{
   cursor: default;
}
.company-tabs .mb_menu .mb_title.sel, .company-tabs .mb_menu .mb_title:hover{
   background-position: 0 -92px !important;
}
.company-tabs .mb_menu li.mb_title.sel .sclew, .company-tabs .mb_menu .mb_title:hover .sclew{
   background-position: 100% -92px;
}
.company-tabs .mb_menu li.mb_title.sel a, .company-tabs .mb_menu li.mb_title:hover a{
   color: #FFF;
}
.company-tabs .mb_menu li.mb_title.sel a{
   cursor: default;
}

.img_block {
    margin-bottom: 10px;
}
.phone {
    margin: 20px 0 0 0!important;
}
.phone-first {
    margin: 0!important;
}
.phone-first label{
    padding-top:3px!important;
}
.div-more-numbers {
    margin-left: 115px;
}
.add-adv-form .photo-comment {
    display: block!important;
    padding-left: 112px;
}
.photo-wrap {
    margin-bottom: 10px;
    margin-right: 14px;
}
#div_more_photo{
    margin-right:-20px;
    width:600px;
}

#div_more_files {
    float: left;
    width: 600px;
}

#div_more_files input[type="file"] {
    position: relative;
    top: -4px;
    right: 245px;
    width: 235px;
    height: 27px;
    cursor: pointer;
    z-index: 300;
    filter: alpha(opacity=0);
    opacity: 0;

}

.file .min{
    float: left;
    margin: 10px 0 0 0;
}
.file .min span{
    margin-bottom: 10px;
}
#div_more_files .del {
    border-bottom: 1px dotted;
    cursor: pointer;
    margin-top: -8px;
}
.min.add {
    overflow: hidden;
}
.t-tip.del {
    border-bottom: 1px dotted;
    cursor: pointer;
    margin-top: -8px;
}
.add-adv-form .t-tip.file-comment {
    padding-left: 112px;
    display:block;
    clear:both;
}
.file-name{
    width:95px;
    margin-right:5px;
    word-wrap: break-word;
    height:40px;
    overflow:hidden;
}

.txt-min{
    margin-right: 2px!important;
}

#div_more_photo .photo-wrap img{
	border:2px solid #fff;
}

#div_more_photo .photo-wrap img.active{
	border-color: red;
}
