div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.mb_title_o a {
font:normal 16px Georgia !important; 
color:rgb(218, 37, 29);
text-decoration: none ;

}
.mb_title_o a:hover{
color:#ff2b22;
text-decoration: none;
}
.mb_title_o {
margin-top: 10px;
}

.faces_box .faces_row .name{
   height: 100%;
   line-height: 13px;
}