ul.map-level-0 a {
	font-weight: bold;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
	vertical-align: top;
}
ul ul {
	margin-left: 15px;
}

.map-level-0{
	list-style: none;
	margin-left: 5px;
}
 li.level1 > a{
    font-size: 24px;
    color: #DA251D;
	 margin-bottom: 10px;
	 margin-top: 10px;
	 border-bottom: 1px solid red;
	 width: 100%;
	 display: block;
 }
.map-level-1{
	margin-left: 20px;
	list-style: none;
}
.map-level-2 {

	margin-bottom: 3px;
}
.level2{
	float: left;
	width: 33%;
	overflow: hidden;
	height: 14px;
	padding-top: 5px;
}
.level-map{
	padding-left: 50px;
	margin-bottom: 20px;
	overflow:hidden;
}
.level-map li{
	float: left;
	width: 33%;
	font-size: 15px;
	font-weight: bold;
}
.level-map li:last-child:after{
	clear: both;
}