.tree_root{
	height: 750px;
	overflow: auto;

}
.tree_line{
	border-bottom: 1px solid #ddd;

}
.tree_line:hover{
	background-color: #ddd;
}
.level0{
	padding-left: 5px;
}.level1{
	 padding-left: 10px;
}.level2{
	  padding-left: 15px;
}.level3{
	   padding-left: 20px;
}.level4{
		padding-left: 25px;
}.level5{
		 padding-left: 30px;
}.level6{

}

 .action_toggle{
	 margin-right: 10px;
 }

 .pointer{
	 cursor: pointer;
 }

 .input_text{

 }