.all-product a, .product-sl .ads_title a{
   text-decoration: none;
}
.mkt .product-sl .ads_row .ads_title {
   overflow: hidden;
}
.product-sl .ads_row{
   height: auto;
}

.c_mess{
   bottom: 0;
       position: absolute;
       left: 2px;
}

.mkt .product-sl .ads_row .ads_title {
   overflow: hidden;
}