.messages-block {
    margin-left: 90px;
}

.messages-block .placeholder {
    height: 149px;
    text-align: center;
    width: 100%;
}

.messages-block .placeholder div {
    color: #777777;
    padding-top: 65px;
}

.messages-block .message-row {
    padding: 5px;
    padding-right: 0px;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    clear: both;
    overflow: hidden;
    cursor: pointer;
}

.messages-block .message-row > div {
    float: left;
}

.messages-block .message-row .photo {
    margin-right: 10px;
}

.messages-block .message-row .info {
    width: 640px;
    margin-right: 16px;
}

.messages-block .message-row .info a {
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
}

.messages-block .message-row .info .date {
    color: #777;
    float: right;
    
}

.messages-block .message-row .message-text {
    overflow: hidden;
    margin-right: 10px;
}

.messages-block .message-row:hover {
    background-color: #fff7c5;
}

.messages-block .message-row .message-control .delete, .messages-block .message-row .message-control .status {
    background-image: url("/images/social-sprite.png");    
    width: 14px;
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
}

.messages-block .message-row .message-control .delete {
    background-image: none;    
}

.messages-block .message-row .message-control .status {
    cursor: help;
}

.messages-block .message-row:hover .message-control .delete {
    background-image: url("/images/social-sprite.png");    
    background-position: -45px -65px;
}

.messages-block .message-row:hover .message-control .delete:hover {
    background-position: -45px -45px;
}

.messages-block .message-row .message-control .status-in {
    background-position: -45px -3px;
}

.messages-block .message-row .message-control .status-out {
    background-position: -45px -24px;
}

.paginator {
    margin-top: 0px;
}

.modern-page-navigation, .modern-page-navigation:hover {
    width: 778px;
    border-top: none;
}

.comments_box {
    overflow: hidden;
    padding: 0px !important;
    clear: both;
}
.comments_box .send-img {
    float: left;
    margin: 0 10px 0 5px;
    
}

.comments_box .post_message {
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 3px 3px #CCCCCC inset;
    height: 65px;
    margin-bottom: 7px;
    width: 683px;
    padding: 3px;
    float: left;
    resize: none;
}

.comments_box .btn-style {
    float: left;
    margin-left: 93px;
    margin-bottom: 10px;
}

.border-line {
    height: 99%;
}

.comments_box .good, .comments_box .error {
    display: none;
    padding: 4px 20px;
    margin-left: 15px; 
    float: left;
} 

.comments_box .error-textarea {
    border: 1px solid #D8000C;    
}


.comments_box .error {
    background-color: #FFBABA;
    border: 1px solid #D8000C;    
    color: #D8000C;   
}

.comments_box .good {
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;    
    color: #4F8A10;
}