#rubrikator_section {
    position: fixed;
}
.rubrikator_body {
    width: 564px;
    padding:10px;
    position:relative;
    z-index: 505 !important;
    background-color:#FFF;
    border:1px solid #FDFBF5;
}
.popup_header {
    z-index: 505 !important;
    position: relative;
   height: 27px;
   padding: 8px 0 0 12px;
   background-color: rgb(219, 219, 219);
   border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
}
.popup_header .alt_h2
{
   font-size: 18px;
}
.rubrikator_body .friends_box {
    margin-bottom: 5px;
}
.rubrikator_body .add-more {
    margin-bottom: 10px;
    text-align: right;
    visibility: hidden;
}
.rubrikator_body .suggest_box {
    margin-bottom: 5px;
    float: none !important;
}
.rubrikator_body .suggest_box input {
    width: 564px;
}
.comments_box {
    overflow: hidden;
    padding: 0px !important;
    clear: both;
}
.comments_box .post_message {
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    height: 65px;
    margin-bottom: 7px;
    width: 554px;
    padding: 3px;
    float: left;
    resize: none;
}
.comments_box .post_message.gray-text {
    color: gray;
}
.comments_box .btn-style {
    float: left;
}
.comments_box .inputnote {
    float: right;
    margin-right: 3px;
    color: gray;
}
.comments_box .good, .comments_box .error {
    display: none;
    padding: 4px 20px;
    margin-left: 15px; 
    float: left;
} 

.comments_box .error-textarea {
    border: 1px solid #D8000C;    
}


.comments_box .error {
    background-color: #FFBABA;
    border: 1px solid #D8000C;    
    color: #D8000C;   
}

.comments_box .good {
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;    
    color: #4F8A10;
}
.sprite.close_btn{
   float: right;
   margin-right: 8px;
   cursor: pointer;
}