.btns, .btn_show span, .all_services{zoom:1;}
.btns, .slide_nav_row, .btn_show, .btn_show i{ position:relative;}
sup{font-size:12px;}

.brdr_box, .brdr_box_hmenu, .brdr_box_premium, .brdr_btn, .content, .gray_box, .login_form, .all_services_list, .lf_header, .as_header, .paging{behavior:url(/js/PIE.php);}
.content{background-color:#FFF;}