html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;margin:0;outline:0;padding:0;background:transparent;vertical-align:baseline;}
body{background:#fff;font:12px/1.2 Arial, Helvetica, sans-serif;color:#000;}
html, body{height:100%;}
a, a.lnk{outline:none;cursor:pointer;color:#266bab;text-decoration:none;}
a:hover, a:visited:hover, a.lnk:hover, a.lnk:visited:hover, .meta a:hover{color:#0b9df1;}
a img{border:none;}
:focus{outline:none;}
h1{padding:8px 0;font:28px/1 Georgia, "Times New Roman", Times, serif;color:#000;}
h1 sup{bottom:1.6ex;}
h2{font:24px/1 Georgia, "Times New Roman", Times, serif;color:#000;}
h3{padding:10px 0 0 5px;}
table, tr, td{border-collapse:collapse;vertical-align:top;text-align:left;}

sup{
    vertical-align:baseline;
    position:relative;
    line-height:1;
    font-size:10px;
    bottom:0.9ex;
    color:#ababab;
    padding-left:0;
    font-family:Arial, Helvetica, sans-serif !important;
    margin-left: 0;
    margin-right: -100px;
}
input, textarea, select{font:12px Arial, Helvetica, sans-serif;color:#000;}
.formated_text table{max-width:100%;}
.formated_text table, .formated_text table td{border:1px solid #000;}
.formated_text img{max-width:100%;}
.clearfix:after{content:"";clear:both;display:table;}
.main, .footer{width:1243px;margin:0 auto;}
.fl_left{float:left;}
.fl_right{float:right;}
.txt_right{text-align:right;}
.txt_left{text-align:left;}
.row{overflow:hidden;}
.clear{clear:both !important;font-size:0 !important;}
.nobr{white-space:nowrap;}
.pre{white-space:pre;}
.nodecor{text-decoration:none;}
.nobrdr{border:0 none !important}
.nopad{padding:0 !important;}
.nomrgn{margin:0 !important;}
.bold{font-weight:bold;}
.dotted, a.dotted:hover{border-bottom:1px dotted;text-decoration:none !important;}
.notUsed{color:#c7c7c7 !important;}
.brdr_box{border:1px solid #e2e2e2;border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
.brdr_box_hmenu{border:1px solid #e2e2e2;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
.brdr_box_premium{border:1px solid #ffc77e;background-color:#fdfee8;border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
.brdr_top_0{border-radius:0 0 5px 5px !important;-moz-border-radius:0 0 5px 5px !important;-o-border-radius:0 0 5px 5px !important;-webkit-border-radius:0 0 5px 5px !important;}
.brdr_bot_0{border-radius:5px 5px 0 0 !important;-moz-border-radius:5px 5px 0 0 !important;-o-border-radius:5px 5px 0 0 !important;-webkit-border-radius:5px 5px 0 0 !important;}
.date{color:#919191;white-space:nowrap;font-size:10px;font-family:Arial, Helvetica, sans-serif !important}
.mar_-10_top{margin-top:-10px !important;}
.mar_-20_top{margin-top:-20px !important;}
.mar_0_top{margin-top:0px !important;}
.mar_5_left{margin-left:5px !important;}
.mar_5_right{margin-right:5px !important;}
.mar_5_top{margin-top:5px !important;}
.mar_5_bot{margin-bottom:5px !important;}
.mar_10_left{margin-left:10px !important;}
.mar_10_right{margin-right:10px !important;}
.mar_10_bot{margin-bottom:10px !important;}
.mar_10_top{margin-top:10px !important;}
.mar_15_left{margin-left:15px !important;}
.mar_15_right{margin-right:15px !important;}
.mar_15_bot{margin-bottom:15x !important;}
.mar_15_top{margin-top:15px !important;}
.mar_20_bot{margin-bottom:20px !important;}
.black{color:#000 !important;}
.gray{color:#ababab;}
.red{color:#da251d;}
.blue{color:#266bab;}
a.red{color:#da251d;}
a.red:hover, a.red:visited{color:#ff2b22;}
.font_11{font-size:11px !important;line-height:1;}
.font_12{font-size:12px !important;line-height:1;}
.font_14{font-size:14px !important;line-height:1;}
.font_16{font-size:16px !important;line-height:1;}
.font_18{font-size:18px !important;line-height:1.3;}
.font_red{color:#df241c;}
.line_14{line-height:14px;}
.line_18{line-height:18px;}
.icons{background:url(../images/sprite.png) 0 0 no-repeat;display:block;position:relative;}
.icon_vk{width:22px;height:22px;background-position:0 -75px;}
.icon_vk:hover{background-position:0 -100px;}
.icon_twit{width:22px;height:22px;background-position:-25px -75px;}
.icon_twit:hover{background-position:-25px -100px;}
.icon_g_plus{width:22px;height:22px;background-position:-50px -75px;}
.icon_g_plus:hover{background-position:-50px -100px;}
.icon_face{width:22px;height:22px;background-position:-75px -75px;}
.icon_face:hover{background-position:-75px -100px;}
.icon_mail_ru{width:22px;height:22px;background-position:-100px -75px;}
.icon_mail_ru:hover{background-position:-100px -100px;}
.icon_odnolk{width:22px;height:22px;background-position:-125px -75px;}
.icon_odnolk:hover{background-position:-125px -100px;}
.icon_yand{width:22px;height:22px;background-position:-150px -75px;}
.icon_yand:hover{background-position:-150px -100px;}
.icon_vk2{width:16px;height:16px;background-position:0 -125px;}
.icon_vk2:hover{background-position:0 -150px;}
.icon_face2{width:16px;height:16px;background-position:-25px -125px;}
.icon_face2:hover{background-position:-25px -150px;}
.icon_twit2{width:16px;height:16px;background-position:-50px -125px;}
.icon_twit2:hover{background-position:-50px -150px;}
.icon_vk3{width:32px;height:32px;background-position:-300px -125px;}
.icon_vk3:hover{background-position:-300px -175px;}
.icon_face3{width:32px;height:32px;background-position:-200px -125px;}
.icon_face3:hover{background-position:-200px -175px;}
.icon_twit3{width:32px;height:32px;background-position:-250px -125px;}
.icon_twit3:hover{background-position:-250px -175px;}
.icon_rss{background-position:-225px -25px;width:16px;height:16px;}
.icon_star{background-position:-250px -25px;width:13px;height:12px;display:inline-block;position:relative;vertical-align:top;margin:1px 4px 0 0}
.icon_star.star_sel{background-position:-250px -50px;}
.b_star.star_sel{background-position:-250px -50px;}
.icon_seller{background-position:-275px -25px;width:40px;height:9px;}
.icon_service{background-position:-275px -50px;width:40px;height:9px;}
.icon_buyer{background-position:-275px -75px;width:40px;height:9px;}
.icon-comment{background-position:-225px -100px;width:15px;height:13px;}
.icon_close{background-position:-250px -75px;width:11px;height:11px;cursor:pointer;}
.icon_mm_arr_sel{background-position:-200px -75px;width:12px;height:6px;display:none;}
.btns{background:url(../images/btns.png) 100% 0 no-repeat;display:inline-block;position:relative;margin-left:5px;text-align:center;padding:4px 12px 0 6px; text-shadow:1px 1px 1px #154451;text-decoration:none;height:19px;font-size:11px;line-height:14px; color:#fff;}
.btns i{background:url(../images/btns.png) 0 0 no-repeat;display:block;position:absolute;height:23px;top:0;left:-5px;width:5px;}
.btns:hover{text-decoration:none;background-position:100% -23px;color:#fff;text-shadow:1px 1px 1px #154451;}
a.btns:hover{color:#fff}

.btns:hover i{background:url(../images/btns.png) 0 -23px no-repeat;}
.btns.gray_btn{background-position:100% -46px;color:#3a3a3a;text-shadow:1px 1px 1px #FFF;}
.btns.gray_btn i{background-position:0 -46px;}
.btns.gray_btn:hover{background-position:100% -69px;color:#3a3a3a;text-shadow:1px 1px 1px #FFF;}
.btns.gray_btn:hover i{background-position:0 -69px;}
.btns.btn_gold{background-position:100% -322px;color:#3a3a3a;text-shadow:1px 1px 1px #FFF;}
.btns.btn_gold i{background-position:0 -322px;}
.btns.btn_gold:hover{background-position:100% -345px;color:#3a3a3a;text-shadow:1px 1px 1px #FFF;}
.btns.btn_gold:hover i{background-position:0 -345px;}
.btns.btn_h32{background-position:100% -368px;padding:7px 12px 0 6px;height:25px;font-size:14px;line-height:16px;}
.btns.btn_h32 i{background-position:0 -368px;height:32px;}
.btns.btn_h32:hover{background-position:100% -400px;}
.btns.btn_h32:hover i{background-position:0 -400px;}
.brdr_btn{border:1px solid #e2e2e2;padding:5px 11px;display:inline-block;border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;font-size:12px;line-height:14px;text-decoration:none;}
.brdr_btn:hover{text-decoration:none;border-color:#aed8f1;}
.btn_show{text-decoration:none;display:inline-block;background-color:#FFF;width:119px;height:20px;padding:2px 0 0 0;text-align:center;border:1px solid #f5f5f5;border-radius:6px 6px 0 0;box-shadow:0 -2px 5px #c9c9c9;}
.btn_show_sections{display:inline-block;width:100%;padding:2px 0 10px 0;text-align:center;}
.btn_show span, .btn_show_sections span{font-size:11px;line-height:13px;}
.btn_show .icons, .btn_show_sections .icons{display:inline-block;vertical-align:top;margin:4px 0 0 5px;width:7px;height:6px;position:relative;}
.btn_show:hover, .btn_show_sections:hover{text-decoration:none;}
.btn_show.closed .icons, .btn_show_sections.closed .icons{background-position:-200px -32px;}
.btn_show.closed:hover .icons, .btn_show_sections.closed:hover .icons{background-position:-208px -32px;}
.btn_show.opened .icons, .btn_show_sections.opened .icons{background-position:-200px -39px;}
.btn_show.opened:hover .icons, .btn_show_sections.opened:hover .icons{background-position:-208px -39px;}.input_box{position:relative;}
.input_box .search_submit{position:absolute;background-position:-200px -50px;width:13px;height:11px;right:7px;top:4px;}
.input_box input[type='text']{padding:1px 25px 0 5px;}
.header{height:154px;position:relative;}
.header .logo{display:block;margin:37px 0 0 20px;position:absolute;}
.all_services{z-index:108;}
.all_services_list{z-index:109;}
.login_block, .all_services{float:right;position:relative;height:14px;right:0;text-align:right;}
.cours-bl{float:left;position:relative;height:14px;left:16px;z-index:10;text-align:right;}
.cours-bl a{text-decoration:none;}
.login_form, .all_services_list{position:absolute;display:none;background-color:#FFF;right:0;border:1px solid #e1e1e1;-webkit-box-shadow:0 0 5px 0 #BABABA;box-shadow:0 0 5px 0 #BABABA;}
.allcourseslist{position:absolute;display:none;background-color:#FFF;right:-10px;top:1px;z-index:11;border:1px solid #e1e1e1;margin:20px 0 0;-webkit-box-shadow:0 0 5px 0 #BABABA;box-shadow:0 0 5px 0 #BABABA;}
.lf_header, .as_header{position:absolute;text-align:right;background-color:#FFF;height:23px;top:-28px;right:-1px;z-index:12;border:1px solid #e1e1e1;-webkit-box-shadow:0 0 5px 0 #BABABA;box-shadow:0 0 5px 0 #BABABA;}
.lf_header_bottom, .as_header_bottom{position:absolute;z-index:13;height:8px;background-color:#FFF;bottom:-7px;right:0;}
.login_block{margin:64px 22px 0 0;width:200px;}
.login_lnk{line-height:14px;color:#000;}
.login_form{margin:21px -22px 0 0;text-align:left;padding:20px;width:200px;}
.lf_header{width:130px;padding:5px 20px 0 0;}
.lf_header_bottom{width:158px;}
.login_form .login_lnk{color:#266bab;}
.login_form .spaser{height:5px;font-size:0;line-height:0;overflow:hidden;}
.lb_label{padding:2px 0 3px;}
.lb_input_box{margin:0 0 3px;}
.lb_input_box input{border-top:1px solid #aaa;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;border-left:1px solid #aaa;padding:0 5px;width:188px;color:#000;height:20px;line-height:20px;vertical-align:middle;}
.login_form .forgot_pswrd, .login_form .forgot_pswrd:hover{font-size:11px;line-height:13px;text-decoration:none;display:inline-block;}
.login_form .btns{padding:3px 11px 0 7px;margin-top:8px;font-size:12px;line-height:15px;height:20px;}
.login_form .socials{padding:12px 0 0;}
.login_form a{display:inline-block;margin-right:1px;}
.yetauth a.nick{text-decoration:none;font-weight:bold;margin:0 3px;}
.yetauth i{color:#ccc;margin:0 4px 0 1px;}
.yetauth a.away{text-decoration:none;}
.yetauth a.nick:hover{color:#ff2b22;text-decoration:underline;}
.search_block{margin:35px 0 0 227px;position:absolute;width:570px;}
.search_selectors{margin:0;}
.search_selectors a{display:inline-block;border:3px solid #fff;text-decoration:none;font-size:11px;line-height:14px;height:13px;padding:1px 10px 0;border-radius:3px 3px 0 0;}
.search_selectors a:hover{text-decoration:none;}
.search_selectors a.sel{border-color:#ededed;background-color:#ededed;color:#000;}
.search_form{border:4px solid #ededed;border-radius:0 4px 4px 4px;}
.search_form_suggest{border:1px solid;border-color:#aaa #cfcfcf #cfcfcf #aaa;}
.search_form_suggest .input_box{background-color:#fff;}
.search_form_suggest .top_search_input{border:0 none;padding:5px 30px 3px 5px !important;height:23px;line-height:14px;font-size:12px;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.main_memu{height:69px;background:url(../images/main_menu.png) 1px 0 no-repeat;position:relative;z-index:90;top:33px;left:0;padding-left:1px;}
.mm_top{height:44px;}
.all_services{margin:14px 20px 0 0;width:110px;}
.as_lnk, .as_lnk:hover{text-decoration:none;font-size:14px;line-height:16px;}
.as_lnk .icons{float:right;background-position:-200px -25px;width:6px;height:4px;display:inline-block;vertical-align:top;margin:7px 0 0 8px;}
.as_lnk:hover .icons{background-position:-207px -25px;}
.all_services_list{margin:21px -20px 0 0;width:148px;padding:12px;}
.as_header{width:115px;padding:5px 19px 0 0px;}
#allcoursesID .as_header{width:115px;padding:5px 5px 0 0;}
.as_header_bottom{width:150px;}
.as_list{text-align:left;margin:0 0 8px;padding:0 0 0 3px;list-style:none;}
.as_list li{padding:3px 3px 4px;}
.as_list li a, .as_list li .ra{display:block;color:#000;background:url(../images/left_menu.gif) 0 7px no-repeat;font-size:12px;line-height:16px;padding-left:13px; cursor:pointer;}
.as_list li a:hover{color:#0b9df1;}
.mm_static_menu{float:left;width:342px;}
.mm_static_menu a, .mm_static_menu .ar{position: relative;text-decoration:none;color:#FFF;font-size:16px;line-height:18px;padding:12px 0 0;text-align:center;display:inline-block;height:32px;margin:0 1px 0 0;float:left; cursor: pointer;}
.mm_static_menu a.sel, .mm_static_menu a:hover, .mm_static_menu .ar:hover{text-decoration:underline;color:#fff;background-image:url(../images/sprite.png);background-repeat:no-repeat;}
.mm_static_menu a.sel, .mm_static_menu a.sel:hover, .mm_static_menu .ar:hover{text-decoration:none;position:relative; cursor: ;}
.mm_static_menu a.sel .icon_mm_arr_sel, .mm_static_menu .ar.sel .icon_mm_arr_sel{display:block;position:absolute;top:0;left:49%;}
.sm_companies{ width: 91px;
  text-align: left!important;
  padding-left: 20px !important;}
.sm_companies:hover, .sm_companies.sel, .sm_companies.sel:hover{background-position: -10px -200px;}
.sm_advertising{  width: 121px;
  padding-left: 17px !important;
  text-align: left !important;}
.sm_advertising:hover, .sm_advertising.sel, .sm_advertising.sel:hover{background-position:  -29px -200px;}

.sm_advertising.ar.sel .icon_mm_arr_sel{
  display: block;
  position: absolute;
  top: 0;
  left: 56px;
}

.sm_market{width:90px;}
.sm_market:hover, .sm_market.sel, .sm_market.sel:hover{background-position:0 -200px;}
.sm_tenders{width:100px;}
.sm_tenders:hover, .sm_tenders.sel, .sm_tenders.sel:hover{background-position:-53px -200px;}
.mm_static_menu a.sm_tenders.sel .icon_mm_arr_sel{left:43%;}
.mm_sub_menu{max-height:44px;overflow:hidden;}
.mm_sub_menu a, .mm_sub_menu .ar{color:#e3231b;text-decoration:none;font-weight:bold;font-size:14px;line-height:16px;display:inline-block;margin-left:20px;height:30px;padding:14px 0 0;}
.mm_sub_menu a:first-child{margin-left:12px;}
.mm_sub_menu .sel, .mm_sub_menu a:hover{border-bottom:3px solid #E3231B;height:27px;color:#000;cursor:default;position:relative;}
.mm_sub_menu a:hover, .mm_sub_menu .ar:hover{cursor:pointer;}
.mm_sub_menu .sel:hover{cursor:default;}
.mm_sub_menu .sel:before, .mm_sub_menu a:hover:before{content:'';display:block;position:absolute;bottom:-1px;left:50%;margin-left:-5px;border-bottom:6px solid #E3231B;border-left:5px solid transparent;border-right:5px solid transparent;border-left:5px solid RGBA(255,255,255,0);border-right:5px solid RGBA(255,255,255,0);}
.mm_bottom{height:20px;font-size:11px;line-height:14px;padding:5px 0 0;}
.add_menu{float:left;width:318px;padding:0 9px 0 23px;}
.add_menu a{margin-left:10px;}
.mm_bottom .date{color:#ababab;padding-left:5px;font-size:11px;float:left;}
.courses .icons{background-position:-175px -25px;width:14px;height:14px;display:inline-block;vertical-align:top;margin:-1px 4px 0;}
.courses, #allcoursesID .courses{float:left;position:relative;height:14px;right:0;z-index:10;text-align:left;margin-left:16px;}
.courses:hover{text-decoration:none;}
.mm_bottom .custom_menu{float:right;text-align:right;padding-right:22px;}
.mm_bottom .custom_menu a{margin-left:20px;}
.mm_bottom .custom_menu a:first-child{margin-left:10px;}
.content{border-bottom:2px solid #da251d;border-top:0px solid #EAEAEA;border-left:1px solid #EAEAEA;border-right:1px solid #EAEAEA;margin-bottom:10px;padding:42px 0 25px;-webkit-box-shadow:0 0 10px 0 #D6D6D6;box-shadow:0 0 10px 0 #D6D6D6;}
.content_box{overflow:hidden;}
.left_col{float:left; width:185px; padding: 0 0 0 20px;}
.middle_col .left_col{
	padding:0 0 0 0;
	margin-left: 0px;
}
.right_col{float:right;width:301px;padding:0 20px 0 0;}
.middle_col{overflow:hidden;padding:0 20px;position:relative;}
.as_list{position:relative;display:block;}
.as_list li{position:relative;display:block;}
.content input[type='text'], .content select, .content textarea{border:1px solid;border-color:#aaa #cfcfcf #cfcfcf #aaa;font-size:12px;background-color:#FFF;}
.content input[type='text']{height:16px;line-height:16px;vertical-align:middle;}

.mb_menu{list-style:none;height:25px;overflow:hidden;}
.mb_menu li{background:url(../images/btns.png) 3px -167px no-repeat;float:left;font-size:11px;line-height:18px;height:25px;position:relative;overflow:visible;}
.mb_menu li .sclew{background:url(../images/btns.png) 100% -167px no-repeat;position:absolute;width:16px;right:-16px;top:0;height:25px;z-index:1;}
.mb_menu li a, .mb_menu li a:hover, .mb_menu li span{text-decoration:none;display:inline-block;padding:4px 3px 0 21px;height:21px;overflow:hidden;}
.mb_menu li:hover{background-position:3px -142px;}
.mb_menu li:hover .sclew{background-position:100% -142px;}
.mb_menu li:hover a{color:#FFF;}
.mb_menu li:first-child, .mb_menu li:first-child.nohover, .mb_menu li:first-child.nohover:hover{background-position:0 -217px;}
.mb_menu li:first-child.nohover{cursor:default;}
.mb_menu li.mb_title, .mb_menu li:first-child.sel, .mb_menu li:first-child.sel:hover{background-position:0 -92px;}
.mb_menu li:first-child a, .mb_menu li:first-child span{padding:4px 3px 0 16px;}
.mb_menu li:first-child .sclew, .mb_menu li:first-child.nohover .sclew, .mb_menu li:first-child.nohover:hover .sclew{background-position:100% -217px;}
.mb_menu li.mb_title .sclew, .mb_menu li:first-child.sel .sclew, .mb_menu li:first-child.sel:hover .sclew{background-position:100% -92px;}
.mb_menu li:first-child:hover{background-position:0 -192px;}
.mb_menu li.mb_title:hover{background-position:0 -92px;}
.mb_menu li:first-child:hover .sclew{background-position:100% -192px;}
.mb_menu li.mb_title:hover .sclew{background-position:100% -92px;}
.mb_menu li.mb_title{background-image:url(../images/btns-1px.png);background-repeat:repeat-x;-webkit-border-radius:4px 0 0 0;border-radius:4px 0 0 0;color:#FFF;font:16px Georgia, "Times New Roman", Times, serif;}
.mb_menu li.mb_title a{padding:2px 10px 0 16px;height:23px;}
.mb_menu li.mb_title a, .mb_menu li.mb_title a:hover, .mb_menu li.mb_title a sup{color:#FFF;}
.mb_menu li.mb_title a sup{margin-right:8px;}
.mb_menu li.mb_title a:hover{cursor:default;}
.mb_menu li.sel{background-position:3px -117px;}
.mb_menu li.sel .sclew{background-position:100% -117px;}
.mb_menu li.sel a{color:#FFF;cursor:default;}
.mb_menu li.mb_clear{background:none;}
.mb_menu li.mb_clear a:hover{color:#0b9df1;}
.mb_menu li .icon_star{margin-top:2px;}

.withTitleArt .mb_menu .mb_title{background-position:0 -432px !important;}
.withTitleArt .mb_menu li.mb_title .sclew{background-position:100% -432px;}
.withTitleArt li.mb_title a{color:#266BAB;}
.withTitleArt .mb_menu .mb_title.sel, .withTitleArt .mb_menu .mb_title.sel:hover{background-position:0 -92px !important;}
.withTitleArt .mb_menu li.mb_title.sel .sclew, .withTitleArt .mb_menu .mb_title.sel:hover .sclew{background-position:100% -92px;}
.withTitleArt li.mb_title.sel a, .withTitleArt li.mb_title:hover a{color:#FFF;}
.withTitleArt .mb_menu li.mb_title a:hover{cursor:pointer;}
.withTitleArt .mb_menu li.mb_title.sel a:hover{cursor:default;}
.withTitleArt .mb_menu .mb_title:hover{background-position:0 -192px !important;}
.withTitleArt .mb_menu li.mb_title:hover .sclew{background-position:100% -192px;}
.withTitlePhoto .mb_menu .mb_title{background-position:0 -432px !important;}
.withTitlePhoto .mb_menu li.mb_title .sclew{background-position:100% -432px;}
.withTitlePhoto li.mb_title a{color:#266BAB;}
.withTitlePhoto .mb_menu .mb_title.sel, .withTitlePhoto .mb_menu .mb_title.sel:hover{background-position:0 -92px !important;}
.withTitlePhoto .mb_menu li.mb_title.sel .sclew, .withTitlePhoto .mb_menu .mb_title.sel:hover .sclew{background-position:100% -92px;}
.withTitlePhoto li.mb_title.sel a, .withTitlePhoto li.mb_title:hover a{color:#FFF;}
.withTitlePhoto .mb_menu li.mb_title a:hover{cursor:pointer;}
.withTitlePhoto .mb_menu li.mb_title.sel a:hover{cursor:default;}
.withTitlePhoto .mb_menu .mb_title:hover{background-position:0 -192px !important;}
.withTitlePhoto .mb_menu li.mb_title:hover .sclew{background-position:100% -192px;}
.gray_box{background-color:#f5f5f5;border-radius:0 0 4px 4px;padding:5px 5px 12px;box-shadow:1px 1px 5px RGBA(0,0,0,.41);}
.white_box{border:#F5F5F5 solid 1px;border-radius:0 0 4px 4px;padding:5px 5px 12px;}
.lc_block.gray_box{padding:0;border-radius:4px;}
.title_list{list-style:none;}
.title_list li{padding:3px 0 8px;color:#000;line-height:18px;}
.title_list li a{color:#000;text-decoration:none;}
.title_list li a:hover{color:#0b9df1;}
.title_list li .date{padding-left:7px;}
.nav_row{padding:11px 0 2px;}
.nav_row .btns{margin-top:-4px;}
.lc_block{margin-bottom:20px;}
.lc_block .title, .rc_block .title, .mc_block .title{padding:10px 0;}
.lc_block .title, .lc_block .title a, .rc_block .title, .rc_block .title a, .mc_block .title a, .news_item .title, .lc_block .title span{color:#da251d;}
.lc_block .title, .lc_block .title a, .rc_block .title, .rc_block .title a, .mc_block .title, .mc_block .title a{font:normal 16px/19px Georgia, 'Times New Roman', Times, serif;text-decoration:none;}
.lc_block .title a:hover, .rc_block .title a:hover, .mc_block .title a:hover{text-decoration:none;color:#ff2b22;}
.lc_block .faces_row, .rc_block .faces_row{padding-top:8px;margin-bottom:7px;overflow:hidden;}
.lc_block .faces_row .row{overflow:visible;}
.lc_block .wrap{padding:5px 7px;}
.lc_block.brdr_box .title, .lc_block.gray_box .title{padding-top:1px;}
.lc_block .catalog_title, .lc_block .catalog_title a{font-size:12px;}
.lc_block .catalog_title, .lc_block .catalog_title .dotted{color:#999;}
.left_menu{list-style:none;padding:0 0 0px 0;position:relative;}
.left_menu li{color:#ababab;line-height:14px;}
.left_menu a, .left_menu a:visited{color:#000;text-decoration:none;display:block;position:relative;padding:2px 3px;}
.left_menu a:before, .left_menu .selected a:hover:before{content:'';display:block;position:absolute;margin:6px 0 0 -11px;width:3px;height:3px;overflow:hidden;background-color:#ababab;}
.left_menu a:hover{color:#e3231b;}
.left_menu a:hover:before{margin:-2px 0 0 -11px;height:100%;background-color:#e3231b;}
.left_menu a:hover:after{content:'';display:block;position:absolute;top:50%;margin:-4px 0 0 -9px;border-left:4px solid #e3231b;border-top:4px solid transparent;border-bottom:4px solid transparent;border-top:4px solid RGBA(255,255,255,0);border-bottom:4px solid RGBA(255,255,255,0);}
.left_menu .selected, .left_menu .selected a, .left_menu .selected a:visited, .left_menu .selected a:hover{color:#e3231b;font-weight:bold;}
.left_menu .selected a:hover:after{display:none;}
.left_menu li.submenu-box{position:relative;}
.lc_block .rating_list{font-size:11px;margin:7px 0;}
.rating_list th{text-align:left;font-weight:bold;}
.rating_list td{padding:3px 0 1px;}
.rating_list td.txt_right{vertical-align:middle;padding-left:5px;}
.rating_list td:first-child{vertical-align:top;color:#919191;font-size:10px;line-height:14px;width:15px;}
.subscr_form input[type='text']{padding:0 5px;width:110px;height:18px;line-height:18px;vertical-align:bottom;font-size:12px;border:1px solid;border-color:#aaa #cfcfcf #cfcfcf #aaa;margin-bottom:10px;}
.subscr_form .btns{vertical-align:top;position:relative;top:-2px;}
.subscr_form a.nodecor{padding-left:21px;display:inline-block;}
.subscr_form a.nodecor .icon_rss{position:absolute;margin:-2px 0 0 -21px;}
.mini_search_form .input_box{margin:7px 5px 9px 1px;}
.mini_search_form .input_box input[type='text']{width:135px;padding-right:20px;}
.mini_search_form .input_box .search_submit{right:2px;}
.mini_search_form .star_sel{margin:1px 0 0 -16px;position:absolute;}
.mini_search_form .nodecor{display:inline-block;padding-left:16px;margin:0 0 4px 1px;}
.rc_block{margin-bottom:5px;}
.rc_block .wrap{padding:0 16px 8px;}
.rc_block .catalog_list .title_list{height:330px;overflow:hidden;}
.rc_block .catalog_list li{padding:0px 0 2px;height:36px;}
.rc_block .catalog_list .nav_row{margin-bottom:0;}
.faces_box .socials{float:right;margin:3px -3px 0 0;}
.faces_box .socials .icons{display:inline-block !important;margin-left:6px;vertical-align:top;}
.faces_box .faces_row{margin-bottom:10px;overflow:hidden;margin-left:-1px;}
.faces_row .image_box{width:50px;height:50px;margin-top:2px;overflow:hidden;float:left;margin-right:14px;position:relative;}
.faces_row .image_box img{max-height:50px;max-width:50px;}
.faces_row .image_box a{display: block; text-align: center}
.image_box .v_time{display:block;position:absolute;z-index:3;color:#FFF !important;background-color:#000;font-size:11px;line-height:14px;height:14px;text-align:center;width:30px;overflow:hidden;border-radius:3px;bottom:0;right:1px;text-decoration:none !important;}
.faces_row .name{color:#000;line-height:14px;overflow:hidden;}
.faces_row .name a{color:#000;text-decoration:none;}
.faces_row p{font-size:11px;line-height:14px;color:#000;}
.faces_row p a{color:#000;text-decoration:none;}
.faces_row p a.lnk{color:#266bab;}
.faces_row p a:hover, .faces_row p a.hovered, .faces_row p a.lnk:hover, .faces_row p a.lnk.hovered, .faces_row p a.lnk:visited:hover{color:#0b9df1;text-decoration:underline;}
.faces_row .name a:hover, .faces_row .name a.hovered{text-decoration:none;color:#0b9df1;}
.r_video{line-height:18px;}
.gray_box.r_video{padding-bottom:5px;}
.r_video .faces_row p:first-child{height:36px;overflow:hidden;}
.r_video a.lnk{font-weight:bold;line-height:18px;}
.faces_row .post, .faces_row .company, .faces_row .company a{font-size:11px;line-height:13px;color:#919191;overflow:hidden;text-decoration:none;}
.faces_row .post, .faces_row .company{padding-top:4px;}
.company a:hover{color:#0b9df1;}
.faces_box .faces_row .post, .faces_box .faces_row .company, .faces_box .faces_row .company a{height:14px;}
.mc_block{margin-bottom:10px;}
.breadcrumbs{font-size:12px;padding:12px 0 5px;color:#ababab;}
.breadcrumbs a{color:#ababab;text-decoration:none;}
.breadcrumbs a:hover{color:#da251d;}
.meta{color:#999999;font-size:12px;padding-top:5px;}
.meta a{color:#999999;text-decoration:underline;}
.mc_block .title_list li{padding:5px 0;}
.news_list .item_row{margin-top:20px;padding-bottom:3px;overflow:hidden;}
.news_item .detail_picture{max-width:100%;height:auto;position:relative;float:left;margin:0 5px 2px 0;}
.news_list .image_box{float:left;margin:2px 15px 0 0;width:100px;height:100px;overflow:hidden;}
.news_list .image_box a{width:100%;height:100px;}
.news_list .image_box img{height:100%\0/;width:100%\0/;}
.news_list .image_box img{max-width:100%;height:auto;position:relative;}
.news_list .title{line-height:18px;margin:0 0 12px 0;padding:0;}
.interv .title{line-height:18px;}
.news_list .title a{color:#000;text-decoration:none;}

.news_list p{line-height:16px;}
.news_list .date{padding-left:7px;}
.news_list .item_row .meta{padding-top:8px;}
.main_news{margin-top:-1px;}
.main_news .imgBox{float:left;margin:5px 14px 3px 0;min-width:229px;min-height:10px;}
.main_news .name{font-size:22px;line-height:1.3;margin-bottom:15px;}
.main_news .name .date{margin:-25px 0 0 -13px;}
.main_news .name .date .icons{margin:1px 3px 0 0;}
.main_news .name a{font-family:Georgia;text-decoration:none;}.news_item{line-height:18px;}
.news_item .imgBox{float:left;margin:5px 14px 3px 0;}
.news_item .name{font-size:14px;margin-bottom:20px;font-weight:bold;}
.news_item p{padding-bottom:18px;}
.news_item p a{text-decoration:none;}
.news_item .gray_box{padding-bottom:9px;margin-bottom:20px;}
.news_item_footer{clear:both;position:relative;border-bottom:2px solid #da251d;height:30px;}
.news_item_footer .to_top{right:0;bottom:0;}
.news_comments{margin-top:32px;padding:17px 21px 21px;position:relative;}
.total_comments{font-size:11px;line-height:13px;color:#919191;text-align:right;float:right;padding:5px}
.total_comments .icon-comment{display:inline-block;vertical-align:top;position:relative;}
.news_comments textarea{font-size:12px;line-height:18px;width:100%;max-width:100%;min-height:95px;margin:10px 0 5px;}
.comment_row{border-bottom:1px solid #e2e2e2;padding:16px 0;}
.comment_row .autor{width:86px;padding-right:10px;}
.commens_info_row{padding:16px 0 0 96px;}
.small_img_gallery ul{margin:0 -10px 0 0;list-style:none;}
.small_img_gallery ul li{margin:0 10px 20px 0;float:left;}
.small_img_gallery li a{display:block;width:103px;height:77px;overflow:hidden;}
.small_img_gallery li a img{max-height:77px;max-width:103px;}
.small_img_gallery li a.more_imgs{background:#f5f5f5;text-decoration:none;line-height:77px;text-align:center;}
.small_img_gallery li a.more_imgs span{display:inline-block;vertical-align:middle;}
.slide_nav_row{text-align:center;margin:1px 0 0;position:absolute;bottom:0;width:100%;}
.double_news{float:left;width:50%;padding-top:11px;}
.double_news .name{margin-bottom:7px;padding-left:14px;padding-right:25px;}
.double_news .name a{font-size:18px;text-decoration:none;}
.double_news .name .date{margin:-16px 0 0 -13px;}
.double_news .name .date .icons{margin:0px 3px 0 0;}
.double_news p{padding-left:14px;padding-right:25px;min-height:108px;}
.main_news .name, .main_news .name a, .double_news .name, .double_news .name a{font-family:Georgia, 'Times New Roman', Times, serif;color:#000;}
.main_news .name a:hover, .double_news .name a:hover{color:#ff2b22;}
.main_news p, .double_news p{line-height:18px;}
.main_news .name .date, .double_news .name .date{position:absolute;line-height:12px;}
.main_news .name .date .icons, .double_news .name .date .icons{display:inline-block;position:relative;vertical-align:top;width:7px;height:12px;background-position:-175px -50px;}
.news_lenta{min-height:230px;position:relative;padding-bottom:30px;}
.news_lenta .title_list{padding-right:10px;}
.news_lenta .icon_rss{position:absolute;right:4px;top:4px;}
.double_brdr_box{width:48%;}
.double_brdr_box .wrap{position:relative;padding:0 3px 0 13px;}
.double_brdr_box .icon_rss{position:absolute;right:3px;top:12px;}
.double_brdr_box .title a{font-size:18px;line-height:20px;}
.double_brdr_box .title_list_wrap{height:320px;overflow-y:scroll;}
.double_brdr_box .nav_row, .gray_box .nav_row{padding:16px 13px 12px;}
.full-row{margin:0 -301px 0 -185px;}
.double_news_list{width:49%;float:left;}
.double_news_list + .double_news_list{float:right;}
.double_news_list .item_row{border-top:1px solid #e2e2e2;padding:9px 14px 0;margin:0 0 11px;}
.double_news_list .item_row:first-child{border-top:0px none;}
.peoples_table{overflow:hidden;position:relative;}
.peoples_table .brdr_w_top{border-top:1px solid #FFF;position:absolute;left:0;top:0;width:100%;}
.peoples_table .brdr_w_right{border-right:1px solid #FFF;position:absolute;right:0;top:0;height:100%;}
.peoples_table .brdr_w_bottom{border-bottom:1px solid #FFF;position:absolute;left:0;bottom:0;width:100%;}
.peoples_table .brdr_w_left{border-left:1px solid #FFF;position:absolute;left:0;top:0;height:100%;}
.peoples_table td{border:1px solid #e2e2e2;width:50%;}
.peoples_table .item_row{padding:20px;overflow:hidden;float:left;width:43%;border-left:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.treecoll .item_row{float:left;width:27%;}
.peoples_table tr td:first-child .item_row{padding-left:1px !important;}
.peoples_table .image_box{float:left;margin:2px 15px 0 0;}
.peoples_table .title{line-height:18px;margin:0 0 12px 0;}
.peoples_table .title a{color:#000;text-decoration:underline;}
.peoples_table .title a:hover, .peoples_table .title a.hovered{color:#ff2b22;}
.peoples_table p{line-height:16px;}
.ppl_actions{margin-top:10px;}
.semd_msg, .add_frend{display:inline-block;margin-right:12px;}
.semd_msg i, .add_frend i{position:absolute;margin-top:3px;}
.semd_msg{padding-left:17px;}
.semd_msg i{margin-left:-17px;background-position:-225px -50px;width:13px;height:10px;}
.add_frend{padding-left:20px;}
.add_frend i{margin-left:-20px;background-position:-225px -75px;width:16px;height:10px;}
.bds_list{padding-top:2px;}
.bds_prem_type{padding:4px 10px 3px;background-color:#ffd815;margin-bottom:2px;}
.bds_prem_type table{width:100%;}
.bds_prem_type td{vertical-align:middle;text-align:right;}
.bds_prem_type td:first-child{text-align:left;}
.bds_list .bds_prem_type, .bds_list .bds_row{margin-top:-1px;position:relative;}
.bds_row{border:1px solid #e2e2e2;background-color:#fefefc;padding:9px 16px 9px 9px}
.bds_row.premium{border-color:#ffc77e;background-color:#fdfee8;z-index:2}
.bds_row table{width:100%;}
.bds_row table td{vertical-align:middle;text-align:center;}
.bds_row .image_box{width:72px;}
.bds_row .image_box img{max-height:72px !important;max-width:72px !important;display:block;margin:0 auto;}
.bds_row .bds_info{vertical-align:top;text-align:left;}
.bds_row .bds_info .tdWrap{padding:3px 20px 5px 10px;}
.bds_info .bds_title{color:#266bab;font-weight:bold;font-size:12px;line-height:14px;height:14px;overflow:hidden;margin-bottom:5px;}
.bds_info .bds_title a{text-decoration:none;}
.bds_info .bds_title .bds_type{display:inline-block;margin:2px 5px 0 0;vertical-align:top;}
.bds_info .bds_text{font-size:11px;line-height:13px;overflow:hidden;}
.bds_row .bds_info .meta{height:14px;overflow:hidden;}
.bds_row .bds_price{width:106px;}
.bds_price b{color:#010101;}
.bds_price span{display:block;line-height:14px;font-size:11px;padding-top:3px;}
.bds_price span.red{color:#e3231b;}
.bds_row .bds_nav{width:77px;text-align:right;}
.bds_row .bds_nav .tdWrap{padding:5px 0 5px 5px;}
.bds_nav a{font-size:11px;line-height:14px;display:inline-block;margin-bottom:2px;}
.bds_row .bds_nav .star_lnk .icon_star{margin-top:0;}
.star_lnk:hover{text-decoration:none;}
.star_lnk:hover span{text-decoration:underline;}

.footer{height:315px;background:url(../images/footer.png) 0 100% repeat-x #fff;}
.footer .right_col{position:relative;}
.to_top{background-position:-75px -25px;width:77px;height:25px;position:absolute;right:20px;}
.footer .to_top{top:-36px;}
.footer .to_top:hover{background-position:-75px -50px;}
.footer .right_col .title, .footer .middle_col .title{font-size:12px;line-height:14px;padding:4px 0 3px 16px;}
.footer .right_col p, .footer .middle_col p{font-size:11px;line-height:16px;color:#919191;padding:8px 0 0 16px;}
.footer .middle_col .title{padding-left:1px;}
.footer .to_main_lnk{display:inline-block;position:absolute;font-size:12px;text-decoration:underline;color:#da251d;font-weight:bold;margin:-39px 0 0;}
.footer .to_main_lnk:hover{color:#ff2b22;}
.foter_menu{padding:12px 0 22px;}
.foter_menu a{margin-left:17px;}
.foter_menu a:first-child{margin-left:0;}
.footer .middle_col p{padding:0;}
.footer .middle_col p a{color:#919191;}
.footer .middle_col p a:hover{color:#0b9df1;}
.footer .counters{margin-top:40px;}
.bds_prem_type{padding:4px 10px 3px; background-color:#ffd815; margin-bottom:2px;}
	.bds_prem_type table{width:100%;}
	.bds_prem_type td{vertical-align:middle; text-align:right;}
	.bds_prem_type td:first-child{text-align:left;}
	.bds_list .bds_prem_type, .bds_list .bds_row{margin-top:-1px; position:relative;}

.bds_row{border:1px solid #e2e2e2; background-color:#fefefc; padding:9px 16px 9px 9px}
	.bds_row.premium{border-color:#ffc77e; background-color:#fdfee8; z-index:2}
	.bds_row table{width:100%;}
	.bds_row table td{vertical-align:middle; text-align:center;}
	.bds_row .image_box{width:72px;}
	.bds_row .image_box img{max-height:72px !important; max-width:72px !important; display:block; margin:0 auto;}
	.bds_row .bds_info{vertical-align:top; text-align:left;}
	.bds_row .bds_info .tdWrap{padding:3px 20px 5px 10px;}
	.bds_info .bds_title{color:#266bab; font-weight:bold; font-size:12px; font-family: arial, helvetica, sans-serif; padding: 0; line-height:14px; height:14px; overflow:hidden; margin-bottom:5px;}
	.bds_info .bds_title a{text-decoration:none;}
	.bds_info .bds_title .bds_type{display:inline-block; margin:2px 5px 0 0; vertical-align:top;}
	.bds_info .bds_text{font-size:11px; line-height:13px; overflow:hidden;}
	.bds_row .bds_info .meta{height:14px; overflow:hidden;}
	.bds_row .bds_price{width:106px;}
	.bds_price b{color:#010101;}
	.bds_price span{display:block; line-height:14px; font-size:11px; padding-top:3px;}
	.bds_price span.red{color:#e3231b;}
	.bds_row .bds_nav{width:77px; text-align:right;}
	.bds_row .bds_nav .tdWrap{padding:5px 0 5px 5px;}
	.bds_nav a{font-size:11px; line-height:14px; display:inline-block; margin-bottom:2px;}
	.bds_row .bds_nav .star_lnk .icon_star{margin-top:0;}
	.star_lnk:hover{text-decoration:none;}
	.star_lnk:hover span{text-decoration:underline;}

/* Footer ******************************/
.footer{height:315px; background:url(../images/footer.png) 0 100% repeat-x #fff;}
	.footer .right_col{position:relative;}
	.to_top{background-position:-75px -25px; width:77px; height:25px; position:absolute; right:20px;}
	.footer .to_top{top:-36px;}
	.footer .to_top:hover{background-position:-75px -50px;}
	.footer .right_col .title, .footer .middle_col .title{font-size:12px; line-height:14px; padding:4px 0 3px 16px;}
	.footer .right_col p, .footer .middle_col p{font-size:11px; line-height:16px; color:#919191; padding:8px 0 0 16px;}
	.footer .middle_col .title{padding-left:1px;}
	.footer .to_main_lnk{display:inline-block; position:absolute; font-size:12px; text-decoration:underline; color:#da251d; font-weight:bold; margin:-39px 0 0;}
	.footer .to_main_lnk:hover{color:#ff2b22;}
	.foter_menu{padding:12px 0 22px;}
	.foter_menu a{margin-left:17px;}
	.foter_menu a:first-child{margin-left:0;}
	.footer .middle_col p{padding:0;}
	.footer .middle_col p a{color:#919191;}
	.footer .middle_col p a:hover{color:#0b9df1;}
	.footer .counters{margin-top:40px;}

/* Banners ******************************/
.tags{line-height:22px;}
.tags a{text-decoration:none;color:#000;}
.tags a.gray{color:#919191;}
.full_content_banner, .tags{margin:0 20px;}
.middle_banner{margin-bottom:20px;overflow:hidden;}
.right_banner_300x120, .right_banner_300x456{margin-top:15px;font-size:0;}
.catalog_list_banner{margin:0 -4px;}
.bds_list_banner{margin:1px 0 2px;}
.popup_mask{background:url(../images/opacity_white.png) 0 0 repeat;top:0;left:0;position:fixed;width:100%;height:100%;z-index:100;display:none;}
.news_comments .popup_mask{position:absolute;padding:1px;left:-1px;top:-1px;}
.popup_style{position:absolute;z-index:120;background-color:#FFF;border:3px solid #dd241c;box-shadow:3px 3px 10px #666;}
.popup_wrap{padding:11px;}
.icon_close{position:absolute;top:11px;right:11px;}
.popup_c_login{width:424px;min-height:189px;left:1%;top:45px;line-height:normal;}
.popup_c_login .form_box{width:200px;float:left;padding:4px 12px;}
.popup_c_login .lb_label{padding:2px 0 1px;}
.popup_c_login .spaser{height:5px;}
.popup_c_login .lb_input_box input{height:20px;}
.popup_c_login .form_box .btns{margin-top:10px;margin-bottom:10px;font-size:12px;}
.popup_c_login .social_box{float:left;padding:12px;width:154px;}
.popup_c_login .social_box b{padding:10px 0;display:inline-block;}
.popup_c_login .social_box .icons{display:inline-block;margin:5px 8px 0 0;}
#courses{position:relative;z-index:25;}
#courses .ib_wrap{color:#919191;font-size:11px;min-height:156px;overflow:hidden;padding:9px 5px 4px 9px;}
#allcoursesID #courses .ib_wrap{min-height:76px;margin:21px 0 0 20px;padding:12px;width:148px;}
.select_box{padding:0;}
.select_c{height:22px;list-style:none outside none;}
.select_c li{background:url('/images/arrow_select.png') no-repeat scroll 100% 8px #FFF;border:1px solid #B9B9B9;display:block;height:21px;width:149px;}
.select_c li:hover{background-position:100% -46px;}
.selector{cursor:pointer;}
.select_c li span{color:#919191;display:block;font-size:11px;line-height:15px;padding:3px 0 0 4px;}
.select_c li:hover span{color:#272727;}
.select_c ul{border:1px solid #B9B9B9;display:none;list-style:none outside none;margin:0 0 0 -1px;position:absolute;top:32px;width:149px;z-index:16;}
.select_c ul li{background:#FFF;border-color:#E5E5E5 -moz-use-text-color -moz-use-text-color;border-right:0 none;border-style:solid none none;border-width:1px 0 0;color:#272727;height:21px;}
.select_c ul li a{color:#272727;display:block;font-size:11px;line-height:15px;padding:3px 0 4px 4px;}
.select_c ul li a:hover{background:url('/images/sel_sity_li_h.png') repeat-x scroll 0 0 #2470AB;color:#FFF;}
.c_date{color:#525252;float:right;font-size:10px;text-align:right;}
.table_box{margin:0 -5px 0 -9px;min-height:99px;padding-top:8px;}
#allcoursesID .table_box{margin:0;padding:0;}
#allcoursesID #courses .ib_wrap{min-height:76px;margin:0;padding:12px;width:168px;}
.table_box table.t_c_bank{display:none;width:100%;}
.table_box td, .table_box th{background:#FEFEFE;border-right:1px solid #E2E2E2;line-height:25px;padding:0 7px 0 5px;vertical-align:middle;}
.table_box th{color:#919191;font-size:10px;text-align:center;}
.table_box td{color:#000;font-size:11px;text-align:right;}
.table_box td img{float:left;margin:0;position:relative;top:0;}
.t_c_bank td img{margin-right:5px;}
.table_box td span{line-height:15px;margin:0;position:relative;}
.table_box td.corsname span{float:left;margin-left:0;}
.table_box .first{width:46px;}
.table_box .last{border-right:0 none;}
.table_box .dark td{background:#F0F0F0;border-right:1px solid #FEFEFE;}
#courses .out_link{margin-top:9px;position:relative;}
.calendar{background:#F5F5F5;border:1px solid #B9B9B9;display:none;height:215px;left:172px;padding:0;position:absolute;top:0;width:201px;z-index:25;}
.calendar .informer_header{border:1px solid #FFF;padding:0 10px 0 11px;}
.calendar .informer_header img{margin-top:0;}
.calendar .close{margin-top:7px;}
.calendar_body{background:url('/images/calk_b_bg.png') repeat-x scroll 0 0 #F5F5F5;border-color:-moz-use-text-color #FFF #FFF;border-right:1px solid #FFF;border-style:none solid solid;border-width:0 1px 1px;padding-top:5px;}
.dateP{padding:4px 0;}
.datepicker{cursor:default;display:none;height:183px;left:3px;position:relative;top:4px;width:196px;}
.datepickerHidden{display:none;}
.datepicker a{color:#000;outline:medium none;text-decoration:none;}
.datepickerGoPrev, .datepickerGoNext{position:relative;text-align:center;width:51px;}
.datepickerGoPrev a, .datepickerGoNext a{background:url('/images/arrow_calen.png') no-repeat scroll 0 0 transparent;color:#B9B9B9;display:block;font-size:11px;height:15px;width:51px;}
.datepickerGoPrev{float:left;}
.datepickerGoNext{float:right;}
.datepickerGoPrev a{background-position:7px 2px;}
.datepickerGoNext a{background-position:100% -98px;}
.datepickerGoPrev a:hover{background-position:7px -220px;}
.datepickerGoNext a:hover{background-position:100% -320px;}
.datepickerMonth{color:#000;font-size:12px;overflow:hidden;padding-top:1px;text-align:center;}
.datepickerMonth a{color:#000;font-size:12px;font-weight:normal;}
.datepickerMonth a:hover{color:#175095;}
.datepickerDoW th{border:0 none;color:#949494;font-size:11px;font-weight:normal;padding:8px 0 1px;text-align:center;text-transform:lowercase;vertical-align:top;}
.datepickerDays td{background:#FFF;border:1px solid #F5F5F5;color:#000;font-size:11px;text-align:center;vertical-align:middle;}
.datepickerViewDays, .datepickerViewMonths, .datepickerYears, .datepickerViewYears{width:100%;}
.datepickerMonths td, .datepickerYears td{color:#000;font-size:11px;height:24px;text-align:center;vertical-align:middle;}
.datepickerDays .line_1 td{border-top:1px solid #FFF;}
.datepickerDays .line_5 td.datepickerNotInMonth, .datepickerDays .line_6 td.datepickerNotInMonth{border-top:1px solid #F5F5F5;}
.datepickerDays td:first-child{border-left:1px solid #FFF;}
.datepickerDays td a{color:gray;display:block;font-size:11px;height:16px;line-height:16px;padding:3px 0;}
.datepickerDays td:hover a{outline:1px solid #2470AB;}
.datepickerDays td.datepickerNotInMonth{background:none;border:1px solid #FFF;}
.datepickerDays td.datepickerNotInMonth a{border:medium none;color:#949494;}
.datepickerDays td.datepickerNotInMonth a{color:#949494;}
.datepickerDays td.datepickerSelected{background:#2470AB;}
.datepickerDays td.datepickerSelected a{color:#FFF;}
.datepickerYears a, .datepickerMonths a{display:block;margin:8px 0;padding:12px 0;text-align:center;width:42px;}
.datepickerYears a:hover, .datepickerMonths a:hover{outline:1px solid #2470AB;}
.datepickerDays td.datepickerNotInMonth.datepickerSelected{background:#8A8A8A;}
.datepickerDays td.datepickerNotInMonth.datepickerSelected a{border:0 none;}
.datepickerYears td.datepickerSelected, .datepickerMonths td.datepickerSelected{background:#17384D;}
.datepickerSpace div{width:20px;}
.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears,
.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW,
.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW{display:none;}
.counters img, .soc img{margin-right:20px;}
.counters img:hover, .soc img:hover{cursor:pointer;}
.soc{margin-left:25px;float:left;margin-top:49px;}
.counters{float:left;}
.skype_pnh_print_container{display:inline !important;}
.skype_pnh_container{display:none !important;}
.lenta_title_1{background:url(/images/lenta.png) repeat;width:150px;height:23px;vertical-align:middle;display:table-cell;z-index:10;left:-1px;top:0px;padding-left:15px;position:relative;}
.lenta_title_2{width:150px;height:23px;display:table-cell;vertical-align:middle;text-align:center;z-index:15;}
.lenta_title_1 a, .lenta_title_2 a, .lenta_title_1 a:hover, .lenta_title_2 a:hover{font-weight:bold;color:#666;text-decoration:none;}
.lenta_title_2 img{text-align:center;vertical-align:middle;padding-right:3px;}
.news-list .preview_picture{float:left;margin:0 4px 6px 0;}
.news-date-time{color:#486DAA;}
.news_section, .news_section:hover{display:inline-block;height:13px;position:relative;vertical-align:text-top;text-decoration:none;color:#fff;-webkit-transform:skew(15deg);-moz-transform:skew(15deg);-o-transform:skew(15deg);-ms-transform:skew(15deg);transform:skew(15deg);}
.news_section > *{padding:0 10px;font-weight:bold;font-size:10px;line-height:12px;color:#fff;display:block;-webkit-transform:skew(-15deg);-moz-transform:skew(-15deg);-o-transform:skew(-15deg);-ms-transform:skew(-15deg);transform:skew(-15deg);}
.photo_carusel_wrap{position:relative;margin:20px -5px 0;height:111px;}
.photo_carusel_nav{background:url(../images/slider.png) 0 0 no-repeat;width:27px;height:52px;overflow:hidden;position:absolute;top:13px;cursor:pointer;}
.nav_prev{background-position:-50px -60px;left:0;}
.nav_prev:hover{background-position:-50px 0;}
.nav_next{background-position:0 -60px;right:0;}
.nav_next:hover{background-position:0 0;}
.photo_carusel{margin:0 36px;overflow:hidden;position:relative;}
.rc_block .photo_carusel ul{position:relative;list-style:none;margin:0;padding:0}
.rc_block .photo_carusel li{float:left;width:111px !important;height:111px !important;padding:0;margin-right:7px;}
.photo_carusel a, .photo_carusel a:hover{display:block;text-decoration:none;height:100%;text-decoration:none;}
.photo_carusel .img_area{display:block;height:71px;width:85px;overflow:hidden;margin-bottom:5px;}
.photo_carusel .img_area img{max-width:100%;max-height:100%;}
.photo_carusel .slide_title{display:block;padding:0 1px;font-size:12px;line-height:1;max-height:24px;color:#666;font-weight:bold;position:relative;zoom:1;overflow:hidden;}
.photo_carusel a:hover .slide_title{color:#db251d;}
.photo_carusel .date{display:block;padding:0 1px;}
#inline{display:inline-block;padding-right:10px;}
.rib_purple{background:#985bb7;background:-webkit-linear-gradient(top, #9138c0 0, #733295 100%);background:linear-gradient(to bottom, #9138c0 0, #733295 100%);}
.rib_yellow{background:#b0993a;background:-webkit-linear-gradient(top, #b1900a 0, #91760c 100%);background:linear-gradient(to bottom, #b1900a 0, #91760c 100%);}
.rib_blue{background:#5691c8;background:-webkit-linear-gradient(top, #3889d3 0, #266bab 100%);background:linear-gradient(to bottom, #3889d3 0, #266bab 100%);}
.rib_red{background:#cb5370;background:-webkit-linear-gradient(top, #ca3558 0, #b61f42 100%);background:linear-gradient(to bottom, #ca3558 0, #b61f42 100%);}
.rib_green{background:#6aa435;background:-webkit-linear-gradient(top, #51a307 0, #3f8104 100%);background:linear-gradient(to bottom, #51a307 0, #3f8104 100%);}
.rib_default{background:#ff2f2f;}
.news_lenta .title_list li{padding-left:80px;}
.news_lenta .title_list li a:hover{color:#0b9df1;}
.news_lenta .news_section_wrap{position:absolute;width:70px;margin-left:-75px;text-align:right;}
.news_section_wrap .news_section{top:2px;}
.news_list .news_section{margin:0 10px 0 3px;}
.catalog-section-list ul, .catalog-section-list ul li{display:block}
.content_box{padding-bottom:10px;}
.middle_banner a{padding:0;margin:0 auto;text-align:center;display:block;}
.middle_banner{padding:0;margin:0 auto;width:100%;display:block;text-align:center;}
#mb_title_f a{font:normal 11px Arial;text-decoration:none !important;padding-top:5px;}
.mb_title_o18 a{font:normal 18px Georgia;text-decoration:none!important;color:rgb(218, 37, 29);padding-left:10px;}
.mb_title_o18 a:hover{color:#ff2b22;text-decoration:none;}
.mb_title_o18{margin:10px 0;}
.title a{font:normal 14px Georgia, "Times New Roman", Times, serif;}
.title a#nodec{text-decoration:none !important;}
table.row th span{color:#000 !important;font:bold 11px Arial;}
table.row td{font:normal 11px Arial;color:#000;}
table.row td a{text-decoration:none !important;color:#000;font:normal 11px Arial;}
a.bigbutton{text-decoration:none !important;margin-top:10px;}
table.row td:first-child+td+td{display:none;}
table.row td:first-child+td{width:130px !important;overflow:hidden;position:relative;display:block;}
table.row th:first-child, table.row th:first-child+th+th{display:none;}
table.row th:first-child+th{width:200px !important;//padding-left:8px;}
table.row th:first-child+th+th+th{position:relative;width:100px !important;}
table.row td:first-child+td+td+td{position:relative;}
table.row td:first-child{color:#919191;}
table.row{margin-bottom:10px;}
h1{font:normal 30px Georgia;margin-bottom:10px;}
.title{font:normal 14px Georgia;padding-top:0px;}
.title sup{text-decoration:none !important;}
h2{font:normal 22px Georgia;}
h3{font:normal 20px Georgia;}
hr{color:#ccc;background-color:#ccc;border:0px none;height:1px;clear:both;}
a.sm_tenders{text-align:left;padding-left:15px;}
.yashare-auto-init{position:relative;margin-left:-6px;}
#statsCount{font-weight:normal;}
#vk_like{clear:none !important;margin-left:15px;}
.mm_static_menu a:hover{text-decoration:none;}
.market_bread a{text-decoration:none;}
.main404{position:relative;display:block;width:880px;height:333px;margin:15px auto 25px;}
.left404{position:relative;display:inline;float:left;background:url(/bitrix/templates/energorb/images/left404.png) no-repeat;width:131px;height:323px;margin:0;padding:0;}
.middle404{position:relative;display:inline;float:left;background:url(/bitrix/templates/energorb/images/mid404.png) repeat-x;width:615px;height:323px;margin:0;padding:0;}
.right404{position:relative;display:inline;float:right;background:url(/bitrix/templates/energorb/images/right404.png) 100% 0% no-repeat;width:134px;height:323px;margin:0;padding:0;}
.bottom404{position:relative;display:block;clear:both;background:url(/bitrix/templates/energorb/images/bottom404.png) no-repeat;height:9px;margin:0;padding:0;width:880px;}
.leftcol404{position:absolute;right:100%;top:0;margin-right:30px;}
.rightcol404{position:absolute;left:100%;top:0;margin-left:-60px;z-index:10;}
.col404 ul{margin-bottom:48px;}
.col404 li{margin-bottom:9px;list-style:none;font-size:12px;font-weight:bold;white-space:nowrap;}
.col404 a{color:#e42e26;text-decoration:none;}
.col404 a:hover{color:#e42e26;text-decoration:underline;}
.sections404{width:1100px;margin-left:auto;margin-right:auto;margin-top:25px;font-size:0;}
.sections404-inner{display:inline-block;vertical-align:top;width:50%;font-size:12px;}
.sections404 li{position:relative;list-style:none;padding-left:10px;}
.sections404 li:before{content:'';position:absolute;left:0;top:0.4em;width:3px;height:3px;background:#ababab;}
.sections404 a{color:inherit;text-decoration:none;}
.sections404 a:hover{color:#e3231b;}
.sections404 li:hover:before{height:100%;top:0;background:#e3231b;}
.catalog-404{font-size:0;}
.sections404 ul{display:inline-block;vertical-align:top;width:50%;font-size:12px;}
.cont404{clear:both;width:360px;height:190px;margin:0px auto;text-align:center;padding-top:15px;}
.cont404 h1{padding-top:20px;font-weight:bold;font:bold 36px Cambria;color:#010101;}
.info404{color:#858585;font:italic 15px Arial;}
.logo404{margin-top:12px;margin-right:34px;float:right;position:relative;}
.link404{display:block;text-decoration:none;background:url(../images/link404-bg.png) center top repeat-x;width:233px;height:41px;line-height:40px;margin:40px auto 0;color:#ffffff;font:normal 18px/37px Arial;text-shadow:0px 1px 1px #672e2c;border-radius:7px;box-shadow:0px 1px 2px #9e1b21;}
a.link404:hover{color:#ffffff;text-decoration:none;background-position:center -50px;}
a.link404:active{color:#ffffff;text-decoration:none;background-position:center -100px;}
.right_banner_300x120{position:relative;z-index:9;}
.right_banner_300x390 div:first-child{width:300px;overflow:hidden;}
.header{*z-index:50;}
.content{*z-index:40;}
.bx-registration-table{width:870px;}
.bx-registration-table input{width:218px;}
.bx-registration-table tbody td:first-child{width:140px;text-align:right;font-weight:bold;}
.bx-auth, .bx-p-auth{margin-left:22px;}
.bodyground{background-color:#f0f0f0;color:#999999;}
.bodyground td{padding:20px 0 0 20px;}
.auth-last td{padding-bottom:17px !important;}
.popup_mask{background:none repeat scroll 0 0 #000000;bottom:0;display:none;height:100%;left:0;opacity:0.6;position:fixed;top:0;width:100%;z-index:500;}
.popup{-moz-box-sizing:border-box;background-color:#FFFFFF;border-radius:15px;display:none;left:35%;position:absolute;top:12%;z-index:510;}
.popup .ico_pop_close{position:absolute;right:15px;top:15px;z-index:520;cursor:pointer;width:11px;height:11px;background-position:-250px -75px;}
.content_popup{padding:8px 20px 20px;width:515px;}
.fast_order_popup{min-height:340px;}
.fast_order_popup .title, .fast_order_status_popup .title{color:#222222;font-weight:bold;font-size:25px;line-height:25px;margin:9px 0 13px;position:relative;background:none;}
.fast_order_popup form .one_click_info{color:#888888;}
.fast_order_popup form .form-table th{color:#444444;font-size:14px;line-height:18px;padding:3px 15px 16px 0;text-align:right;width:135px;}
.fast_order_popup form .form-table th span.req{color:red;}
.fast_order_popup form input[type=text], .fast_order_popup form textarea{border:1px solid #888888;padding:5px 10px;width:300px;}
.fast_order_popup form textarea{resize:none;}
.fast_order_popup form input.error_brd{border-color:red;}
.fast_order_popup form .good{color:green;font-size:18px;line-height:20px;padding-bottom:20px;}
.fast_order_popup form .send_r{margin-top:15px;}
.fast_order_popup form .product img, .fast_order_popup form .product img + span{float:left;display:block;margin:10px 0px;}
.fast_order_popup form .product img + span{width:280px;margin-left:5px;}
.b-files{margin-bottom:25px;}
.b-files .files-download{margin:15px 10px;}
.b-files .files-download .size{vertical-align:auto;color:#ACACAA;font-size:11px;}
.b-files .files-download a{text-decoration:none;}
.b-files .files-download a i{display:inline-block;margin-right:10px;float:left;}
.b-files .files-download a span{vertical-align:top;vertical-align:top}
.withoutTitleF .files-download{margin:10px 0px;overflow:hidden;}
.icon_doc{width:55px;height:55px;background-position:-439px -85px;}
.icon_docx{width:53px;height:53px;background-position:-379px -85px;}
.icon_xls{width:55px;height:55px;background-position:-379px -22px;}
.icon_xlsx{width:55px;height:55px;background-position:-439px -22px;}
.icon_ppt{width:55px;height:55px;background-position:-441px -145px;}
.icon_pdf{width:53px;height:53px;background-position:-321px -22px;}
.icon_jpg{width:53px;height:53px;background-position:-380px -145px;}
.icon_jpeg{width:55px;height:55px;background-position:-441px -271px;}
.icon_djvu{width:31px;height:32px;background-position:-200px -252px;}
.icon_def{width:31px;height:32px;background-position:-200px -302px;}
.btns_big{display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;text-decoration:none !important;padding:10px 20px;background:#57caf4;background:-moz-linear-gradient(top,
#57caf4 0%,
#aee6fa 54%,
#8edcf8 57%,
#2989b9);background:-webkit-gradient(linear, left top, left bottom,
from(#57caf4),
color-stop(0.54, #aee6fa),
color-stop(0.57, #8edcf8),
to(#2989b9));background-image:linear-gradient(to bottom,
#57caf4 0%,
#aee6fa 54%,
#8edcf8 57%,
#2989b9);-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:0px solid #5c0f5c;-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.2),
inset 1px 1px 2px rgba(255,255,255,0.5);-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.2),
inset 1px 1px 2px rgba(255,255,255,0.5);box-shadow:0px 1px 2px rgba(0,0,0,0.2),
inset 1px 1px 2px rgba(255,255,255,0.5);text-shadow:0px 2px 0px rgba(000,000,000,0.5),
0px 1px 0px rgba(255,255,255,1);}
.btns_big:hover{color:white;text-decoration:none;background:-moz-linear-gradient(top,
#4ac2ed 0%,
#aee6fa 54%,
#8edcf8 57%,
#1675a5);background:-webkit-gradient(linear, left top, left bottom,
from(#4ac2ed),
color-stop(0.54, #aee6fa),
color-stop(0.57, #8edcf8),
to(#1675a5));-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.5),
inset 1px 1px 2px rgba(255,255,255,0.5);-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.5),
inset 1px 1px 2px rgba(255,255,255,0.5);box-shadow:0px 1px 2px rgba(0,0,0,0.5),
inset 1px 1px 2px rgba(255,255,255,0.5);}
.bx-auth .bodyground td{padding:20px 15px 0 15px;}
.bx-auth .bodyground td.bordered{border-left:2px solid white;}
.register-cell-space{background-color:white;width:10px;}
.register-cell-info{position:absolute;width:280px;background-color:green;border-left:20px solid white;background-color:#e6f7fd;}
.register-cell-info b{font-size:14px;}
.lazyload_component{min-height:60px;color:rgb(139, 139, 139);font-size:15px;}
.mb_title_o a{font:normal 16px Georgia !important;color:rgb(218, 37, 29);text-decoration:none;}
.fancybox_table_wrapper{position:relative;overflow:hidden;cursor:pointer;}
.fancybox_table_wrapper table{opacity:0.4;}
.fancybox_table_gradient{position:absolute;left:700px;margin-left:-60px;z-index:110;height:100%;width:60px;background:url(/images/hide.png) repeat-y 0px 0px;}
.fancybox_table_lence{position:absolute;z-index:2;left:50%;top:50%;width:auto;height:30px;line-height:30px;margin-left:-23px;margin-top:-15px;padding-left:23px;background:url("/images/zoom.png") left center no-repeat;font-weight:bold;}
.tooltip_text{display:none !important;}
.tooltip{position:absolute;width:296px;padding:12px;min-height:44px;font-size:11px;line-height:1;overflow:hidden;background-color:#FFF;border:1px solid #d9d9d9;z-index:100;}
.tt_news_img{float:left;margin:0 4px 0px 0;}
.personal-icon{background:url(/images/personal_icons_eb.png) 0 0 no-repeat;width:17px;height:16px;display:block;}
.personal-icon-copy{background-position:-52px -12px;}
.personal-icon-copy:hover{background-position:-52px -36px;}
.personal-icon-sort{background-position:-4px -12px;}
.personal-icon-sort:hover{background-position:-4px -36px;}
.personal-icon-active{background-position:-27px -12px;}
.personal-icon-deactive{background-position:-27px -60px;}
.personal-icon-active:hover, .personal-icon-deactive:hover{background-position:-27px -36px;}
.personal-icon-edit{background-position:-76px -12px;}
.personal-icon-edit:hover{background-position:-76px -36px;}
.personal-icon-delete{background-position:-100px -12px;}
.personal-icon-delete:hover{background-position:-100px -36px;}
.search_results{margin:20px 0;}
.brdr_box .mainlist_hover_underline:hover{text-decoration:none !important;}

.title_list.company li {
	margin-bottom: -1px;
	margin-right: -4px;
	width: 153px;
	height: 98px;
	display: inline-block;
	vertical-align: text-bottom;
	border-top: 1px solid lightgray;
	position: relative;

	color: #FFF;
	-webkit-font-smoothing: antialiased;


	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;

}
.title_list.company li:hover {

background: #D3D3D3;

}
.title_list.company li:nth-child(2), .title_list.company li:nth-child(1) {
	border-top: none;
}
.title_list.company .bt_text {
	position: absolute;
	bottom: 2px;
	width: 100%;
}

.title_list.company li a {
	display: block;
	text-align: center;
	vertical-align: top;
}

.title_list li p.image_box {
	vertical-align: text-top;
}

.title_list li a.company {
	display: inline-block;
	text-align: center;
	height: 80px;
	vertical-align: middle;
	width: 150px;
}