.search_results .search_row{
   /*height: 100px;*/
   margin-bottom: 20px;
   overflow: hidden;
}
.search_results .search_row .row{
   /*margin-left: 110px;*/
}
.search_results .image_box{
   float: left;
   margin-right: 10px;
   display: inline-block;
   width: 100px;
   text-align: center;
}
.search_results .descr{
   margin-top: 6px;
}
.inline{
   display: inline-block;
   padding: 0px 3px;
}
div.news_section {
   display: inline-block;
   height: 13px;
   -webkit-transform: skew(15deg);
   -moz-transform: skew(15deg);
   -o-transform: skew(15deg);
}
.news_section p {
   padding: 0px 10px;
   font: bold 10px Arial;
   color: white;
   -webkit-transform: skew(-15deg);
   -moz-transform: skew(-15deg);
   -o-transform: skew(-15deg);
   margin: 0;
}

