.middle_col .middle_col {
	width: 755px;
	float: left;
}
.ads_row_rheader img {
	margin: 0 auto 3px;
}
.accordion_block .h3-title {
	overflow: hidden;
}
.ads_row .image_box img {
	max-width: 49px;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background: #fff;
}
body .ui-tooltip {
	border-width: 2px;
}
.all_company_info a.c_mess, .all_c_info a.c_mess, .rc_block a.c_mess {
	background: url("/images/mess.png") no-repeat 4px 16px;
	background-color: #e9f6fe;
	display: block;
	width: 152px;
	height: 54px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	color: #919191;
	text-decoration: none;
}
.rc_block a.c_mess {
	width: auto;
	background:url("/images/mess.png") no-repeat 12px 16px #e9f6fe;
}
.all_company_info a.c_mess div, .all_c_info a.c_mess div {
	padding: 8px 0 0 27px;
}
.rc_block a.c_mess div {
	padding: 13px 0 0 40px;
}
.rc_block.centered {
	text-align: center;
}
.rc_block.centered img {
	margin: 0 auto;
}
.rc_block_info p {
	margin-bottom: 4px;
}
.rc_block_info a {
	text-decoration: none;
}
.rc_block.photos-tabs {

}
.rc_block.photos-tabs .mb_menu.ml, .lc_block.tabs .mb_menu.ml {
	width: 100%;
}
.rc_block.photos-tabs .ui-tabs-panel {
	float: left;
	background: #f5f5f5;
	padding: 23px 35px 8px;
	box-shadow: 0 0 10px #aaa;
	-moz-box-shadow:0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	display: block !important;

}
.rc_block.photos-tabs .ui-tabs-panel[aria-hidden='true'] {
	position: absolute;
	left: -10000px;
}
.rc_block.bor {
	border:1px solid #e2e2e2;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 20px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}
.rc_block .vacan-list {
	margin-bottom: 10px;
}
.rc_block .vacan-list:last-child {
	margin-bottom: 0;
}
.rc_block .vacan-list p {
	line-height: 20px;
}
.rc_block .vacan-list img {
	float: left;
	margin-right: 14px;
}
.rc_block .vacan-list strong {
	display: block;
	line-height: 20px;
}
.rc_block .vacan-list .address {
	color: #919191;
}
/* Careousel */
.bx-wrapper {
	position: relative;
}
.bxslider li {
	width: 111px;
}
.bx-default-pager {
	display: none;
}
.bx-controls {
	position: absolute;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -100px;
	outline: 0;
	width: 28px;
	height: 53px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-prev {
	right: 7px;
	background: url(../images/left-arrow.png) no-repeat 0 0px;
}
.bx-wrapper .bx-prev:hover {
	background: url(../images/left-arrow-hover.png) no-repeat 0 0px;
}
.bx-wrapper .bx-next {
	left: 236px;
	background: url(../images/right-arrow.png) no-repeat 0px 0px;
}
.bx-wrapper .bx-next:hover {
	right: 10px;
	background: url(../images/right-arrow-hover.png) no-repeat 0px 0px;
}
.bxslider p, .bxslider p a {
	font-size: 12px;
	color: #666;
	font-weight: bold;
	margin-top:4px;
	text-decoration: none;
}
.bxslider p a:hover {
	text-decoration: none;
	color: #db251d;
}
.bxslider p span {
	font-size: 10px;
}
/* Blog stylesheet */


/* Blog: left column */
.blog .lc_block {
	position: relative;
}
.mb60 {
	margin-bottom: 60px;
}
.bdr {
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 0 9px 3px 10px;
}
.lc_block.bdr .title {
	padding-bottom: 18px;
	padding-top: 6px;
}
.bgr {
	background: #f5f5f5;
	padding: 0 9px 9px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.blog .left_menu {
	padding: 0 0 0 9px;
}
.left_menu a, .left_menu a:visited {
	display: inline;
	line-height: 18px;
}
.left_menu a:before, .left_menu .selected a:hover:before{background-color:#000; margin-top:7px; margin-left: -8px;}
.left_menu a:hover:before{margin:1px 0 0 -11px; }
.autor-block-head {
	list-style: none;
	margin-bottom: 6px;
}
.autor-block-head li {
	font-size: 12px;
	color:#999999;
	line-height: 16px;
}
.lc_block.bgr .title{
	padding-top: 10px;
	padding-bottom: 15px;
}
.lc_block.bgr .left_menu {
	padding: 0;
}
.lc_block.bgr .left_menu li {
	line-height: 14px;
	margin-bottom: 8px;
}
.lc_block.bgr .left_menu a {
	font-size: 11px;
	line-height: 14px;
}
.lc_block.bgr .left_menu a.hover {
	color: #E3231B;
}
.lc_block.bgr .left_menu a:before, .lc_block.bgr .left_menu a:after {
	display: none;
	content: "";
}
.autor-block-head li strong {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	line-height: 14px;
}
.autor-block-head .h {
	color: inherit;
	text-decoration: none;
}
.autor-block-head .h:hover {
	color: #e3231b;
}
.autor-block-head li em {
	font-style: italic;
	line-height: 16px;
}
.autor-block-head li:first-child {
	line-height: 26px;
}
img.autor {
	max-width: 184px;
	height: auto;
}
.lc_block .title {
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 5px;
}

a.all-articles {
	font-size: 12px;
	line-height: 26px;
	color: #0b9df1;
	font-weight: normal;
	border-bottom: 1px dotted #0b9df1;
	text-decoration: none;
	margin-left: 9px;
}
ul.article-images {
	list-style: none;
	margin-bottom: 10px;
}
ul.article-images li {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 6px;
}
ul.article-images li:last-child {
	margin-right: 0;
}
ul.article-images img {
	max-width: 50px;
	max-height: 50px;
	border: 1px solid transparent;

	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
ul.article-images a:hover img,
ul.article-images a.hover img {
	/* border: 1px solid #E3231B; */

	filter: none;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
a.place-company {
	background: url("/images/place-company-but.png") no-repeat;
	width: 130px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	position: absolute;
	left: 50%;
	margin-left: -65px;
	bottom: 38px;
}
.sb-form {
	overflow: hidden;
	margin-bottom: 8px;
}
.sb-form .subscribe-input {
	width: 114px;
	float: left;
	margin-right: 4px;
}
.sb-form .subscribe-input-but {
	background: url("/images/ok-but.png") no-repeat;
	width: 38px;
	height: 21px;
	display: block;
	float: left;
	text-indent: -9999px;
	border: 0 none;
	outline: none;
}
a.rss, a.wtf-rss {
	display: block;
	height: 16px;
	margin-bottom: 6px;
	text-decoration: none;
	line-height: 16px;
}
a.rss i {
	background: url("/images/rss.png") no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 5px;
}
a.wtf-rss i {
	background: url("/images/wtf-rss.png") no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 5px;
}
/* Blog: center column */
.blog .middle_col .blog-content .mc_block {
	background: url("/images/blog-content-border.png") repeat-x;
	margin-bottom: 69px;
	margin-top: 30px;
}
.blog .left_col {
	/* padding-top: 49px; */ /* не нужно, т.к. добавилась строка breadcrumbs */
}
.blog .left_col .lc_block {
	margin-bottom: 69px;
	margin-top: 30px;
}
.blog .left_col.single {
	padding-top: 0;
}
.blog .blog-content .mc_block h2 {
	font-size: 24px;
	color: #e3231b;
	padding-top: 6px;
	padding-bottom: 23px;
}
.mkt .middle_col .middle_col p {
	margin-bottom: 4px;
}
.blog-content .mc_block img {
	max-width: 185px;
	height: auto;
	float: left;
	margin: 0 20px 15px 0;
}
.single-blog .mc_block img {
	max-width: 100%;
	float: none;
	margin: 0 auto;
}
.blog-content .mc_block img.alignright {
	float: right;
	margin: 0 0 15px 20px;
}
.blog-content .mc_block .more-link {
	display: block;
	text-align: right;
}
.blog-content .mc_block .more-link a {
	text-decoration: none;
}
.blog-content .mc_block ul {
	list-style: none;
	margin-bottom: 18px;
	line-height: 18px;
}
.blog-content .mc_block ul.meta {
	list-style: none;
	font-size: 12px;
	line-height: 18px;
	color: #999999;
}
ul.meta li.social-buttons {
	float: left;
	width: 275px;
	margin-top: 4px;
	height: 19px;
}
ul.meta li.social-buttons img{
	max-width: 100%;
	margin: 0;
}
ul.meta li.comments {
	float: right;
	/* height: 23px;
	line-height: 36px; */
}
ul.meta li.comments .number {
	background: url("../images/sprite.png") -225px -100px no-repeat;
	width: 14px;
	height: 13px;
	display: inline-block;
	margin: 0 4px -2px 5px;
}
ul.meta li.comments a {
	text-decoration: none;
	color: inherit;
}
ul.meta .shows {
	text-align: right;
}

/* Blog: right column */
.rc_block.bg-r {
	background: #f5f5f5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	padding: 0 14px 10px;
	width: 272px;
}
.rc_block.pb0 {
	padding-bottom: 0;
}
.rc_block.bg-r .title {
	padding-bottom: 16px;
}
.rc_block-body-item, .rc-block-hide {
	margin-bottom: 20px;
}
.rc_block-body-item:last-child {
	margin-bottom: 0;
}
.blog .rc_block h4.rc-item-title {
	font-size: 12px;
	line-height: 14px;
	font-weight: normal !important;
	font-style: italic;
	color: #999999;
	margin-bottom: 4px;
}
.blog .rc_block h4.rc-item-title a {
	color: inherit;
	text-decoration: none;
}
.blog .rc_block h4.rc-item-title a:hover {
	text-decoration: underline;
}
.rc_block-body-item img {
	float: left;
	max-width: 49px;
	max-height: 49px;
	margin-right: 9px;
}
.rc_block-body-item p,
.rc_block-body-item div {
	font-size: 11px;
	color: #999999;
	line-height: 14px;
}
.rc_block-body-item p a,
.rc_block-body-item div a {
	text-decoration: none;
	color: #000;
}
.rc_block-body-item p .autor,
.rc_block-body-item div .autor {
	color: #000;
	font-size: 12px;
}
.rc_block-body-item p a:hover,
.rc_block-body-item div a:hover {
	color: #e3231b;
}
.toggler {
	background: url("../images/toggle-but.png") no-repeat;
	width: 130px;
	height: 30px;
	display: block;
	font-size: 11px;
	color: #266bab;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	margin:-10px auto 0;
}
.toggler i {
	background: url("../images/toggle-arrow-sprite.png") 0 6px;
	width: 7px;
	height: 6px;
	display: inline-block;
	margin-left: 10px;
}
.toggler:hover {
	color: #0b9df1;
	text-decoration: none;
}
.toggler:hover i {
	background: url("../images/toggle-arrow-sprite.png") 7px 6px;
}
.collapsed i{
	background: url("../images/toggle-arrow-sprite.png") 0px 0px;
}
.collapsed:hover i {
	background: url("../images/toggle-arrow-sprite.png") 7px 0px;
}
.rc_block.tags {
	margin-left: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.rc_block.tags .rc_block-body {
	color: #336699;
}

/* Rating styles */

.rateit {
    display: inline-block;
    position: relative;
    background: url("../images/bg-rating.png") no-repeat;
    width: 126px;
    height: 41px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: -30px;
    margin-left: 19px;

}

.rateit .rateit-range
{
    position: relative;
    display: inline-block;
    background: url(../images/stars.png);
    height: 20px;
    outline: none;
    cursor: pointer;
}
.rateit .rateit-range[aria-readonly="true"] {
	cursor: default;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url(../images/stars.png) left -40px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -40px;
}

.rateit .rateit-selected
{
    background: url(../images/stars.png) left -20px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -20px;
}

.rateit .rateit-preset
{
    background: url(../images/stars.png) left -40px;
}

.rateit .rateit-preset-rtl
{
    background: url(../images/stars.png) left -40px;
}

.rateit button.rateit-reset
{
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
    display: none;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -20px;
}

/* Datepicker styles */

.ui-datepicker {
	width: 182px;
	padding: .2em .2em 0;
	margin: -17px auto 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	margin-bottom: 4px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -7px;
	text-indent: -9999px;
	background: url(../images/datepicker-icon.png);
	width: 15px;
	height: 15px;
}
.ui-datepicker .ui-datepicker-prev span {
	background-position: 0 0;
}
.ui-datepicker .ui-datepicker-next span {
	background-position: 15px 0;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.9em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	border: 1px solid #e4e4e2;
}
.ui-datepicker th {
	padding: .5em .3em;
	text-align: center;
	font-weight: normal;
	color: #e3231b;
	background: #efefef;
	border: 1px solid #dcdbda;
}
.ui-datepicker td {
	border: 1px solid #edecea;
	padding: 2px 0;
	background: #fff;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	color: #000;
	z-index: 2;
}
.ui-datepicker td a:hover,
.ui-datepicker td a.ui-state-active {
	position: relative;
	color: #fff;
	background: url(../images/link-hover-circle.png) 2px 0 no-repeat;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
/* Comments section */
.comments-block {
	margin-bottom: 28px;
}
.comments-head, .discussion-head {
	background: url('../images/btns.png') 0px -92px no-repeat;
	float: left;
	height: 25px;
	position: relative;
	line-height: 25px;
	overflow: visible;
	font-family: Georgia, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	padding: 0 10px 0 16px;
}
.head-corner {
	background: url('../images/btns.png') 100% -117px no-repeat;
	position: absolute;
	width: 16px;
	right: -16px;
	top: 0;
	height: 25px;
	z-index: 1;
}
.comments-body {
	background: #f0f0f0;
	float: left;
	width: 648px;
	padding: 16px;
}
.comments-body .form-left {
	float: left;
	width: 390px;
}
.comments-body .form-left .fl {
	float: left;
	width: 199px;
	margin-right: 18px;
}
.comments-body .form-right {
	float: right;
	width: 237px;
}
.comments-body .form-left .fr {
	float: left;
	width: 171px;
}
.comments-body label {
	/* float: left;
	width: 100%; */
	font-size: 12px;
	color: #999999;
	font-weight: bold;
	margin-bottom: 4px;
}
.comments-body input, .comments-body input[type='text']{
	height: 17px;
	padding: 1px 0;
	border: 1px solid #cecece;
	margin: 0;
	vertical-align: middle;
}
.comments-body .reviews-reply-field-setting {
	padding: 8px 0 8px 10px;
}
.comments-body .reviews-reply-field-setting label {
	vertical-align: middle;
}
.message-box {
	float: left;
	margin-top: 10px;
}
.message-box textarea {
	width: 383px;
}
.mkt .middle_col .middle_col .comments-body .social-block p {
	margin-bottom: 0;
}
.comments-body .social-block {
	margin-bottom: 55px;
}
.comments-body .social-block p {
	color: #999999;
}
.comments-body .social-block .social-share {
	margin-top: 5px;
}
.confirm {
	line-height: 28px;
	margin-bottom: 22px;
	color: #999999;
}
input[type=checkbox].css-checkbox {
	display:none;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:27px;
	height:22px;
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:22px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}
label.css-label {
	background-image:url(../images/csscheckbox.png);
	width: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.comments-body .submit-cform {
	background: url('../images/send-message.png') no-repeat;
	/* display: block; */
	height: 43px;
	width: 233px;
	text-indent: -9999px;
	border:0;
	outline: 0 none;
	cursor: pointer;
}
.comments-body .submit-cform:hover {
	background: url('../images/send-message-h.png') no-repeat;
}

/* Discussion section */
.discussion-head {
	margin-bottom: -1px;
}
.discussion-body {
	float: left;
	width: 678px;
	padding: 0px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #cccccc;
}
.discussion-body ol, .discussion-body ul {
	list-style: none;
}
.discussion-body .commentlist li.comment {
	border-top: 1px solid #cccccc;
}
.discussion-body .commentlist li.comment .comment-body {
	padding: 15px;
}
.discussion-body .commentlist .comment-autor {
	float: left;
	width: 157px;
}
.discussion-body .commentlist .comment-autor h5 {
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	line-height: 14px;
}
.discussion-body .commentlist .comment-autor span {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	line-height: 14px;
}
.discussion-body .commentlist .comment-autor .autor-avatar {
	margin-top: 10px;
	margin-right: 9px;
	float: left;
}
.discussion-body .commentlist .comment-autor .autor-answer {
	float: left;
	width: 99px;
	margin-top: 30px;
	display:none;
}
.discussion-body .commentlist li.comment .comment-body:hover .autor-answer {
	display: block;
}
.discussion-body .commentlist .comment-autor .autor-answer a {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}
.discussion-body .commentlist .comment-autor .autor-answer a:hover {
	text-decoration: underline;
}
.discussion-body .commentlist .comment-autor .autor-answer a i {
	background: url('/images/answer-arrow.png') no-repeat;
	display: block;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: -3px;
	margin-right: 4px;
}
.discussion-body .commentlist .comment-text {
	padding-left: 157px;
}
.discussion-body .commentlist .comment-text .comment-meta {
	margin-top: -2px;
	margin-bottom: 2px;
}
.discussion-body .commentlist .comment-text .comment-meta .datetime span {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #999999;
}
.discussion-body .commentlist .comment-text p {
	margin-bottom: 0;
}
.discussion-body .commentlist .children .comment-body {
	margin-left: 5.5%;
	clear: both;
	list-style: none;
}
.clearfix:before, .clearfix:after {
content: "\0020";
display: block;
height: 0;
visibility: hidden;
}
.left_menu {
	padding: 0 0 0 10px;
}
/* Company list */
.mc_block_banner h1 {
	font-family: Georgia, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 28px;
	color: #010101;
	font-weight: normal;
}
.mc_block_banner h1 sup {
	bottom: 3.0ex;
	padding-left: 0;
}
.add-company {
	float: left;
	font-size: 11px;
	color:#999;
	line-height: 25px;
}
.add-company a {
	background: url('/images/icon-add-company.png') no-repeat;
	padding-left: 20px;
	font-size: 11px;
	text-decoration: none;
}
.add-company a:hover {
	text-decoration: underline;
}
/* Company list : select area */
.company-list-top {
	background: #f5f5f5;
	padding: 7px 16px 0 13px;
	border: 1px solid #dae8f1;
	margin-bottom: 2px;
}
.company-list-top .sort_col {
	float: right;
	margin-right: 8px;
	margin-bottom: 4px;
}
.company-list-top .sort_col select {
	font-size: 11px;
}
.choose-category-head {
	float: left;
	font-size: 11px;
	color: #999999;
	line-height: 22px;
}
.choose-category-body {
	float: left;
}
.choose-category-col {
	float: left;
	display: block;
	width: 230px;
	height: 65px;
	margin-right: 14px;
}
.choose-category-col:last-child {
	margin-right: 0;
}
.choose-category-col select {
	margin-top: 0;
}
.choose-category-col.disabled {
	background: url('/images/disabled-select.png') no-repeat;
}
.choose-category-col.disabled select {
	display: none;
}
.choose-category-col select[disabled="disabled"] {

}
.company-list-top .content-show {
	float: right;
	background: url(../images/c-show_but.png) no-repeat;
	width: 135px;
	height: 24px;
	display: block;
	text-indent: -9999px;
	margin-top: 5px;
}
.company-list-top .content-show:hover {
	background: url(../images/c-show-a_but.png) no-repeat;
}
/* Company list : ul */
.company-list .ads_row_wrapblock {
	border: 0 none;
}
.company-list .ads_row_right {
	background: none;
}
.company-list .ads_row_wrapblock .ads_row {
	background: none;
	margin: 0;
	padding: 0;
	width: 596px;
}
.company-list .ads_row_rcontent {
	display: block;
	border: 0;
}
.company-list .ads_row_wrapblock .ads_3_row {

	border-color: #ededec;
	padding: 16px 17px 12px 12px;
	width: 726px;
}
.company-list .ads_row_wrapblock .ads_3_row.premium {
	background: #e6f7fd;
	border-color: #fff;
}
.company-list .ads_row_wrapblock .ads_row_left {
	width: 596px;
}
.company-list .ads_row_wrapblock .ads_row_right {
	padding: 0;
	width: 130px;
}
.company-list .image_box {
	width: 95px;
}
.company-list .image_box img {
	max-width: 80px;
}
.company-list .ads_row .ads_info {
	width: 501px;
}
.company-list .ads_row .ads_info .tdWrap {
	margin-top: -4px;
}
.company-list .ads_row .ads_info .ads_title a {
	font-size: 14px;
	line-height: 18px;
	color: #266bab;
	font-weight: bold;
	text-decoration: none;
}
.company-list .ads_row .ads_info .meta {
	font-size: 12px;
	line-height: 18px;
	color: #000;
	height: 36px;
	padding-bottom: 5px;
}
.company-list ul.ads_text {
	list-style: none;
	font-size: 11px;
}

.company-list ul.ads_text li {
	line-height: 18px;
	display: inline;
	margin-right: 8px;
}
.company-list ul.ads_text li:last-child {
	margin-right: 0;
}
.company-list ul.ads_text a {
	font-size: 11px;
	color: #ababab;
}
.company-list .all_company_info .wt-to-comp, .company-list .all_c_info .wt-to-comp {
	margin-top: 0;
}
/* KK_main */
.company-menu li{
	background: url("../images/btns.png") 0 -489px;
	height: 32px;
	width: 180px;
	display: block;
	line-height: 32px;
}
.company-menu li:hover, .company-menu li.active {
	background: url("../images/btns.png") 0 -457px ;
}
.company-menu li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: block;
	font-weight: normal;
	color: #000;
	padding-left: 14px;
	text-decoration: none;
}
.company-menu li a:hover, .company-menu li.active a {
	color: #fff;
	font-weight: bold;
	text-shadow:0 1px 0 #000000;
}
.mc_block_banner.head h1{
	float: left;
}
.mc_block_banner.head img {
	float: left;
	margin-right: 25px;
	max-width: 118px;
	height: auto;
	margin-top: 10px;
}
.mc_block_banner.head .rateit {
	background: none;
	float: right;
	height: 21px;
	display: block;
	padding: 0;
	margin: 12px 0 0 0;
	width: 110px;
}
.mc_block_banner.head .pre-rait {
	float: right;
	margin-top: 15px;
	color: #266bab;
}
.mc_block_info {
	background: #e9f6fe;
	border: 1px solid #b2dffa;
	padding: 18px 18px 0;
	margin: 25px 0 22px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.all-products {
	float: right;
	line-height: 25px;
}
.all-products a {
	text-decoration: none;
}
.brdr_box {
	border-radius: 0;
}
.company-list.kk_main .ads_row_wrapblock .ads_3_row {
	width: 642px;
}
.company-list.kk_main .ads_row_wrapblock {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #ededed;
}
.company-list.kk_main .ads_row_wrapblock .ads_row_left {
	width: auto;
}
.company-list.kk_main .ads_row_wrapblock .ads_row {
	width: auto;
}
.company-list.kk_main .image_box {
	width: 85px;
	padding-right: 10px;
}
.company-list.kk_main .image_box img {
	margin: 0 auto;
}
.blog .paging {
	margin-bottom: 20px;
}
.paging .products-col {
	float: left;
	width: 320px;
	list-style: square inside;
	color: #999999;
	padding: 5px 0;
}
.paging .products-col li {
	padding: 2px 0;
	float: none;
}
.paging .products-col li a {
	font-size: 12px;
	line-height: 18px;
	color: #266bab;
}
.paging .products-col li sup {
	padding-left: 2px;
}
.paging .meta {
	float: left;
}
.b-pages {
	text-align: center;
}
.mb_menu.kk_main li a, .mb_menu.kk_main li a:hover, .mb_menu.kk_main li span{
	padding-right: 10px;
}
.mb_menu li.ui-tabs-active {
	background-position: 3px -117px;
}
.mb_menu li.ui-tabs-active .sclew {
	background-position: 100% -117px;
}
.mb_menu li.mb_title, .mb_menu li:first-child.ui-tabs-active, .mb_menu li:first-child.ui-tabs-active:hover {
	background-position: 0 -92px;
}
.mb_menu li.mb_title .sclew, .mb_menu li:first-child.ui-tabs-active .sclew, .mb_menu li:first-child.ui-tabs-active:hover .sclew {
	background-position: 100% -92px;
}
.mb_menu li.ui-tabs-active a {
	color: #fff;
}
.kk_main .left_col {
	padding: 0;
	width: 188px;
}
.kk_main .left_col .ui-tabs-panel {
	margin-top: 2px;
	border:1px solid #e2e2e2;
	float: left;
	padding-top: 20px;
}
.lc_block .nf_block {
	float: left;
	padding-left: 6px;
	padding-right: 4px;
	margin-bottom: 20px;
}
.lc_block .nf_block i.pdf-file {
	background: url(../images/pdf-file39.png) no-repeat;
	display: block;
	width: 39px;
	height: 39px;
	float: left;
}

.lc_block .nf_block i.xls-file {
	background: url(../images/xls-file39.png) no-repeat;
	width: 38px;
	height: 41px;
	display: block;
	float: left;
}
.lc_block .nf_block p {
	margin-left: 45px;
	color: #919191;
	font-size: 12px;
	line-height: 18px;
}
.lc_block .nf_block p a {
	color: #000;
	text-decoration: none;
}
.lc_block .nf_block p span {
	font-size: 10px;
}
.kk_main .middle_col .middle_col {
	width: 673px;
}
/* Vakansii page styles */
.cnd .middle_col {
	float: none;
	margin: 0 auto;
	width: 670px;
	padding: 0;
}
.cnd .mc_block_banner.head {
	border-bottom: 2px solid #da251d;
	padding-bottom: 20px;
	margin-bottom: 2px;
}
.cnd .company-list .ads_row_wrapblock .ads_3_row {
	width: 639px;
}
.cnd .company-list .ads_row_wrapblock .ads_3_row {
	background: #fff;
}
.cnd .company-list .ads_row_wrapblock .ads_3_row:nth-child(2n+1) {
	background: #edf9f8;
}
.cnd .company-list .ads_row_wrapblock .ads_row_left {
	padding-right: 9px;
}
.cnd .company-list .ads_row_wrapblock {
	border:1px solid #eaebeb;
	border-width: 1px 1px 0px 1px;
}
.cnd .company-list .ads_row_wrapblock .ads_3_row {
	border-bottom:1px solid #eaebeb;
	
}
.cnd .company-list .ads_row .ads_info .meta {
	height: auto;
	padding: 3px 0 0 0;
}
.cnd .company-list .ads_row .ads_info .meta span {
	color: #ababab;
}
.cnd .company-list .ads_row_wrapblock .ads_row_right {
	width: 140px;
}
.cnd .all_company_info {
	font-weight: bold;
	color: #000;
	font-size: 14px;
}
.cnd .all_company_info.no-salary {
	color: #ababab;
}

.ic_star .i_star {
	cursor: pointer;
}

/*  */
.right_banner_300x390 {
	min-height: 390px;
}
.blog h2 a {
	color: inherit;
	text-decoration: none;
}
.blog .breadcrumbs {
	margin-left: 205px;
	padding-top: 8px;
	padding-bottom: 10px;
}
