/* Comments section */
.comments-block {
	margin-bottom: 28px;
}
.comments-head, .discussion-head {
	background: url('../images/btns.png') 0px -92px no-repeat;
	float: left;
	height: 25px;
	position: relative;
	line-height: 25px;
	overflow: visible;
	font-family: Georgia, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	padding: 0 10px 0 16px;
}
.head-corner {
	background: url('../images/btns.png') 100% -117px no-repeat;
	position: absolute;
	width: 16px;
	right: -16px;
	top: 0;
	height: 25px;
	z-index: 1;
}
.comments-body {
	background: #f0f0f0;
	float: left;
	width: 648px;
	padding: 16px;
}
.comments-body .form-left {
	float: left;
	width: 390px;
}
.comments-body .form-left .fl {
	float: left;
	width: 199px;
	margin-right: 18px;
}
.comments-body .form-right {
	float: right;
	width: 237px;
}
.comments-body .form-left .fr {
	float: left;
	width: 171px;
}
.comments-body label {
	/* float: left;
	width: 100%; */
	font-size: 12px;
	color: #999999;
	font-weight: bold;
	margin-bottom: 4px;
}
.comments-body input, .comments-body input[type='text']{
	height: 17px;
	padding: 1px 0;
	border: 1px solid #cecece;
	margin: 0;
	vertical-align: middle;
}
.comments-body .reviews-reply-field-setting {
	padding: 8px 0 8px 10px;
}
.comments-body .reviews-reply-field-setting label {
	vertical-align: middle;
}
.message-box {
	float: left;
	margin-top: 10px;
}
.message-box textarea {
	width: 383px;
}
.mkt .middle_col .middle_col .comments-body .social-block p {
	margin-bottom: 0;
}
.comments-body .social-block {
	margin-bottom: 55px;
}
.comments-body .social-block p {
	color: #999999;
}
.comments-body .social-block .social-share {
	margin-top: 5px;
}
.confirm {
	line-height: 28px;
	margin-bottom: 22px;
	color: #999999;
}
input[type=checkbox].css-checkbox {
	display:none;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:27px;
	height:22px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:22px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}
label.css-label {
	background-image:url(../images/csscheckbox.png);
	width: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.comments-body .submit-cform {
	background: url('../images/send-message.png') no-repeat;
	/* display: block; */
	height: 43px;
	width: 233px;
	text-indent: -9999px;
	border:0;
	outline: 0 none;
	cursor: pointer;
}
.comments-body .submit-cform:hover {
	background: url('../images/send-message-h.png') no-repeat;
}

/* Discussion section */
.discussion-head {
	margin-bottom: -1px;
}
.discussion-body {
	float: left;
	width: 678px;
	padding: 0px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #cccccc;
}
.discussion-body ol, .discussion-body ul {
	list-style: none;
}
.discussion-body .commentlist li.comment {
	border-top: 1px solid #cccccc;
}
.discussion-body .commentlist li.comment .comment-body {
	padding: 15px;
}
.discussion-body .commentlist .comment-autor {
	float: left;
	width: 157px;
}
.discussion-body .commentlist .comment-autor h5 {
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	line-height: 14px;
}
.discussion-body .commentlist .comment-autor span {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	line-height: 14px;
}
.discussion-body .commentlist .comment-autor .autor-avatar {
	margin-top: 10px;
	margin-right: 9px;
	float: left;
}
.discussion-body .commentlist .comment-autor .autor-answer {
	float: left;
	width: 99px;
	margin-top: 30px;
	display:none;
}
.discussion-body .commentlist li.comment .comment-body:hover .autor-answer {
	display: block;
}
.discussion-body .commentlist .comment-autor .autor-answer a {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}
.discussion-body .commentlist .comment-autor .autor-answer a:hover {
	text-decoration: underline;	
}
.discussion-body .commentlist .comment-autor .autor-answer a i {
	background: url('../images/answer-arrow.png') no-repeat;
	display: block;
	width: 13px;
	height: 14px;
	float: left;
	margin-left: -3px;
	margin-right: 4px;
}
.discussion-body .commentlist .comment-text {
	padding-left: 157px;
}
.discussion-body .commentlist .comment-text .comment-meta {
	margin-top: -2px;
	margin-bottom: 2px;
}
.discussion-body .commentlist .comment-text .comment-meta .datetime span {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #999999;
}
.discussion-body .commentlist .comment-text p {
	margin-bottom: 0;
}
.discussion-body .commentlist .children .comment-body {
	margin-left: 5.5%;
	clear: both;
	list-style: none;
}
.clearfix:before, .clearfix:after {
content: "\0020";
display: block;
height: 0;
visibility: hidden;
}
.left_menu {
	padding: 0 0 0 10px;
}