
ul.left_menu li li
{
	list-style: none;
}

li.submenu-box{
   position: relative;
}
ul.popup_menu{
   /*margin-left: 30px;*/
   display: none;
   position: absolute;
   left: 100%;
   top: 0;
   z-index: 100;
   background-color: white;
   width: 205px;
}