.messages-block {
    border-bottom: 1px solid #e2e2e2;
    margin-top: 20px;
}

.messages-block .message-row {
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    clear: both;
    overflow: hidden;
    cursor: pointer;
}

.messages-block .message-row > div {
    float: left;
}

.messages-block .message-row .photo {
    margin-right: 10px;
}

.messages-block .message-row .info {
    width: 130px;
    margin-right: 10px;
    min-height: 55px;
}

.messages-block .message-row .info a {
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
}

.messages-block .message-row .info div {
    color: #777;
    
}

.messages-block .message-row .message-text {
    /*width: 520px;*/
    float: none;
    max-height: 55px;
    overflow: hidden;
    margin-right: 10px;
    /*min-height: 55px;*/
}

.messages-block .message-row.no-read, .messages-block .message-row .message-text.no-read {
    background-color: #fff7c5;
}
.messages-block .message-row .message-control{
   float: right;
   text-align: center;
}

.messages-block .message-row .message-control .delete, .messages-block .message-row .message-control .status {
    background-image: url("/images/social-sprite.png");    
    width: 14px;
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
}

.messages-block .message-row .message-control .delete {
    background-image: none;    
}

.messages-block .message-row .message-control .status {
    cursor: help;
}

.messages-block .message-row:hover .message-control .delete {
    background-image: url("/images/social-sprite.png");    
    background-position: -45px -65px;
}

.messages-block .message-row .message-control .unread {
    position: relative;
    right: 3px;
    color: #DADFF4;
    text-align: right;
    max-width: 14px;
}
.messages-block .message-row:hover .message-control .unread {
    color: #303030;
}

.messages-block .message-row:hover .message-control .delete:hover {
    background-position: -45px -45px;
}

.messages-block .message-row .message-control .status-in {
    background-position: -45px -3px;
}

.messages-block .message-row .message-control .status-out {
    background-position: -45px -24px;
}

.messages-block .message-row .message-picture-self{
   float: left;
   margin-right: 10px;
}

.paginator {
    margin-top: 0px;
}

.modern-page-navigation, .modern-page-navigation:hover {
    width: 778px;
    border-top: none;
}

.write-message-block{
   text-align: right;
   margin-right: 30px;
}