.rates{
	color:#266bab;
border-bottom: 1px dotted #266bab;
	text-decoration: none;
float: right;
}

.rates_wrp{
	background: url("images/sprite_new.png") 0 0 no-repeat scroll;
	width: 93px;
	height: 16px;
	margin-left: 15px;
	display: inline-block;
}

a.rates:hover{
	color: #0b9df1;
	text-decoration: none;
	border-color:#0b9df1;
}

.content_wrp{
	height: 343px;
	background: url("images/main_bg.jpg")0 0 no-repeat scroll;
	margin-top: 9px;
}

.red_text{
	color: #00A340;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
}

.autorization_text {
	margin-left:0px;
	padding-top: 30px;
	width: 395px;
	float:left;
}

.login_text{
	font-size: 12px;
	margin-top: 2px;
}

.autorization_form label{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
}

.autorization_form_wrp {
	width: 365px;
	float: left;
}


.content input[type="text"], .content input[type="email"], .content input[type="password"] {
	border: 1px solid #cccccc;
	height: 20px;
	line-height: 16px;
	vertical-align: middle;
	width: 256px;
	float: right;
}

.mb-21{
	margin-bottom: 21px;
}

.ml-31{
	margin-left: 31px;
}

.ml-17{
	margin-left: 17px!important;
}

.chekbox_label_text{
	color: #999999;
	font-family: Arial;
	font-size: 11px!important;
	font-weight: normal!important;
  width: 116px;
	height: 23px;
	display: block;
	position: relative;
	float: left;
/*	padding-left: 30px;*/
}

input.remember_checkbox[type="checkbox"] + span {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 24px;
	background: url(images/sprite_new.png) 0 -28px no-repeat;
	cursor: pointer;
}

input.remember_checkbox[type="checkbox"]:checked + span  	{
	background-position: 0 -71px;
}

.mt-12{
	margin-top: 12px;
}

.ml-104{
	margin-left: 104px;
}

.mr-10{
	margin-right: 10px;
}

.password_link{
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	color: #266bab;
	line-height: 24px;
	float: right;
}

.autorization_button{
	clear: both;
	margin-left: 31px;
	padding-top: 14px;
}

.autorization_submit{
	cursor: pointer;
	border: none;
	background: url("images/sprite_new.png") -162px -3px no-repeat scroll;
	width: 100px;
	height: 42px;
	float: left;
}

.autorization_submit:hover{
	background-position: -162px -78px;
}

.autorization_submit:active{
	background-position: -162px -154px;
}

.registration_button{
	background: url("images/sprite_new.png") -34px -225px no-repeat scroll;
	width: 227px;
	height: 42px;
	display: block;
	float: right;
}

.registration_button:hover{
	background-position: -34px -309px;
}

.registration_button:active{
	background-position: -34px -412px;
}

.autorization_block{
	margin-left: 0px;
	padding-top: 40px;
	width: 534px;
}

.ico{
	background: url("images/sprite_new.png") -1px -110px no-repeat scroll;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	border: 1px solid transparent;
}

.soc_icon{
float: right;
width: 95px;
	margin-right: 44px;
	margin-top: 128px;
}

.ico_fb{
	background-position: -1px -144px;
}

.ico_mail{
	background-position: -1px -177px;
}

.ico_odnoklas{
	background-position: -1px -208px;
}

.ico:hover{
	border: 1px solid #aebecf;
}

.plashka{
	position: absolute;
margin-top: 31px;
	width: 64px;
padding: 4px 0;
	text-align: center;
	color: #797979;
	font-family: Arial;
	font-size: 11px;
background: url("images/sprite_new.png")-3px -474px no-repeat scroll;
	display: none;
	}

.ico_vk:hover .plashka,.ico_fb:hover .plashka_fb, .ico_mail:hover .plashka_mail, .ico_odnoklas:hover .plashka_odnoklas{
	 display: block;
 }

.content_box{
	//padding-bottom: 360px!important;
	width:1243px;
}

.wrong{
	border:1px solid #ff0303!important;
}

.info_error.error{
	background-color: #fff;
	border: 1px solid #ff0303 !important;
	display: block;
	height: 44px;
	left: 242px !important;
	padding: 6px 0 0 9px;
	position: absolute;
	top: 32px !important;
	width: 209px;
}

.info_error.correct{
	display: none;
}

.info_error_text{
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	margin-top: -15px;
	zoom:1;
}

.info_error_arrow{
	width: 24px;
	height: 14px;
	background: url("images/arrow.png") 0 0 scroll no-repeat;
	position: relative;
	top:-20px;
	left:89px;
	display: block;
	z-index: 2;
}

.quest_disable{
	display: none;
}

.quest_enable{
	display: block;
	background: url("images/sprite_new.png")-5px -529px no-repeat scroll;
	width: 24px;
	height: 23px;
	position: absolute;
	top:1px;
	left:340px;
	z-index: 1;
}

.p-r{
	position: relative;!important;
}

.rubric_filter_title{
	font-family: Georgia, Arial;
	font-size: 16px;
	font-weight: bold;
	color: #da251d;
	margin-top: 14px;
	margin-bottom: 7px;
	float: left;
}

.rubric_filter_list, .rubric_filter_list_second{
	list-style: none;
	clear: both;
	margin-left: -14px;
}

.rubric_filter_reset {
	padding-top: 18px;
	float: right;
}

.rubric_filter_reset a{
	color: #b1b1b1;
	font-family: Arial;
	font-size: 12;
	text-decoration: none;
	border-bottom: 1px dotted #b1b1b1;
}

.rubric_filter_reset a.active, .rubric_filter_reset a:hover{
	color: #266bab;
	border-bottom: 1px dotted #266bab;
}

.rubric_filter_show_more{
	font-family: Arial;
	font-size: 11px;
	color: #266bab;
	width: 174px;
	display: block;

}

.rubric_filter_show_more{
	text-decoration: none;
	text-align: center;
	display: block;

}

.show_more_arrow{
	background: url("images/show_more_arrow.png") 100% 4px scroll no-repeat;
	padding-right: 8px;
}

.show_more_arrow:hover{
	background-position: 100% -7px;

}

.col_records sup{
	font-family: Arial;
	font-weight: normal;
	padding-left: 0;
	top: -8px;
	zoom: 1;
}

.rubric_filter_link{
	text-decoration: none;
	font-family: Arial;
	color: #000000;
	font-size: 12px;
	background: url(images/checkbox_sprite.png) -12px -23px no-repeat;
	display: block;
	width: 180px;
	padding-left: 15px;
	padding-top: 1px;
}

.rubric_filter_link:hover{
	background-position: 0 -44px;
	color: #da251d!important;
	text-decoration: none;
}


.rubric_filter_link.active{
	background-position: 0 0;
	color: #da251d!important;
	text-decoration: none;
}

.rubric_filter_wrp {
	margin-bottom: 9px;
}




.rubric_filter_show_more .active{}
.rubric_filter_show_more:hover{}





