.market_bread {
	position: relative;
	min-height: 19px;
   list-style:none;
   margin:0;
   padding:0;
	font-size: 0;
}
.market_bread li {
	display: inline-block;
	color: #ababab;
	font-size: 12px;
}
.marketf {
	padding-left: 15px;
}
.marketf:before {
	content: '\\';
	position: absolute;
	margin-left: -9px;
	/* margin-top: 2px; */
	font-size: 16px;
}
.market_bread a {
	color: inherit;
	text-decoration: none;
}
.market_bread a:hover {
	color: #e3231b;
}
/* submenu */
.submarket-a {
	display: block;
	position: relative;
	line-height: 16px;
	padding: 1px 24px 1px 0;
	border-bottom: 1px dotted transparent;
}
.haschild .submarket-a {
	padding-right: 24px;
	border-bottom-color: #ABABAB;
	background: url(img/bread-sub-marker.png) right top no-repeat;
}
.haschild:hover .submarket-a {
	border-bottom-color: #e3231b;
	background-position: right -20px;
	color: #e3231b;
}
.submarket-ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 1198px;
	z-index: 1000;
}
.submarket:hover .submarket-ul {
	display: block;
}
	.submarket-bg {
		position: relative;
		margin-top: 13px;
		padding: 9px 17px;
		border: 1px solid #e3231b;
		background: #fdfbf2;
		font-size: 0;
	}
	.haschild:hover .submarket-a:after {
		content: '';
		position: absolute;
		z-index: 1001;
		left: 0;
		top: 100%;
		width: 100%;
		height: 15px;
		background: url(img/bread-sub-arrow.png) center bottom no-repeat;
	}
	.submarket-col {
		display: inline-block;
		vertical-align: top;
		width: 385px;
		font-size: 12px;
	}
	.submarket-col li {
		display: inline-block;
		width: 100%;
		padding: 5px 0;
	}
	.submarket-ul a {
		color: #266bab;
	}
	.submarket-ul a:hover {
		color: #0b9df1;
	}
	.submarket-ul .iscut {
		position: relative;
	}
	.submarket-ul .current,
	.submarket-ul .current:hover {
		color: #e74039;
	}
	.submarket-ul .iscut:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 100%;
		background: url(img/bread-sub-a-fade.png) right top repeat-y;
	}
	.submarket-ul sup {
		position: static;
		bottom: 0;
		padding: 0;
		font-size: 11px;
	}
