.bread_market ul.market_bread
{
   list-style:none;
   margin:0;
   padding:0;
}
.bread_market ul.market_bread ul
{
   list-style:none;
   margin:0;
   padding:10px;
   position:relative;
   width:100%;
   margin-top:15px;
   z-index:100;
   background-color:#fdfbf2;
   border:1px solid #de241c;
}
div:not(ul li) ul{
   background-color:#fff;
   border: none;
}
.bread_market a
{
   text-decoration:none;	
}
.bread_market ul.market_bread ul a
{
   color:#266BAB !important;
   text-decoration:none;	
}
.bread_market ul.market_bread ul li
{
   width:30%;
   padding-bottom:10px;
   font-size:14px !important;
}
.bread_market ul.market_bread img.strelka
{
   z-index:110;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   background-color:#fdfbf2;
   margin-bottom:-20px;

   margin-left:-50px;
   display:none;
}

.bread_market ul.market_bread li
{
   float:left;
   margin-right:4px;
}
.bread_market ul.market_bread li
{
   float:left;
   margin-right:10px;
}
.bread_market ul.market_bread li span
{
   color:#b6b6b6;
   font-size:16px;
}
.bread_market ul.market_bread li a
{
   color:#000;
   font-size:16px;
}
.clearfix {
   visibility: hidden;
   display: block;
   clear: both;
   height: 0px;
}
.submarket div a, .submarket div ul{
   float:left;
}
