.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
.bds_row .bds_nav {
	width: 125px !important;
	text-align: right;
}
.bds_nav img{
padding-bottom:2px;
}
.ic_star {
width:13px;
}
.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}
.paging .pg_nav li input{
border-color:rgb(218,216,216) !important;
width:22px;
}
/*.left_menu a{
text-decoration:none;
color: #000;
}
.left_menu  li{
background: none;
	color:#ababab;
	padding: 5px 0 0 0;
	list-style:square inside;
}*/

.submarket div{
width:100%;
}

.bread_market ul.market_bread
{
	list-style:none;
	margin:0;
	padding:0;
}

div:not(ul li) ul{
background-color:#fff;
border: none;
}
.bread_market a
{
	text-decoration:none;	
}


.bread_market ul.market_bread li
{
	float:left;
	margin-right:4px;
}
.bread_market ul.market_bread li
{
	float:left;
	margin-right:10px;
}
.bread_market ul.market_bread li span
{
	color:#b6b6b6;
	font-size:16px;
}
.bread_market ul.market_bread li a
{
	color:#000;
	font-size:16px;
}
.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}

.bds_row td.favorites-delete{
   vertical-align: top;
   width: 125px;
   text-align: right;
}
.bds_row td.favorites-delete a{
   cursor: pointer;
   float: left;
   margin-right: 8px;
}


.show_controls{
   float: left;
}

.bds_row .bds_info .meta{
   height: 40px;
}
.bds_row.inactive{
   background-color: #f5f5f5;
}

.sortable-button{
   cursor: move !important;
}
#block_for_content{
	position: relative;
}
.block_for_content_div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1000;
}


.bkgreen {
    display: inline-block;
    background: rgb(0, 163, 64);
    color: white;
    padding: 2px 4px;
}

.overlay #img_bk{
    margin: 200px auto; width:200px; overflow: hidden; position: fixed;
    left: 45%;
}
.overlay{
   position: absolute;
   width: 100%;
   left: 0; top:0;
   z-index: 100;
   background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 163, 64, 0.8);
  border-right: 1.1em solid rgba(0, 163, 64, 0.8);
  border-bottom: 1.1em solid rgba(0, 163, 64, 0.8);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


._over {
	z-index: 500;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);

}

._win {
	color: #969696;
	width: 400px;
	background-color: #fff;
	margin: 200px auto;
	padding: 40px 75px;
	box-shadow: 0px 0px 30px #333;
	border-radius: 3px;
    position: fixed;
        left: 34%;
}

._title {
	color: #37363b;
	border-bottom: 1px solid #ededed;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 20px;
}

._close_win {
	float: right;
	color: #e3231b;
	font-weight: bold;
	background-image: url('/images/_close.png');
	height: 29px;
	width: 26px;
	margin-top: -30px;
	margin-right: -65px;
}

._logo_img {
	float: right;
	margin-right: -75px;
}

.border-red{
    border-color: #e3231b;
}

.formated_text ul {
    margin: 8px 0 8px 0;
    padding-left: 25px;
}