.bds_row table td {
    vertical-align: top;
}
div.company_s select
{
	float:right;
	margin-left:15px;
	width:220px;
}
input#subSeachId_01
{
	width:120px;
}
.paging .sub_search {
    float: left !important;
	padding-left:0px !important;
}

div#upsearchmenu {

background-image: linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(218,242,254) 45%, rgb(231,245,254) 72%, rgb(239,248,253) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.45, rgb(218,242,254)),
	color-stop(0.72, rgb(231,245,254)),
	color-stop(1, rgb(239,248,253))
);
	//background-color:#d9f1fd;
	-moz-box-shadow:    0  8px 8px -8px #696868, 
                        0 -1px 8px -8px #696868;
	-webkit-box-shadow: 0  8px 8px -8px #696868, 
                        0 -1px 8px -8px #696868;
	box-shadow: 		0  8px 8px -8px #696868, 
                        0 -1px 8px -8px #696868;
}

.iblock-vote
{
	float: right;
    padding-right: 300px;
}
.bds_row {
    border: none !important;
    border-bottom: 1px solid #E2E2E2 !important;
}
.bds_row.premium {
    border-color: #FFC77E !important;
}

#subSeachId_01{
width:200px !important;
}
h1
{
	margin:0 !important;
}
.breadcrumbs {
    padding: 12px 0 5px !important;
}
.bds_img {width:110px;}

.midban{
overflow:hidden;
}

