div.pr_c_top
{
   width:267px;
   height:96px;
   padding:15px;
   background:url('img/top_c_market.jpg') no-repeat;
   font-size:11px;
   font-weight:bold;
}
div.pr_c_top span.price
{
   font-weight:bold;
   color:#000;
   font-size:24px;
}
a.send_r
{
   display:block;
   width:196px;
   height:37px;
   background:url('img/send.jpg') no-repeat;
}
table.add_table td
{
   padding:10px 6px 0 0;
}
table.add_table td a
{
   color:#000000;
}
td.company_name a
{
   float:left;
   color:#266BAB !important;
   font-size:14px;
   font-weight:bold;
}
td.company_name img
{
   float:right !important;
}

/* ------------------------------------------------------------------ */
/* CAROUSEL's STYLE */

.carousel {
   position: relative;


}

.carousel .leftarrow {
   position: relative;
   padding: 1px 20px 20px 9px;
   background: url(/templates/energorb/components/bitrix/news/vakansii/bitrix/catalog.filter/.default/images/arrow_left.png);
}

.carousel .rightarrow {
   position: relative;
   padding: 1px 20px 20px 9px;
   background: url(/templates/energorb/components/bitrix/news/vakansii/bitrix/catalog.filter/.default/images/arrow_right.png);
}

.galery {
   width: 540px;
   overflow: hidden;
}
.galery ul {
   height: 75px;
   width: 9999px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.galery ul li {
   float: left;
   margin-right: 8px;
}

/*.left_menu a{
   text-decoration:none;
   color: #000;
}

ul.left_menu li{
   background: none;
   color:#ababab;
   list-style: square outside none !important;
   margin: 0 0 0 15px;
   padding: 5px 5px 0;
}*/

#ne_zabud{
   z-index:50;
   position:relative;
}
div.show_positions {
   width: 180px;
   height: 30px;
   background: #fffbf2;
   border: 1px solid #fdddc4;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   margin-left:90px;
}

.show_positions span {
   font: 12px Arial;
   color: #da2e2e;
   border-bottom: 1px dotted #da2e2e;
}

.show_positions a {
   text-decoration: none;
}

.show_positions img {
   border: none;
   width: 14px;
   height: 14px;
   padding-right: 5px;
}

.show_positions span, img {
   display: inline-table;
}

.catalog-element .b_star{
   background-position: -80px 0px;
   cursor: auto;
}
.catalog-element .b_star.star_sel{
   background-position: 0px 0px;
}

.make-predstavitel{
   margin-bottom: 30px;
}
.bx-yandex-view-layout{
	margin-top: 15px;
}
.all-product sup{ margin-right: 0;}

.ads_row .ads_info .tdWrap{
   padding: 0 !important;
}
.ads_info .ads_title{
   height: 34px !important;
   font-weight: normal !important;

}