.catalog-price {
	 color:red;
}
div.catalog-sections-top table td {
	padding-right:10px;
	padding-top:10px;
}
.news_list .item_row
{
	float: left;
	margin: 0 14px 14px 0 !important;
	padding: 12px !important;
	width:170px;
}
.brdr_box_hmenu {
    border: 1px solid #E2E2E2;
    border-radius: 0 0 5px 5px;
    height: 150px;
}
.image_box
{
	float:none !important;
	width:100% !important;
	position:relative;
}
.news_list .image_box img {
    max-width: 160px !important;
}
.news_list .big_item_row img {
    max-width: 1000px !important;
}
div.big_item_row span
{
    color: #FFFFFF;
    height: 17px;
    overflow: hidden;
    position: absolute;
    width: 100%;
	padding-left:10px;
}
div.big_item_row span.back
{
	background: none repeat scroll 0 0 #000;
    color: #FFFFFF;
    height: 17px;
    opacity: 0.15;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
div.big_item_row
{
	float:left;
	width:31%;
	margin-right:20px;
	margin-bottom:80px;
	height:180px;
}
div.big_item_row .image_box
{
	max-width: 100% !important;
	width: 100%;
	position:relative;
	height:180px;
}
.preview_picture
{
	width:100% !important;
	height:100% !important;
	max-height:1000px !important;
}
.big_item_row .image_box
{
	max-height:1000px !important;
}
div.duration
{
	position:absolute;
	bottom:5px;
	right:5px;
	color:#fff;
	background-color:#000;
	opacity:0,5;
}
span.duration
{
	position:absolute;
	bottom:25px;
	right:10px;
	color:#fff;
	background-color:#000;
	opacity:0,5;
}