div.left_menu {
	width: 190px;
}

ul.left_menu  {
	list-style: none;
	margin: 0; padding: 0;
}

.left_menu li {
	font: bold 12px Arial;
	color: #da251d;
	padding:0 !important;
}

.left_menu ul {
	background: #fffaf2;
	border: 1px solid #ffdec8;
}

.parent_title {
	width: 190px;
	background: #ffe7d9;
	border: 1px solid #ef8000;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}

.parent_title span {
	padding-left: 3px;
}

#open {
	background: url(images/open.png) no-repeat; width: 14px; height: 12px;
}

#close {
	background: url(images/close.png) no-repeat; width: 14px; height: 12px;
}

div.roll {
	padding-left: 10px;
}

.title_line {
	display: inline-table;
}

ul.sub_left_menus {
	list-style-image: url(images/list_image.png);

}
	
.sub_left_menus li {
	padding: 3px 3px !important;
	margin-left: -15px;
}

.sub_left_menus a {
	text-decoration: none;
	color: #000000;
	font: 12px Arial;
}