/* Left menu*/
ul.left_menu
{
	margin:0px 0 8px 0px; padding:0;
	position: relative; /*IE bug*/
}

ul.left_menu li
{
	background: none;
	color:#ababab;
	padding: 5px 3px;
}

ul.left_menu li a
{
	font-size:100%;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}

ul.left_menu li a:visited
{
	color:#000000;
}

ul.left_menu li a:hover
{
	color:#e3231b;
}


ul.left_menu li.selected a:link, 
ul.left_menu li.selected a:visited, 
ul.left_menu li.selected a:active, 
ul.left_menu li.selected a:hover
{
	color:#e3231b;
}

ul.left_menu li.selected
{
	color:#e3231b;
}
