.paging {
	overflow: visible;
}
.paging .pg_nav {
	float: none;
}
.pages-nav {
	border: 2px solid #fff;
	background: #d8d8d8;
	padding-left: 1px;
	padding-right: 1px;
}
.pages-nav li {
	background: url(/images/bg_paging.jpg) repeat-x;
	padding:0;
}
.pages-nav li:hover {
	background: #fff;
}
.pages-nav .page-prev a, .pages-nav .page-next a {
	padding:4px 14px;
	display: block;
}
.pages-nav .page-prev {
	border-right: 1px solid #d8d8d8;
}
.pages-nav .page-prev a{
	padding:4px 14px 4px 13px;
}
.pages-nav .page-next {
	border-left: 1px solid #d8d8d8;
}
.pages-nav .page-next a{
	padding:4px 13px 4px 14px;
}
.pages-nav .page-prev a i {
	background: url(/images/sprite.png) no-repeat;
	background-position: 0px -170px;
	width: 7px;
	height: 11px;
	display: block;
}
.pages-nav .page-prev a i.on {
	background-position: 0px -182px;
}
.pages-nav .page-next i {
	background: url(/images/sprite.png) no-repeat;
	background-position: -9px -170px;
	width: 7px;
	height: 11px;
	display: block;
}
.pages-nav .page-next i.on {
	background: url(/images/sprite.png) no-repeat;
	background-position: -9px -182px;
}
.pages-nav li {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #cecece;
}
.pages-nav li a {
	padding: 3px 7px;
	color: #447dc9;
	font-size: 12px;
	text-decoration: none;
	height: 21px;
}
.pages-nav li a.hr {
	color:#e3231b;
	font-weight: bold;
	border: 1px solid #e3231b;
	padding:2px 6px;
}
.pages-nav li a:hover {
	text-decoration: none;
}
.pages-nav li.exppages {
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	position: relative;
}
.pages-nav li.exppages a {
	padding:0 27px 0 12px;
	color: #4d4d4d;
	display: block;
}
.pages-nav li.exppages a i.ar {
	background: url(/images/sprite.png) no-repeat;
	background-position: -18px -170px;
	display: block;
	width: 5px;
	height: 3px;
	position: absolute;
	top: 9px;
	left: -19px;
	margin-left: 100%;
}

.b-pageslider {
	position: absolute;
	z-index: 100;
	top: -9999px;
	left: -9999px;
	width: 552px;
	padding: 6px 10px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.active-pageslider {
	left: 50%;
	top: 0;
	margin-left: -286px;
}
.b-pageslider-i {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
}
.pages-slider-track {
	position: relative;
	cursor: pointer;
	cursor: hand;
	background: url(/images/slider-bg.png) repeat-x 0 0;
	height: 11px;
}
.pages-slider-drag {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 11px;
	background: url(/images/slider-bg.png) no-repeat 0 -11px;
}
.pageslider-shd-l {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 40px;
	height: 25px;
	background: url(/images/page-shd.png) repeat-y -40px 0;
}
.pageslider-shd-r {
	position: absolute;
	top: 6px;
	right: 9px;
	width: 40px;
	height: 25px;
	background: url(/images/page-shd.png) repeat-y 0 0;
}
.paging ul.pagesslider__ul {
	width: 15000px;
	padding: 0 !important;
	margin-top: 0;
}
.paging ul.pagesslider__ul li {
	display: inline;
	padding:0;
	height: auto;
}
.pagesslider__ul a {
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 1px 5px;
	text-decoration: none;
}
.paging ul.pagesslider__ul li a:hover {
	text-decoration: none;
}
.pagesslider__ul .slider-hr, .pagesslider__ul a.slider-hr:hover {
	color: #cb0000;
	border: 1px solid #cecece;
	padding: 0 4px;
}
.b-pageslider .dis-shd {
	display: none;
}