DIV.page {}
DIV.subject {padding-bottom: 15px;}
DIV.search_element {height:55px ; background: url(images/search_background.png);}
DIV.sub_search_element {padding: 13px;}
DIV.search_button {width: 75px; height: 31px; background: url(images/search_button.png);}
DIV.search_field {}
DIV.sub_char {background: url(images/ABCD.png); width: 19px; height: 20px;}
DIV.char {padding-left: 2px;}
DIV.ABCD {padding-top: 15px; padding-bottom: 15px;}
DIV.sit {border-bottom: 2px solid #ee2118; padding-top: 5px;}
DIV.avar {border-bottom: 2px solid #ee2118;}
DIV.link {padding-top: 5px}
DIV.who {padding-top: 10px; padding-bottom: 15px;}
DIV.source {padding-top: 10px; padding-bottom: 15px;}
P.char {font: 12px Arial; color: #fefefc; padding-left: 6px; padding-top: 2px;}
A.search_button:link, A.char:link, A.corr:link {text-decoration: none}
A.search_button:visited, A.char:visited, A.corr:visited {text-decoration: none}
A.search_button:active, A.char:active, A.corr:active {text-decoration: none}
A.search_button:hover, A.char:hover, A.corr:hover {text-decoration: none}
A.add {font: 12px Arial; color: #266bab;}
A.corr {font: bold 12px Arial; color: #266bab;}
B.def {color: #000000}
B.sys {color: #266bab}
I.eng {color: #ababab}
TABLE.ABCD {width: 608px; height: 22px;}
P.subject {font: 28px Georgia}
P.sit {font: 24px Georgia;}
P.search_button {font: 14px Arial; color: #3a3a3a;}
P.add {font: bold 12px Arial; color: #266bab}
P.corr {font: 12px Arial; color: #ababab;}
P.who, P.source {font: 12px Arial; color: #ababab;}
P.link {font: bold 14px Arial; color: #266bab}
INPUT.search_field {width: 405px;}
SELECT.search_option {width: 173px; font: 14px Arial;}
INPUT.search_field, SELECT.search_option {height: 25px !important; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
TD.search, TD.search_button {text-align: center; vertical-align: middle;}
UL {padding-left: 15px;}
IMG {border:none}