ul.comp_market_sect
{
	padding:0;
	margin-left:15px;
}
ul.comp_market_sect li
{
	width:45%;
	float:left;
	list-style:square;
	color:#ababab;
	margin-right: 30px;
}
ul.comp_market_sect li span
{
	color:#ababab;
}
div.market_sect_l
{
	float:left;
}