div.mplace_block {position: relative; margin: 0 0 20px 0; border-bottom: 1px dashed #cacaca; padding-bottom: 20px;}
div.mplace_block h3 {padding: 0; margin: 0 0 0px 0; font-weight: normal; font-size: 18px; font-family: Georgia;}
div.mplace_block span.date {display: block; color: #acabab; font-size: 11px; font-family: Georgia; font-style: italic; margin: 0 0 10px 0;}
div.mplace_block span.theme {display: block; margin: 7px 0 0 0; color: #acabab; font-size: 11px;}
div.mplace_block a {color: #598527!important;}
div.mplace_block span.theme a {color: #84c43b;}
