div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
div.news_section {
	display: inline-block;
	height: 13px;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
}

#inline {
	display: inline-block;
	padding-right: 10px;
}

.news_section p {
	padding: 0px 10px;
	font: bold 10px Arial;
	color: white;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
	margin: 0;
}

#day {background: #bd3da0;}
#company {background: #bf9c20;}
#sng {background: #0090cf;}
#mir {background: #ff2f6e;}
#belarus {background: #00af1e;}
div.lenta_title_1 {
padding-left:15px;
}


.news_lenta .title_list li {
padding-left: 80px;
}

.news_section, .news_section:hover{display:inline-block; height:13px; position:relative; vertical-align:text-top; text-decoration:none; color:#fff;
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
	-ms-transform: skew(15deg);
	transform: skew(15deg);
}
	.news_section > *{padding:0 10px; font-weight:bold; font-size:10px; line-height:12px; color:#fff; display:block;
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
		-ms-transform: skew(-15deg);
		transform: skew(-15deg);
	}

.news_section_wrap .news_section {
   top: 2px;
}
.rib_purple{background:#985bb7;
            background:-webkit-linear-gradient(top, #9138c0 0, #733295 100%);
            background:linear-gradient(to bottom, #9138c0 0, #733295 100%);

}
.rib_yellow{background: #b0993a;
            background:-webkit-linear-gradient(top, #b1900a 0, #91760c 100%);
            background:linear-gradient(to bottom, #b1900a 0, #91760c 100%);
}
.rib_blue{background: #5691c8;
          background:-webkit-linear-gradient(top, #3889d3 0, #266bab 100%);
          background:linear-gradient(to bottom, #3889d3 0, #266bab 100%);
}
.rib_red{background: #cb5370;
         background:-webkit-linear-gradient(top, #ca3558 0, #b61f42 100%);
         background:linear-gradient(to bottom, #ca3558 0, #b61f42 100%);
}
.rib_green{background: #6aa435;
           background:-webkit-linear-gradient(top, #51a307 0, #3f8104 100%);
           background:linear-gradient(to bottom, #51a307 0, #3f8104 100%);
}

.rib_default{background:#7cc252;}
.news_lenta .title_list li{padding-left:80px;}
		.news_lenta .title_list li a:hover{color:#0266c4;}
	
		.news_lenta .news_section_wrap{position:absolute; width:70px; margin-left:-75px; text-align:right;}
		.news_section_wrap .news_section{top:2px;}

		.news_list .news_section{margin:0 10px 0 3px;}
	