div.page {
padding-left: 15px;
}

table.form_header h3 {
}

table.form_header {
width: 100%;
}

.form_header h3 {
font: 28px Georgia;
}

table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:0px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 5px 5px 10px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

.form-table input, textarea {
	width: 450px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}

.form-table input[type="text"] {
height: 22px !important;
}

td.lefttd {
	width: 180px;
	text-align: right;
}

td.righttd {
}

input.button_green {
	background-image:url(images/save.png);
	background-repeat:no-repeat;
	width:228px;
	height:37px;
	cursor:pointer;
	border: none;
	background-color:transparent;
	font: bold 18px Arial;
	color: #fefefc
}