/*blog*/
.blog-posts {display:inline; float:left; margin-right:1%; overflow:hidden; width:79%;}

/*post*/
.blog-post {margin:0; padding-bottom: 2.5em; padding-right:0.8em;}
.blog-post-title {font-size: 1.65em; font-weight:bold; line-height: 1.3em; margin:0 0 0 0; padding:0.2em; padding-left: 0.6em; font-family: Arial;}
.blog-post-title a {text-decoration: none !important;}
.blog-post-title a :hover{text-decoration: underline !important;}
.blog-post-info {padding:0.2em 0.6em 0.2em}
.blog-post-info-back {}
.blog-post-content {padding: 0.4em 0.6em 0.4em; overflow: hidden; border-bottom: 1px dotted; line-height: 1.4em;}

.blog-post-meta { font-size:0.85em; line-height:1.4em; margin:0; padding:0; padding-top:0.3em; padding-bottom:0.3em; padding-left: 0.6em;}
.blog-post-date {margin:0.1em 0; padding:0 0 0 0.3em; line-height: 1.4em; display:inline;}
.blog-post-current .blog-post {padding-right: 0;}

.blog-post-edit-link, .blog-post-delete-link, .blog-post-comments-link, .blog-post-views-link, .blog-post-publish-link, .blog-post-hide-link, .blog-post-show-link {background-repeat: no-repeat; padding-left: 18px; height: 16px; display:inline-block; padding-right: 0.5em; font-size: 1.2em;}
.blog-post-comments-link {padding-left: 15px;}
.blog-post-show-link {padding-left: 19px;}

.blog-post-tag {padding-top: 0.4em;}
.blog-post-tag a {text-decoration: none !important;}
.blog-post-tag a:hover {text-decoration: underline !important;}
.blog-post-avatar img {float:right;}
.blog-post-avatar {padding: 0.1em 0.3em 0.3em 0.3em;}

/*post form*/
div.blog-post-field-text textarea {width: 100%;}
div.blog-post-field-text {padding-bottom: 0.2em;}
div.blog-post-fields {}
div.blog-post-field {}
div.blog-post-field-title input, div.blog-post-field-category input  { width: 100%;}
div.blog-post-field-code input  { width: 40%;}
div.blog-post-field-user {width: 100%; /*IE Fix or zoom:1 */}
div.blog-post-field-title, div.blog-post-field-category, div.blog-post-field-favorite, div.blog-post-field-date, div.blog-post-field-enable-comments { width:100%; }
div.blog-post-field-date {padding-top: 0.5em;}
div.blog-post-field-favorite div, div.blog-post-field-enable-comments div{display:inline;}
div.blog-post-field-favorite, div.blog-post-field-enable-comments {padding-bottom: 0.4em;}
div.blog-post-field-sep { width:2%; float: left;}
div.blog-post-image-item {float:left; padding-right: 1em; padding-bottom: 2em; height:150px;}
div.blog-post-image-item-border {border: 1px solid; height:100px; text-align: center; vertical-align: middle; width:100px;}
div.blog-post-image-item-input {padding-top: 0.5em;}
div.blog-post-image-item-input input {width: 100px;}
div.blog-post-buttons {padding-top:1em; padding-bottom: 0.4em;}
div.blog-post-field-category div.blog-post-field-text label, div.blog-post-field-access-title, div.blog-post-field-code div.blog-post-field-text label {font-weight: bold; font-size: 1.1em;}
 
div.blog-post-bbcode-line {padding-top:0.2em;}
.blog-group-edit {background-repeat: no-repeat; width:16px; height:16px; display:inline-block;}
.blog-group-delete {background-repeat: no-repeat; width:16px; height:16px; display:inline-block;}
.blog-group, .blog-group-label{ }

div.blog-post-edit-form{width: 97%; padding: 0.8em;}
div.blog-buttons {padding-top: 1em;}


/*comment*/
.blog-comment {margin:0; padding-top: 0.7em;}
.blog-comment-cont{}
.blog-comment-info {display:block;}
.blog-comment-content {display:block; overflow: hidden; padding-top: 0.5em;}
.blog-comment-meta {font-size:0.85em; padding-top: 0.5em; padding-bottom: 0.5em;}
.blog-comment-date {font-size:0.85em; display:inline;}
.blog-comment-author-info {display:inline;}
.blog-comment-avatar {float:left; margin-right: 0.5em; width: 30px; height: 30px; border:1px solid #c4c4c4; background-color: #eceaec;}
.blog-comment-avatar img{}
.blog-comment-meta a { text-decoration: none !important;}
.blog-comment-meta a:hover {text-decoration: underline !important;}
.blog-comment-link, .blog-comment-delete, .blog-comment-parent, .blog-comment-answer, .blog-comment-edit, .blog-comment-show, .blog-comment-hide {display:inline-block;}
.blog-add-comment {text-align:center; padding-top: 0em; padding-bottom: 1.5em;}
.blog-comment-nav {padding-bottom: 0.6em; padding-left: 0.7em;}

/*comment-form*/
div.blog-comment-form { margin-bottom:0.7em; margin-top:0.7em; width:80%;}
div.blog-comment-field-text  {width: 100%;}
div.blog-comment-field-text textarea { width: 99.9%; }
div.blog-comment-field-tags { display: none; }
div.blog-comment-field-tags input { width:80%; }
div.blog-comment-field-captcha input { width: 180px;}
div.blog-comment-field-settings input { width:1.55em; height:1.55em; margin:0 0 0 -0.25em; vertical-align: middle; font-size:1em; }
div.blog-comment-field-settings label { vertical-align: middle; }
div.blog-comment-fields { padding:0.8em; zoom:1;}
div.blog-comment-field {}
div.blog-comment-field-title input, div.blog-comment-field-desc input { width: 80%;}
div.blog-comment-field-user {width: 100%; padding-bottom: 5px; }
div.blog-comment-field-author, div.blog-comment-field-email { float:left; width:47%;}
div.blog-comment-field-text {padding-bottom: 0.2em;}
div.blog-comment-field-user-sep { width:5%; float: left; }
div.blog-comment-field-author input, div.blog-comment-field-email input { width:100%; }
div.blog-comment-field-bbcode {padding-top: 0.7em;}
div.blog-comment-field-captcha-image{padding-top: 0.4em;}
div.blog-comment-buttons { margin-top: 1em; padding-bottom: 0.4em;}
div.blog-comment-buttons input { padding:0 0.5em; font-size:1.184em;}


/*menu*/
div.blog-menu-box {margin-bottom: 1em; padding-bottom:0.5em; line-height: 1.5em; zoom: 1;}
div.blog-menu-box span { white-space:nowrap; display: inline-block;}
div.blog-settings-menu-box {margin-bottom: 1em; padding-bottom:0.5em; line-height: 1.5em; zoom: 1; }
div.blog-settings-menu-box span{ white-space:nowrap; display: inline-block;}


/*sidebar*/
.blog-sidebar { display:inline; float:right; overflow:hidden; width:20%;}
.blog-sidebar ul,.blog-sidebar ul li ul {margin:0;padding:0; list-style:none !important;}
.blog-sidebar ul li {margin:0;padding:0px; list-style:none !important; text-align:left;}
.blog-sidebar h3 { font-size: 1em; font-weight: bold; letter-spacing: 1px; border-bottom: 1px solid; padding:0; padding-bottom: 0.6em; margin: 0;}
.blog-sidebar li ul li {margin:0;padding:0; border:0;}
.blog-sidebar ul li ul li {text-align:left; margin:0; padding: 0;}
.blog-sidebar ul li ul li a {text-decoration: none; outline: 0;}
.blog-sidebar ul li ul li a:hover {text-decoration: underline;}
.blog-sidebar ul {padding: 1em; }
.blog-sidebar ul  li ul{padding-top: 0.4em; }
.blog-sidebar-title a {text-decoration: none;}
.blog-sidebar-avatar {text-align: center;}


/*general*/
div.blog-errors {border-width:1px; border: 1px solid; margin: 1.117em; padding: 0.4em 1.117em;}
div.blog-errors ul {padding:0.3em 0 0.3em 2em; margin:0;}
div.blog-errors ul li {margin:0; padding:0;}

div.blog-notes {border-width:1px; border: 1px solid; margin: 1.117em; padding: 0.4em 1.117em;}
div.blog-notes ul {padding:0.3em 0 0.3em 2em; margin:0;}
div.blog-notes ul li {margin:0; padding:0;}

div.blog-textinfo {border: 1px solid ; margin: 1.117em; padding: 0.4em 1.117em;}
div.blog-textinfo ul {padding:0.3em 0 0.3em 2em; margin:0;}
div.blog-textinfo ul li {margin:0; padding:0;}

div.blog-clear-float {clear: both;}

table.blog-table-header-left, table.blog-table-header-top {border-collapse:collapse; border: none;}
table.blog-table-header-left th, table.blog-table-header-left td, table.blog-table-header-top th, table.blog-table-header-top td {padding:0.5em; vertical-align:top; border-top: 1px solid;}
table.blog-table-header-left th {text-align:right;}
table.blog-table-header-top th {text-align:center;}

table.blog-edit-perms-table  {border: none;}
table.blog-edit-perms-table th, table.blog-edit-perms-table td {padding:0.2em; vertical-align:top; border: none; border-top: 0px;}
table.blog-edit-perms-table  th {text-align:center;}

div.blog-line {background-repeat: no-repeat; height:3px; width:100%;}
.blog-author {margin:0; padding:0; display:inline; font-weight: bold;}
.blog-author-icon {width:16px; height:16px; display:block; float:left; background-repeat: no-repeat; padding-right:0.2em; line-height: 1em;}

/*bbcode line*/
div.blog-bbcode-line {margin-right: 3px; float: left;}
div.blog-smiles-line, div.blog-more-smiles {float: left; white-space:nowrap; margin-left: 5px; font-size: 0.95em;}
div.blog-bbcode-closeall {float: right;}
div.blog-bbcode-line img, div.blog-smiles-line img { border: 0;}
div.blog-bbcode-line a, div.blog-smiles-line a {vertical-align: middle;}
div.blog-bbcode-line a {width: 20px; height: 20px; float: left; margin-right: 0.2em; background-position: center center;  background-repeat:no-repeat; display: block;}
div.blog-bbcode-line a, div.blog-bbcode-line img, div.blog-smiles-line a, div.blog-smiles-line img { outline: none; }
div.blog-bbcode-line select { float: left; margin-left:3px; padding:0px; height:20px;} 
div.blog-bbcode-closeall a{padding-left: 1em; vertical-align: middle; float: left;}

/*BBCode Icons*/
a.blog-bbcode-bold {background-image: url(images/bbcode/font_bold.gif);}
a.blog-bbcode-italic {background-image: url(images/bbcode/font_italic.gif);}
a.blog-bbcode-color {background-image: url(images/bbcode/font_color.gif);}
a.blog-bbcode-underline{background-image: url(images/bbcode/font_underline.gif);}
a.blog-bbcode-strike{background-image: url(images/bbcode/font_strike.gif);}
a.blog-bbcode-url{background-image: url(images/bbcode/font_link.gif);}
a.blog-bbcode-img-upload{background-image: url(images/bbcode/font_image.gif);}
a.blog-bbcode-img{background-image: url(images/bbcode/font_image_upload.gif);}
a.blog-bbcode-video{background-image: url(images/bbcode/font_video.gif);}
a.blog-bbcode-code{background-image: url(images/bbcode/font_code.gif);}
a.blog-bbcode-quote{background-image: url(images/bbcode/font_quote.gif);}
a.blog-bbcode-video{background-image: url(images/bbcode/font_video.gif);}
a.blog-bbcode-list{background-image: url(images/bbcode/font_list.gif);}
a.blog-bbcode-cut{background-image: url(images/bbcode/cut.gif);}


/*main page*/

div.blog-mainpage {width: 100%;}
div.blog-mainpage-side-left {float:left; width:52%; padding-right: 0.5em; }
div.blog-mainpage-side-right {float:right; width:46%; }

.blog-mainpage-item {margin:0; padding-bottom: 0.6em; padding-top: 0.5em;}
.blog-mainpage-title{margin:0; padding-bottom: 0.5em; padding-top: 0.4em; font-weight:bold; }
.blog-mainpage-content {line-height:1.4em; font-size:0.95em; display:block;}
.blog-mainpage-meta {font-size:0.89em; line-height:1.4em; margin:0; padding:0; padding-top: 0.4em;}
.blog-mainpage-meta a {text-decoration: none !important;}
.blog-mainpage-meta a:hover {text-decoration: underline !important;}

div.blog-mainpage-comment .blog-mainpage-meta {display:inline; padding-left: 0.4em; font-size: 0.89em;}
div.blog-mainpage-comment .blog-mainpage-content {padding-top: 0.4em;}
div.blog-mainpage-comment .blog-mainpage-content a {text-decoration: none !important;}
div.blog-mainpage-comment .blog-mainpage-content a:hover {text-decoration: underline !important;}
div.blog-mainpage-item .blog-author {font-weight: normal;}
div.blog-mainpage-comment .blog-mainpage-title {font-weight: normal;}


div.blog-mainpage-blogs .blog-mainpage-content a {text-decoration: none;}
div.blog-mainpage-blogs .blog-mainpage-content a:hover {text-decoration: none;}

.blog-tab { padding:0; margin:0; min-height:31px; height:100%; width:96%; line-height: 2.35em; display:block;}
.blog-tab-left {background-repeat: no-repeat; padding:0; margin:0; width: 3px; height: 31px; float:left;}
.blog-tab-right {background-repeat: no-repeat;  padding:0; margin:0; width: 3px; height: 31px; float:right;}

.blog-tab-container {width: 100%; display: block;}

.blog-tab-items {float: right;  font-size: 0.95em; padding-right: 0.6em; display:inline; white-space: nowrap;}
.blog-tab-items a {text-decoration: none !important; padding-left: 0.6em;}
.blog-tab-items a:hover {text-decoration: underline !important;}
.blog-tab-title {font-weight: bold; padding-left: 0.5em; float: left; display:inline; overflow:hidden;}
.blog-tab-title a {text-decoration: none !important;}
.blog-tab-title a:hover {text-decoration: underline !important;}


div.blog-tab-content {padding-top:0.2em; padding-left: 0.6em; padding-right: 0.6em; padding-bottom: 1.7em;}
div.blog-mainpage-search-cloud {padding-top: 0.4em;}


.blog-calendar  {text-align:center;}
.blog-calendar table th {font-weight:normal;}

.blog-rss div {padding-top: 0.6em;}
.blog-rss-icon {background-repeat: no-repeat; width:17px; height:17px; display:block; line-height: 1em;}

.blog-group-icon {width:16px; height:16px; display:block; float:left; background-repeat: no-repeat; padding-right:0.2em; line-height: 1em;}

.blog-search-form {padding-top: 0.6em;}
.blog-search-form div{padding-bottom: 0.4em;}

.blog-mainpage-create-blog {padding-bottom: 1em; padding-left: 0.6em}

.blog-rss-subscribe {padding-bottom: 1.5em;}
.blog-rss-subscribe .blog-tab-items {padding-top: 0.55em;}
.blog-group-rss {padding-top: 1em;}

table.blogquote, table.blogcode { font-size:1em; margin:0.5em 1em; width:80%; border:1px solid;}
table.blogquote td, table.blogcode td { padding:0.95em 1.5em; }
table.blogcode td {font-family:"Courier New"; white-space:pre-wrap;}
table.blogcode pre {font-family:"Courier New"; font-size: 12px; margin: 0; line-height: 15px; white-space:pre-wrap;}

div.blog-post-quote, div.blog-post-code {padding-top: 0.6em; padding-bottom: 0.6em;}
div.blog-post-quote span, div.blog-post-code span {padding-left:0.6em;}
div.blog-post-quote table.blogquote, div.blog-post-code table.blogcode {margin: 0;}

/*page navigation*/
div.blog-page-navigation  {padding-bottom: 0.8em;}
div.blog-page-navigation a, span.blog-page-current, span.blog-page-dots {padding-left:0.75em;	padding-right: 0.5em; text-decoration: none;}

div.blog-page-navigation a.blog-page-first, div.blog-page-navigation span.blog-page-first { padding-left: 0.5em; }
span.blog-page-current { font-weight: bold; }

/*blog navigation*/
ul.blog-navigation {list-style-position:outside; list-style-type:none; padding: 0; margin: 0; padding-bottom: 1em; }
ul.blog-navigation li {display:inline;}

/*color*/
.blog-post-content {border-bottom-color: #CCCCCC;}

.blog-post-meta, .blog-comment-meta, .blog-comment-nav  {color: #969696;}
.blog-post-tag a, .blog-comment-meta a , .blog-mainpage-meta a {color:#969696 !important;}

.blog-post-date, .blog-comment-date {color: #767676;}
div.blog-post-date span.blog-post-time, div.blog-post-date span.blog-post-day {display:none;}
div.blog-post-edit-form, div.blog-comment-fields {background-color: #f1f1f1;}
div.blog-post-image-item-border {border-color:#D8D8D8;}
.blog-sidebar {background-color: #f5f5f5;}
.blog-sidebar h3 {border-bottom-color: #dadada;}
.blog-bottombar h3 {color: #333333;}
.blog-sidebar-title {color: #000 !important;}
.blog-sidebar-title a {color: #000 !important;}

div.blog-errors {border: solid 1px #DFBDAC; background: #F6DBCE;}
div.blog-notes {border: solid 1px #DAD7A7; background: #F6F9D3;}
div.blog-textinfo {border: solid 1px #D5D5D5; background: #F6F6F6;}

.blog-required-field {color: red;}
table.blog-table-header-left th, table.blog-table-header-left td, table.blog-table-header-top th, table.blog-table-header-top td {border-top-color: #D5D5D5;}

div.blog-post-quote span, div.blog-post-code span {color: #7d7d7d; display: none;}
div.blog-post-code table.blogcode { border-color: #E8E8E8; color: #7D7D7D; background-color: #F7F7F7;}
div.blog-post-quote table.blogquote { border-color: #E8E8E8; color: #555; background: url(images/quote-gray.png) no-repeat scroll left top #f7f7f7;}

div.blog-mainpage-comment .blog-mainpage-content a, div.blog-mainpage-blogs .blog-mainpage-content a:hover, div.blog-mainpage-blogs .blog-mainpage-content a, div.blog-mainpage-comment .blog-mainpage-content a:hover {color: #333;}

.blog-tab, .blog-tab-container {background-color: #ededed;}
.blog-tab-items {color: #767676;}
.blog-tab-items a {color:#767676 !important;}
.blog-tab-title a {color: #000 !important;}
.blog-comment-cont-white {background-color: #fff; padding: 1px;}

/*images*/
div.blog-tab-left {background-image: url(images/plashka_start.gif);}
div.blog-tab-right {background-image: url(images/plashka_end.gif);}
div.blog-line {background-image: url(images/line_gradient.gif);}
.blog-rss-icon {background-image: url(images/rss_icon.gif);}

div.blog-comment-new .blog-comment-date {background-color: #FFF4CA; padding-top: 2px;padding-bottom: 3px;padding-left: 4px;padding-right: 4px;}
div.blog-comment-hidden .blog-comment-cont-white, div.blog-comment-hidden .blog-comment-date {background-color: #ededed;}

div#special_perms {padding-top: 0.5em;}

div.blog-post-meta div.blog-post-info-bottom {display:none;}

.blog-post-meta span.blog-post-link-counter, .blog-post-meta span.microblog-post-link-counter {padding: 0 0 0 0.3em;}
div.blog-post-rating {float: right;}
div.blog-post-share {position:relative; float: right;}

img.linked {
    border: none;
    cursor: pointer;
    height: 21px;
    left: 2px;
    position: relative;
    top: 6px;
    width: 11px;
}

div.blog-edit-field-code label.blog-edit-field-caption {font-weight:bold;}
span#post-code-input {display:none;}
a#post-code-text {
	background-color: #fff4ca;
	border-bottom: dashed 1px;
	text-decoration: none;
	}
div.blog-post-field-code {padding-top: 0.5em;}

div.blog-tags-cloud {text-align:center;}

div.blog-comment-preview div.blog-comment-cont-white{border-top: 1px solid red; border-bottom: 1px solid red;}

div.blog-post-edit-micro #lhe_btn_sourcebb, div.blog-post-edit-micro #blog-post-image{display: none;}
/*div.blog-post-edit-micro div.blog-comment-field-bbcode{padding:0.2em;}*/
div.blog-post-edit-micro {margin-bottom: 2em; width: 78%;}
div.blog-post-edit-micro #blogpost-length {font-weight:bold; display:inline;}

div.blog-post-edit-micro div.blog-post-edit-form {padding: 0; background-color: white; width: 100%;}
div.blog-post-edit-micro div.blog-post-buttons{text-align:left; padding-top:0.7em; padding-bottom:0.1em;}
div.blog-post-edit-micro #edit-post-text {padding: 0; border: 1px solid #C2C2C2; border-radius: 2px;}
div.blog-post-edit-micro .lhe-stat-toolbar-cont, div.blog-post-edit-micro .lhe-button , div.blog-post-edit-micro div.lhe-tlbr-smile-cont {border: 0;}
div.blog-post-edit-micro #blog-post-micro-lhe-hide{display: inline-block; float:right;}
div.blog-post-edit-micro .lhe-button-cont{padding-left:3px;}
div.blog-post-edit-micro #blog-post-micro-lhe-but {display: inline-block; padding-top: 3px;}

div.blog-post-edit-micro .lhe-button-cont #lhe_btn_image {
	background-image: url(images/bbcode/icon_image.gif) !important;
	background-position: 3px 2px !important;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.blog-post-edit-micro .lhe-button-cont #lhe_btn_createlink {
	background-image: url(images/bbcode/icon_link.gif) !important;
	background-position: 2px 2px !important;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.blog-post-edit-micro .lhe-button-cont #lhe_btn_bloginputvideo {
	width: 17px;
	height: 15px;
	padding-top: 2px;
	cursor: pointer;
}
div.blog-post-edit-micro .lhe-button-over {
	background-color: #fff;
}
div.blog-post-edit-micro .blog-post-group-text{color:#999;}

div.blog-post-edit-micro #blog-post-micro-lhe-hide{
	position: absolute;
	top: 2px;
	right: 2px;
}
div.blog-post-edit-micro #blog-post-micro-lhe-hide div {
	display: inline-block;
	cursor: pointer;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	background: url(images/bbcode/icon_close.gif) no-repeat;
}

div.blog-post-edit-micro .blog-post-field-bbcode {position: relative;}
div.blog-comment .blog-author {line-height: 30px;}

div.microblog-post .blog-post-avatar  {float:left; margin-right: 0.5em; width: 30px; height: 30px; border:1px solid #c4c4c4; background-color: #eceaec; padding: 0px;}
div.microblog-post .blog-post-avatar img{}
div.microblog-post .blog-post-info {background: none; padding: 0;}
div.microblog-post .blog-author {line-height: 30px;}
div.microblog-post div.blog-post-content {border: none; padding: 0; padding-top: 0.5em;}
div.microblog-post { border-bottom: 1px solid #E5E5E5; padding:1px; margin-bottom: 1.5em;}

div.microblog-post div.blog-post-meta {padding-top: 0.5em; padding-bottom: 0.5em; font-size:0.85em; padding-left:0px;}

div.microblog-post div.blog-post-meta a {color: #969696 !important; text-decoration: none !important;}
div.microblog-post div.blog-post-meta a:hover {text-decoration: underline !important;}

div.microblog-post .blog-post-date {font-size:0.85em; color: #969696;}
/*div.blog-post-edit-micro  td.lhe-resize-row, div.blog-post-edit-micro  td.lhe-resize-row img {height: 1px !important;}*/


div.blog-comment-line {background-color: #ededed; height:1px; background-image: url(images/line-start.gif); background-repeat: no-repeat; background-position: left;}

span.blog-vert-separator {height: 7px; width:1px; margin-left: 0.2em; margin-right: 0.2em; background-color: #e0e0e0; display: inline-block;}
div.blog-post-meta-util span {display: inline-block;}
div.blog-post-meta-util * {text-decoration: none !important;}

div.microblog-post div.blog-post-date a {color: #969696 !important; text-decoration: none !important;}
div.microblog-post div.blog-post-meta-util a {color: #969696 !important; text-decoration: none !important;}

.blog-post-meta .bx-rating span, .blog-post-meta-util.bx-rating a {  font-size: 13px;}
.blog-post-current-micro .bx-rating span, .blog-post-current-micro .bx-rating a {  font-size: 11px;}
.blog-mainpage-meta .bx-rating span { color:#969696 }

.blog-mainpage-meta span.ilike-light-blog-post *, .blog-mainpage-meta span.ilike-light-microblog * {color:#969696 !important; text-decoration: none !important; font-size: 1em;}
.blog-post-meta-util a span {cursor:pointer;}

.blog-post-meta-util  .ilike-light .bx-ilike-right { padding: 0px 1px 0 11px; background-position:0 -42px; font-size: 1.2em;}
.blog-post-meta-util .ilike-light .bx-you-like .bx-ilike-right { background-position:0 -22px; }
.blog-post-meta-util  .ilike-light .bx-ilike-text {	padding: 0; font-size: 1.2em;}
.microblog-post .blog-post-meta-util .ilike-light .bx-ilike-right {font-size: 11px}
.microblog-post .blog-post-meta-util .ilike-light .bx-ilike-text {font-size: 11px}

div.blog-comments .blog-comment-nav a.blog-comment-nav-item-sel {font-weight:bold; text-decoration:none; color: #969696; cursor: default;}
.blog-comment-nav-item {}

/* autosave */
a.blogPostAutoSave {
	float: right;
	display:block;
	width:18px;
	height:18px;
	margin:3px 3px 0 0;
	position:relative;
	z-index:2;
}

.blog-post-edit-micro a.blogPostAutoSave {margin-right: 10px; margin-left: -12px; margin-top: 2px;}

.blog-notify-bar {
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") repeat-x scroll 0 -1178px #FFEB8D !important;
	position:relative;
}
.blog-micro-notify-bar {
	width: 100%;
	height: 3em;
	line-height: 1.5em;
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") repeat-x scroll 0 -1178px #FFEB8D !important;
	position:relative;
}
.blog-notify-close {
    display: block !important;
    height: 12px !important;
    margin: 3px 6px 0 0;
    padding: 0 !important;
    position: absolute !important;
    right: 5px !important;
    top: 5px !important;
    width: 12px !important;
}
.blog-notify-close a {
    background: url("/bitrix/js/main/core/images/panel/sprite03.png") no-repeat scroll -268px -243px transparent !important;
    display: block !important;
    height: 12px !important;
    width: 12px !important;
	cursor:pointer;
}
.blog-notify-text {
    color: #000000 !important;
    margin: 0 !important;
    text-align: center !important;
}
.blog-notify-text a.blogPostAutoRestore {
	position:relative;
    color: #ff0000;
	cursor:pointer;
	text-decoration:underline;
    margin-right: 9px;
    margin-top: 5px;
	z-index:2;
}



span.blog-post-group-value {
	margin-left:0.5em; 
	border-bottom: dashed 1px; 
	overflow: hidden;
	white-space: nowrap;
	max-width: 300px;
	}
span.blog-post-group-delete1 {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -21px 8px transparent;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 15px;
	vertical-align: top;
	margin-left: 2px;
}
#blog-post-group-selector {display:inline-block; cursor: pointer; }

.blog-post-sonet-group {padding-bottom: 0.5em;}
.blog-post-edit-micro #blog-post-group-selector{
	display: inline-block;
	float:right; 
	font-family: Arial; 
	color: #b2b2b2;
	padding-right: 5px;
}
span.blog-post-group-delete {
	display: inline-block;
	cursor: pointer;
	width: 13px;
	height: 16px;
	vertical-align: top;
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -282px;
}

div.blog-post-group-selector-text
{
	display: inline-block;
	float:right; 
	font-family: Arial; 
	color: #b2b2b2;
	padding-right: 5px;
	overflow: hidden;
	width: 350px;
	white-space: nowrap;
	text-align: right;
}
/* buttons */
.blog-small-button, .blog-small-button-left, .blog-small-button-icon, .blog-small-button-right, .blog-small-button-text {
	display: inline-block; vertical-align: top; height:27px;
	cursor:pointer; text-decoration:none !important; outline:none;
}

.blog-small-button { margin: 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -551px;}
.blog-small-button-left { width:4px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -493px; margin-right: 8px; }
.blog-small-button-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: #4f4f4f;}
.blog-small-button-right { width:6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -493px; margin-left: 8px;}

.blog-small-button:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -985px; }
.blog-small-button:hover .blog-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -927px; }
.blog-small-button:hover .blog-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -927px; }

.blog-arrow{
	width: 30px;
	height: 17px;
	background: url("images/arrow.png") no-repeat 5px 5px;
	display: inline-block;
}

.feed-com-files {padding-top:10px;}
.feed-com-files-title {color:#5c6470; font-size:12px; font-weight:bold; float:left; min-width:50px;}
.feed-com-files-cont {overflow:hidden; padding:1px 0 1px 10px; zoom:1;}
.feed-com-file-wrap {cursor:pointer; display:inline-block; font-size:12px; line-height:14px; margin:0 12px 12px 0; vertical-align:middle;}
.feed-com-file-wrap:hover .feed-com-file-name {text-decoration:underline;}
.feed-con-file-icon {background:url("images/live_feed_sprite.png") no-repeat -55px -220px; display:inline-block; margin-right:5px; height:16px; vertical-align:middle; width:16px;}
.feed-com-file-name {color:#2067b0; display:inline-block; font-weight:bold; margin-right:4px; max-width:120px; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.feed-com-file-size {color:#5c6470; display:inline-block; font-size:12px; vertical-align:top;}
.feed-com-files-photo {
    border:1px solid #eeeeee;
    border-radius:1px;
    box-shadow: 0 0 1px #eee, inset 0 0 1px #eee;
    display:inline-block;
    height:48px;
    margin:0 8px 8px 0;
    padding:3px;
    width:48px;
}

.feed-com-files-cont .feed-com-files-photo {height:69px; width:69px;}
.feed-file-icon-bmp {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-css {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-csv {background:url(images/icons/files/files-sprite.png) no-repeat 0 -224px !important;}
.feed-file-icon-dib {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-doc {background:url(images/icons/files/files-sprite.png) no-repeat 0 -288px !important;}
.feed-file-icon-docp {background:url(images/icons/files/files-sprite.png) no-repeat 0 -288px !important;}
.feed-file-icon-docx {background:url(images/icons/files/files-sprite.png) no-repeat 0 -288px !important;}
.feed-file-icon-gif {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-htm {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-html {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-jfif {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-jpe {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-jpeg {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-jpg {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-js {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-pdf {background:url(images/icons/files/files-sprite.png) no-repeat 0 -415px !important;}
.feed-file-icon-php {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-png {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-ppt {background:url(images/icons/files/files-sprite.png) no-repeat 0 -256px !important;}
.feed-file-icon-pptp {background:url(images/icons/files/files-sprite.png) no-repeat 0 -256px !important;}
.feed-file-icon-pptx {background:url(images/icons/files/files-sprite.png) no-repeat 0 -256px !important;}
.feed-file-icon-rar {background:url(images/icons/files/files-sprite.png) no-repeat 0 -96px !important;}
.feed-file-icon-rtf {background:url(images/icons/files/files-sprite.png) no-repeat 0 -288px !important;}
.feed-file-icon-swf {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-tif {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-tiff {background:url(images/icons/files/files-sprite.png) no-repeat 0 -128px !important;}
.feed-file-icon-txt {background:url(images/icons/files/files-sprite.png) no-repeat 0 -192px !important;}
.feed-file-icon-xls {background:url(images/icons/files/files-sprite.png) no-repeat 0 -224px !important;}
.feed-file-icon-xlsp {background:url(images/icons/files/files-sprite.png) no-repeat 0 -224px !important;}
.feed-file-icon-xlsx {background:url(images/icons/files/files-sprite.png) no-repeat 0 -224px !important;}
.feed-file-icon-xml {background:url(images/icons/files/files-sprite.png) no-repeat 0 -32px !important;}
.feed-file-icon-zip {background:url(images/icons/files/files-sprite.png) no-repeat 0 -96px !important;}

.feed-add-photo-block-wrap {margin-top:-17px;}
.feed-add-photo-block {display:inline-block; margin:17px 17px 0 0; min-height:92px; width:102px; padding-right:21px; position:relative; vertical-align:top;}
.feed-add-photo-block .feed-add-post-del-but {background-position:6px -19px; background-color:#fff; height:22px; top:1px; z-index:0;}
.feed-add-img-wrap {
    background:#fff;
    border:1px solid #e2e6e6;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(137,137,137,0.3);
    display:block;
    text-align:center;
    padding:4px;
    position:relative;
    z-index:2;
}
.feed-add-img-title {color:#2067b0; display:block; font-weight:bold; font-size:12px; margin-top:3px; overflow: hidden;}
.feed-add-photo-block .feed-add-close-icon {background-color:#fff; background-position:8px -19px; height:22px; top:1px; right:1px; width:22px;}
.feed-add-photo-block .feed-add-close-icon:hover {background-position:-57px -60px;}
.feed-add-post-del-but {
	background: url("images/live_feed_sprite.png") no-repeat;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 20px;
	position: absolute;
	width: 20px;
}
.feed-add-photo-block .feed-add-post-del-but {
background-position: 6px -19px;
background-color: white;
height: 22px;
top: 1px;
z-index: 0;
}

#blog-upload-file {color: #2067B0; border-bottom: dashed 1px #2067B0; text-decoration: none;}











//additionals.css
img {
	display: block;
}
ul.product-list {
	list-style: none;
	padding: 9px 0 18px;
	border-bottom: 2px solid #DA251D;
	position: relative;
}
ul.product-list li {
	/*float: left;*/
	display: inline-block;
	vertical-align: bottom;
	width: 164px;
	text-align: center;
}
ul.product-list li a.product-title {
	height: 51px;
	display: inline-block;
	margin-bottom: 9px;
}
ul.product-list li a {
	line-height: 18px;
	text-decoration: none;
}
ul.product-list li a img {
	display: block;
	margin: 0 auto;
}
ul.product-list a.content-show {
	position: absolute;
	background: url(/images/c-show_but.png) no-repeat;
	bottom: 2px;
	right: 2px;
	width: 135px;
	height: 24px;
	display: block;
	text-indent: -9999px;
}
ul.product-list a.content-show:hover {
	background: url(/images/c-show-a_but.png) no-repeat;
}
div.catalog-section-list li.level_li_1 {
}
div.catalog-section-list li.level_li_1 img {
	margin-right: 12px;
	margin-bottom: -8px;
	display: inline-block;
}
div.catalog-section-list li.level_li_1 sup {
	bottom:2ex;
}
div.catalog-section-list li li {
	width: 100%;	
}
div.catalog-section-list li.level_li_1 .level_li_2 sup {
	bottom: 0.9ex;
}
div.catalog-section-list .level_li_2 a, div.catalog-section-list .level_li_2 sup {
	float: left;
	line-height: 16px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow {
	background: url(/images/blue-arrow.png) no-repeat;
	width: 16px;
	height: 16px;
	display: none;
	margin-left: 8px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow:hover {
	background: url(/images/red-arrow-down.png) no-repeat; 
}
div.catalog-section-list .level_li_2 a.toggle-arrow.clicked {
	background: url(/images/red-arrow-up.png) no-repeat;
	display: block;
} 
div.catalog-section-list .level_li_2:hover a.toggle-arrow {
	display: block;
}
.catalog-section-list ul.toggle-menu {
	display: none;
	float: left;
}
div.catalog-section-list .ul_col {
	float: left;
	width: 31%;
}
div.catalog-section-list ul ul {
	padding-left: 20px;
}

div.catalog-section-list ul ul ul {
	margin-left: 10px;
}
div.catalog-section-list li li li {
	width: 100%;
}
div.catalog-section-list li li li {
	padding-bottom: 5px;
}

div.catalog-section-list li li li a:hover {
	border-bottom: 1px dotted #0b9df1;
	margin-bottom: -1px;
}
.right_col {
	width: 300px;
}
/* Companies page */
.left_col {
	padding: 0;
	width: 180px;
}
.lc_block .title {
	font-size: 14px;
}
.lc_block img {
	display: block;
}
.left_menu li {
	line-height: 18px;
}
.left_menu a, .left_menu a:visited {
	padding-left: 0;
}
.brands .left_menu li {
	line-height: 20px;
}
.brands .left_menu a {
	
}
.brands .left_menu img {
	display: none;
	position: absolute;
	right: 20px;
	top: -5px;
}
.brands .left_menu li:hover a {
	font-weight: bold;
	color: #266bab;
}
.brands .left_menu li:hover img {
	display: block;
}

/* Companies page Right Column*/
.content_right_col {
	float: left;
	width: 221px;
}
.content_right_col .rc_block {
	margin-bottom: 20px;
}
.rc_block img {
	display: block;
}
.content_right_col .rc_block_info {
	background: #ecf7fe;
	padding: 15px 12px;
}
.content_right_col .rc_block_info p {
	font-size: 12px;
	line-height: 16px;
}
/* Companies page Middle Column*/
.ads_row_rowsblock {
	margin-right: 0;
}
.middle_col .middle_col {
	width: 755px;
	float: left;
}
.middle_col .mc_block_banner {
	margin-bottom: 5px;
}
.middle_col .mc_block_banner.bottom {
	margin-top: 5px;

}
.middle_col .mb_menu {
	
	padding-right: 20px;
}
.middle_col .mb_menu.ml {
	float: left;
}
.mb_menu li a, .mb_menu li a:hover, .mb_menu li span {
	padding: 0px 30px 0 21px;
	line-height: 26px;
}
.mb_menu li:first-child a, .mb_menu li:first-child span {
	padding: 0px 30px 0 10px;
}
.icons {
background: url(/images/sprite.png) 0 0 no-repeat;
}
.icon_list {
	background-position: -250px -25px;
	width: 13px;
	height: 12px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 1px 9px 0 0;
}
.icon_list.list_sel {
	background-position: -20px -340px;
}

.icon_gallery {
	background-position: -40px -340px;
	width: 13px;
	height: 12px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 1px 9px 0 0;
}
.icon_gallery.list_sel {
	background-position: -40px -340px;
}
.mb_menu li .icon_gallery {
margin-top: 2px;
}
.icon_map {
	background-position: -60px -340px;
	width: 13px;
	height: 20px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 1px 9px 0 0;
}
.icon_map.list_sel {
	background-position: -60px -340px;
}
.mb_menu li .icon_map  {
margin-top: 2px;
}
.mb_menu li .icon_list, .mb_menu li .icon_gallery, .mb_menu li .icon_star {
	margin-top: 7px;
}
.icon_star {
	margin-right: 9px;
}
.mc_block .search-box {
	float: right;
	background: url(/images/search_bg.png) no-repeat;
	width: 251px;
	height: 22px;
	margin:2px 0 0 0;
	position: relative;
}
.mc_block .search-box input {
	border: 0;
	margin-right: 30px;
	float: right;
	margin-top: 2px;
	height: 15px;
	width: 196px;
}
.mc_block .search-box a {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	text-indent: -9999px;
	height: 20px;
	width: 25px;
}
/* Paging */
.paging {
	padding: 4px 5px 3px 18px;
	margin: 1px 0;
}
.paging .sort_col {
	float: right;
}
.sort_col_pdr {
	float: right;
}
.sort_col_pdr a {
	text-decoration: none;
	font-size: 12px;
	color: #000;
	line-height: 22px;
	padding: 0px 7px;
	display: block;
}
.sort_col_pdr a:hover {
	border: 2px solid #dedede;
	padding: 0px 5px 0px 5px;
	background: #f6f6f6;
	margin-top: -2px;
	margin-bottom: -2px;
}
.price_col, .date_col, .rate_col {
	float: left;
	margin-right: 10px;	
}
.sort_col_pdr a .sort-arrows {
	background: url(/images/sprite.png) no-repeat;
	background-position: -61px -380px;
	width: 5px;
	height:14px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 3px;
}
/*example click arrow down*/
.sort_col_pdr a:hover .sort-arrows {
	background-position: -70px -380px;
}
/*example click arrow up*/
/* .sort_col_pdr a:hover .sort-arrows {
	background-position: -79px -380px;
} */

/* Accordion block */
.accordion_block {
	list-style: none;
}
.accordion_block .h3-title {
	background: url(/images/bg_accordion.png) repeat-x;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding: 0 13px;
	display: block;
	cursor: pointer;
}
.accordion_block .h3-title a, .accordion_block .h3-title a:hover, .accordion_block .h3-title a:visited {
	text-decoration: none;
	color: #000;
	display: block;
}

.accordion_block .accordion-content {

}

/* ads_row block */
.ads_row_wrapblock {
	border: 1px solid #e7e7e7;
	border-width: 0px 1px 1px 1px;
}
.ads_3_row {
	border:1px solid #e7e7e7;
	border-width: 0px 0px 1px 0px;
	position: relative;
	width: 753px;
}
.ads_row_wrapblock .ads_row {
	width: 563px;
	background: #fff;
	padding: 9px 14px 0px 0px;
	margin-left: 8px;
}
.ads_row_rowsblock .paging {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin:0;
	border-radius: 0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	padding-left: 4px;
}
.ads_row_rowsblock .paging .meta {
	color: #4d4d4d;
	font-size: 11px;
	line-height: 18px;
}
.ads_row.premium {
	border: 1px solid #e7e7e7;
	border-width: 0px 0px 1px 0;
}
.ads_row.premium:last-child {
	border:0;
}
.ic_star .i_star {
	background: url(/images/sprite.png) no-repeat;
	background-position: 0px -360px;
	display: block;
	width: 16px;
	height: 17px;
}
.ic_star .i_star:hover, .ic_star .i_star.marked {
	background-position: 0px -340px;
}
.ads_row .ads_info { width: 411px;}
.ads_row .ads_info .ads_title {
	font-size: 14px;
}
.ads_row .ads_info .ads_text {
	font-size: 12px;
	color: #919191;
}
.ads_row .ads_info .meta {
	height: 25px;
	color: #5e5e5e;
}
.ads_row .ads_price {
	text-align: center;
	vertical-align: top;
}
.ads_row .ads_price .tdWrap {
padding: 3px 0px 5px 10px;
}
.ads_row .ads_price .curr-val  {
	color: #919191;
}
.ads_row .ads_price .buy-button {
	display: block;
	background: url(/images/sprite.png) no-repeat;
	background-position: -20px -450px;
	width: 77px;
	height: 23px;
	text-indent: -9999px;
	margin: 5px auto 0;
}
.ads_row_left {
	float: left;
	width: 592px;
}
.ads_row_right {
	background: url(/images/company-separator.png) no-repeat #fff;
	width: 148px;
	float: left;
	padding: 8px 5px 0px 8px;
	cursor: pointer;
	z-index: 1;
}
.hoverBl {
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.5); 
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
}

.ads_row_rheader img {
	margin-bottom: 15px;
}
.ads_row_rcontent {
	border-top:1px dashed #e7e7e7;
	text-align: center;
	display: none;
	padding-bottom: 5px;
}
.ads_row_rcontent a.show {
	text-decoration: none;
	color: #266bab;
	display: block;
	font-size: 11px;
	line-height: 16px;
	margin-top: 5px;
	
}
.ads_row_rcontent a.show i {
	background: url(/images/sprite.png) no-repeat;
	background-position: -200px -25px;
	display: inline-block;
	width: 6px;
	height: 4px;
	vertical-align: middle;
	margin-top: -2px;
}

.all_company_info .wt-to-comp, .all_c_info .wt-to-comp {
	background: url(/images/sprite.png) no-repeat;
	background-position: -100px -450px;
	display: inline-block;
	width: 123px;
	height: 28px;
	text-indent: -9999px; 
	margin-top: 10px;
}
.all_company_info a.c_name, .all_c_info a.c_name {
	font-size: 12px;
	text-decoration: underline;
	display: block;
	margin: 5px 0 10px;
}
.all_company_info ul, .all_c_info ul {
	margin:0;
	padding: 0;
	list-style: none;
}
.all_company_info ul li, .all_c_info ul li {
	line-height: 18px;
}
.all_company_info .phone-hide, .all_c_info .phone-hide {
	border-bottom: 1px dotted #266bab;
	color: #266bab;
	cursor: pointer;
	
}
.all_company_info .phone-show, .all_c_info .phone-show {
	display: none;
	cursor: pointer;
}
.all_company_info a.c_mess, .all_c_info a.c_mess {
	display: block;
	margin-left: -3px;
	margin-top: 5px;
}
.all_c_info a.c_mess {
	background-color: #e9f6fe;
	margin-top: 7px;
	margin-left: 0;
}
.all_company_info a.c_site, .all_c_info a.c_site {
	text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
} 

/* Show position style*/
.ads_row .show_position {
	background: #fffaf2;
	width: 175px;
	border: 1px solid #ffdcc5;
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	margin-left: 90px;
	padding: 0 0 0 8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
}
.ads_row .show_position a {
	text-decoration: none;
}
.ads_row .show_position i {
	background: url(/images/sprite.png) no-repeat;
	background-position: -1px -450px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-top: 7px;
	margin-right: 8px;
}
.ads_row .show_position span {
	color: #e3231b;
	border-bottom: 1px dotted #e3231b;
	text-align: left;
}
.topP {
	height: 23px;
}
.paging {
	overflow: visible;
}
.paging .pg_nav {
	float: none;
}
.pages-nav {
	border: 2px solid #fff;
	background: #d8d8d8;
	padding-left: 1px;
	padding-right: 1px;
}
.pages-nav li {
	background: url(/images/bg_paging.jpg) repeat-x;
	padding:0;
}
.pages-nav li:hover {
	background: #fff;
}
.pages-nav .page-prev a, .pages-nav .page-next a {
	padding:4px 14px;
	display: block;
}
.pages-nav .page-prev {
	border-right: 1px solid #d8d8d8;
}
.pages-nav .page-prev a{
	padding:4px 14px 4px 13px;
}
.pages-nav .page-next {
	border-left: 1px solid #d8d8d8;
}
.pages-nav .page-next a{
	padding:4px 13px 4px 14px;
}
.pages-nav .page-prev a i {
	background: url(/images/sprite.png) no-repeat;
	background-position: 0px -170px;
	width: 7px;
	height: 11px;
	display: block;
}
.pages-nav .page-prev a i.on {
	background-position: 0px -182px;
}
.pages-nav .page-next i {
	background: url(/images/sprite.png) no-repeat;
	background-position: -9px -170px;
	width: 7px;
	height: 11px;
	display: block;
}
.pages-nav .page-next i.on {
	background: url(/images/sprite.png) no-repeat;
	background-position: -9px -182px;
}
.pages-nav li {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #cecece;
}
.pages-nav li a {
	padding: 3px 7px;
	color: #447dc9;
	font-size: 12px;
	text-decoration: none;
	height: 21px;
}
.pages-nav li a.hr {
	color:#e3231b;
	font-weight: bold;
	border: 1px solid #e3231b;
	padding:2px 6px;
}
.pages-nav li a:hover {
	text-decoration: none;
}
.pages-nav li.exppages {
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	position: relative;
}
.pages-nav li.exppages a {
	padding:0 27px 0 12px;
	color: #4d4d4d;
	display: block;
}
.pages-nav li.exppages a i.ar {
	background: url(/images/sprite.png) no-repeat;
	background-position: -18px -170px;
	display: block;
	width: 5px;
	height: 3px;
	position: absolute;
	top: 9px;
	left: -19px;
	margin-left: 100%;
}

.b-pageslider {
	position: absolute;
	z-index: 100;
	top: -9999px;
	left: -9999px;
	width: 552px;
	padding: 6px 10px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.active-pageslider {
	left: 50%;
	top: 0;
	margin-left: -286px;
}
.b-pageslider-i {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
}
.pages-slider-track {
	position: relative;
	cursor: pointer;
	cursor: hand;
	background: url(/images/slider-bg.png) repeat-x 0 0;
	height: 11px;
}
.pages-slider-drag {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 11px;
	background: url(/images/slider-bg.png) no-repeat 0 -11px;
}
.pageslider-shd-l {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 40px;
	height: 25px;
	background: url(/images/page-shd.png) repeat-y -40px 0;
}
.pageslider-shd-r {
	position: absolute;
	top: 6px;
	right: 9px;
	width: 40px;
	height: 25px;
	background: url(/images/page-shd.png) repeat-y 0 0;
}
.paging ul.pagesslider__ul {
	width: 15000px;
	padding: 0 !important;
	margin-top: 0;
}
.paging ul.pagesslider__ul li {
	display: inline;
	padding:0;
	height: auto;
}
.pagesslider__ul a {
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 1px 5px;
	text-decoration: none;
}
.paging ul.pagesslider__ul li a:hover {
	text-decoration: none;
}
.pagesslider__ul .slider-hr, .pagesslider__ul a.slider-hr:hover {
	color: #cb0000;
	border: 1px solid #cecece;
	padding: 0 4px;
}
.b-pageslider .dis-shd {
	display: none;
}

/* Market Kartochka Tovara page Middle Column*/
.mkt .middle_col .middle_col {
	width: 680px;
}
.mkt .middle_col .middle_col h2 {
	font-size: 18px;
	line-height: 22px;
}
.mkt .middle_col .middle_col .mc_block {
	margin-bottom: 10px;
}
.mkt .middle_col .middle_col p {
	font-size: 12px;
	line-height: 18px;
}
.mkt .middle_col .right_col {
	padding:0;
}
.mkt .middle_col .middle_col h1 {
	font-size: 28px;
	margin:0;
}
.middle_col .nested-files .l_col, .middle_col .nested-files .r_col  {
	float: left;
	width: 300px;
}
.middle_col .nested-files .l_col {
	margin-right: 40px;
}
.middle_col .nested-files .nf_block {
	margin-bottom: 15px;
}
.middle_col .nested-files .nf {
	padding-left: 64px;
}
.middle_col .nested-files a {
	color: #266bab;
	text-decoration: none;
}

.middle_col .nested-files a:hover {
	text-decoration: underline;
}
.middle_col .nested-files span {
	color: #919191;
	font-size: 10px;
	line-height: 18px;
}
.middle_col .nested-files i {
	background: url(/images/sprite.png) no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	float: left;
}
.middle_col .nested-files .doc-file {
    background-position: 0px -250px;
}
.middle_col .nested-files .xls-file {
    background-position: -50px -250px;
}
.middle_col .nested-files .ppt-file {
    background-position: -100px -250px;
}
.middle_col .nested-files .jpg-file {
    background-position: -150px -250px;
}
.middle_col .nested-files .djvu-file {
    background-position: -200px -250px;
}
.middle_col .nested-files .docx-file {
    background-position: 0px -300px;
}
.middle_col .nested-files .xlsx-file {
    background-position: -50px -300px;
}
.middle_col .nested-files .pdf-file {
    background-position: -100px -300px;
}
.middle_col .nested-files .jpeg-file {
    background-position: -150px -300px;
}
.middle_col .nested-files .file-file {
    background-position: -200px -300px;
}
.mkt .middle_col .mc_block {
	position: relative;
}
.mkt .middle_col .middle_col .mc_block .mc_head {
	margin-bottom: 15px;
	line-height: 22px;
}
.mkt .product-sl {

}

.mkt .product-sl h2 {
	float: left;
}
.mkt .product-sl span.all-product {
	float: right;
}
.mkt .product-sl span.all-product a {
	font-size: 14px;
}
.mkt .product-sl .mc_body {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	width: 680px;
	margin-left: -1px;
}
.mkt .product-sl .ads_row {
	float: left;
	width: 160px;
	height: 186px;
	border-left: 0;
	border-bottom: 0;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	cursor: pointer;
	padding:9px 0 9px 9px;

}
.mkt .product-sl .ads_row .tdWrap {
	padding: 3px 0px 5px 10px;
}
.mkt .product-sl .ads_row .ads_title {
	font-size: 12px;
	line-height: 17px;
	color: #266bab;
}

.mkt .product-sl .ads_row .ads_nav {
	text-align:  center;
	vertical-align: bottom;
}
.mkt .product-sl .ads_row .ads_nav img {
	display: inline-block;
}
.mkt .product-sl .ads_row .ads_nav span {
	font-size: 12px;
	line-height: 16px;
}
.mkt .product-sl .ads_row .image_box {
	height: 75px;
	vertical-align: middle;
}
.mkt .product-sl .ads_row .image_box img {
	margin: 0 auto;
}
.mkt .product-sl .mc_footer a.prev{
	float: left;
}
.mkt .product-sl .mc_footer a.next {
	float: right;
}
.mkt .product-sl .mc_footer a {
	color: #919191;
	font-size: 14px;
	text-decoration: none;
	line-height: 28px;
	margin-top: 10px;
}
.mkt .product-sl .mc_footer a:hover {
	color: #0b9df1;
}
.catalog-element {
	margin-bottom: 25px;
}
.catalog-element .lightbox img {
	display: inline-block;
}
.catalog-element .b_star {
	background: url(/images/big_star.png) no-repeat;
	display: block;
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 8px;
}
.catalog-element .meta {
	font-size: 12px;
	line-height: 20px;
	color: #ababab;
	padding-top: 0;
	margin-left: 7px;
	margin-bottom: 10px;
}
.catalog-element .meta i.icon_map {
	background: url(/images/sprite.png) 0 0 no-repeat;
	background-position: -60px -340px;
	width: 13px;
	height: 20px;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}
.catalog-element a {
	text-decoration: none;
}
.catalog-element .to-big{
	text-decoration: none;
	border-bottom: 1px dotted #ababab;
	color: #ababab;
	margin-left: 7px;
}
.catalog-element .sum_block {
	
	width: 198px;
	height: 102px;
	background: url(/images/bg_el-block.jpg) repeat-x;
	border: 1px solid #dbe9f2;
	border-radius: 5px;
	display: block;
	padding: 15px 15px;
	float: right;
}
.catalog-element .sum_block h2.sum {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	line-height: 18px;
	color: #010101;
	margin-bottom: 15px;
}
.catalog-element .sum_block h2.sum span{
	font-size: 11px;
	line-height: 18px;
}
.catalog-element .sum_block a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #266bab;
	border-bottom: 1px dotted #266bab;
	text-decoration: none;
}
.catalog-element .sum_block a.b_buy {
	background: url(/images/buy_but.png) no-repeat;
	width: 196px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	outline: none;
	border: 0;
	margin-bottom: 8px;
}
.catalog-element .wrong_block {
	list-style: none;
	margin: 18px 30px 0 0;
	padding: 5px 0 0 27px;
	background: #fffaf2;
	width: 143px;
	height: 65px;
	float: right;
	position: relative;
}
.catalog-element .wrong_block.clicked {
	border: 1px solid #cc0000;
	margin-top: 17px;
	margin-right: 29px;
}
.catalog-element .wrong_block a {
	font-size: 12px;
	line-height: 18px;
	color:#99211c;
	text-decoration: none;
	border-bottom: 1px dotted #99211c;
}
.catalog-element .wrong_block .at {
	background: url(/images/sprite.png) no-repeat;
	background-position: -25px -170px;
	width: 21px;
	height: 21px;
	display: block;
	position: absolute;
	left: -10px;
	top:10px;
}
.brd-b5 {
	border: 1px solid #e2e2e2;
	border-radius: 0px 0px 5px 5px;
}

.rc_block h3{
	color: #da251d;
	font-size: 18px;
	margin-bottom: 20px;
}
.rc_block .contact_block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.rc_block .phone-hide {
	color: #266bab;
	border-bottom: 1px dotted #266bab;
	cursor: pointer;
}
.rc_block .phone-show {
	display: none;
}
.rc_block .send_but {
	background: url(/images/send-comp_but.png) no-repeat;
	width: 248px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}

.rc_block .c_inf span.lgrey {
	color: #b3b3b3;
}
.rc_block .contact_block span.phone-show {
	color: #000000;
}
.rc_block .contact_block i {
	background: url(/images/sprite.png) no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	float: left;
	margin-right: 10px;
}
.rc_block .contact_block i.phone {
	background-position: -50px -170px;
}
.rc_block .contact_block i.time {
	background-position: -74px -170px;
}
.rc_block .contact_block i.address {
	background-position: -98px -170px;
}
.rc_block .contact_block .ph_block i {
	margin-right: 0;
}
.rc_block .contact_block .ph_block div {
	margin-left: 28px;
	margin-bottom: 3px;
}
.rc_block .contact_block div {
	margin-bottom: 5px;
	line-height: 18px;
}
.rc_block .c_inf .site_info {
	margin-left: 28px;	
}
.rc_block .c_inf .site_info a {
	text-decoration: none;
}
a.report-e {
	background: url(/images/img_report.jpg) no-repeat;
	width: 262px;
	height: 54px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}
 .ads_wrap {
 	position: relative;
 	float: left;
 	width: 170px;
 }
 .ads_row_inner {
 	padding:0px 16px 0px 0px;
 }
.hoverB2 .ads_row_inner {
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4); 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    min-height: 182px;
}
.all_c_info {
	-moz-box-shadow: 2px 1px 5px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 2px 1px 5px rgba(0,0,0,0.4); 
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    z-index: 999;
    position: absolute;
    top: 10px;
    left:170px;
    background: #fff;
    min-height: 182px;
    border-left: 1px dashed #e2e2e2;
    margin-left: -1px;
    width: 157px;
    text-align: center;
}

.hoverBr {

}
.mkt .product-sl .hoverBr .ads_row {
	padding-left: 0;
	padding-right: 9px;
 }
 .hoverBr .ads_row_inner {
 	padding-left: 9px;
 	
 }
 .hoverBr.hoverB2 .ads_row_inner{
-moz-box-shadow: -1px 1px 5px rgba(0,0,0,0.4); 
    -webkit-box-shadow:-1px 1px 5px rgba(0,0,0,0.4); 
    box-shadow: -1px 1px 5px rgba(0,0,0,0.4);
}
.hoverBr .all_c_info {
	left:-158px;
	border-right: 1px dashed #e2e2e2;
	-moz-box-shadow: -2px 1px 5px rgba(0,0,0,0.4); 
    -webkit-box-shadow: -2px 1px 5px rgba(0,0,0,0.4); 
    box-shadow: -2px 1px 5px rgba(0,0,0,0.4);
     border-left: 0;
     margin:0;
}
.main, .footer {width: 1243px; margin: 0 auto;}












