.bx-company-table {width: 100%;}

.bx-company-table .redactor_box {width: 100%; min-height: 325px;}

.bx-company-table input[type=file] {width: 215px;}

.bx-company-table .elements input {display: block;}
.main_select {width: 350px;}
.bx-company-table input[type=text] {width: 218px;}
.bx-company-table .bodyground td.bordered {border-left: 2px solid white;}
.bx-company-table .bodyground > tr > td {padding: 20px 15px 0; min-width: 220px;}
.starrequired {color: red;}
.errortext {display: none;}
.error .errortext {color: red; display: block;}
#yandex-map {width: 500px;height: 400px;}


.company-tabs .mb_menu .mb_title{
   background-position: 0 -432px !important;
   cursor: pointer;
}
.company-tabs .mb_menu li.mb_title .sclew{
   background-position: 100% -432px;
}
.company-tabs .mb_menu li.mb_title a{
   color: #266bab;
   cursor: pointer;
}

.company-tabs .mb_menu .mb_title.sel{
   cursor: default;
}
.company-tabs .mb_menu .mb_title.sel, .company-tabs .mb_menu .mb_title:hover{
   background-position: 0 -92px !important;
}
.company-tabs .mb_menu li.mb_title.sel .sclew, .company-tabs .mb_menu .mb_title:hover .sclew{
   background-position: 100% -92px;
}
.company-tabs .mb_menu li.mb_title.sel a, .company-tabs .mb_menu li.mb_title:hover a{
   color: #FFF;
}
.company-tabs .mb_menu li.mb_title.sel a{
   cursor: default;
}

.img_block {margin-bottom: 10px;}

.bx-company-table .bodyground > tr > td.txt_right
{
   width: 200px;
   min-width: 0;
}
.bx-company-table .bodyground > tr > td.bordered
{
   width: 150px;
   min-width: 0;
}

.middle_col.with-bar.add-adv{
   width: 1000px !important;
}