.catalog-price {
	 color:red;
}
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}
.bds_row .bds_nav {
	width: 125px !important;
	text-align: right;
}
.bds_nav img{
padding-bottom:2px;
}
.ic_star {
width:13px;
}
.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}
.paging {
	overflow: hidden;
}
.paging .paging {
	border: medium none;
	padding: 0;
}
.paging .pg_nav li input{
border-color:rgb(218,216,216) !important;
width:22px;
}
/*.left_menu a{
text-decoration:none;
color: #000;
}
.left_menu  li{
background: none;
	color:#ababab;
	padding: 5px 0 0 0;
	list-style:square inside;
}*/


div:not(ul li) ul{
background-color:#fff;
border: none;
}


.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}

.bds_row td.favorites-delete{
   vertical-align: top;
   width: 20px;
   text-align: right;
}
.bds_row td.favorites-delete span{
   cursor: pointer;
}


.ads_row .ads_info .meta{
   height: auto;
}
.ads_row .ads_info{
   padding-left: 10px;
}
.ads_row .image_box{
   padding-left: 4px;
}

/* для личного кабинета (возможно, что работают и для других страниц избранного?) */
.mc_block {
	width: 755px;
	margin-right: 10px;
}
.ads_row_wrapblock {
	padding: 10px 0px 0 8px;
	border: 1px solid #e2e2e2;
	border-top: none;
}
	.ads_row_wrapblock:hover {
		position: relative;
		z-index: 499;
	}
.ic_star .i_star {
	background: url(/images/sprite.png) no-repeat;
	background-position: 0px -360px;
	display: block;
	width: 16px;
	height: 17px;
}
.ic_star .i_star:hover, .ic_star .i_star.marked {
	background-position: 0px -340px;
}
.ads_row table {
	width: 100%;
}
.ads_row .image_box {
	padding: 0 10px;
}
.ads_row_left {
	float: left;
	width: 587px;
	padding-bottom: 5px;
}
.ads_row_right {
	position: relative;
	float: left;
	width: 132px;
	margin-top: -11px;
	margin-bottom: -20px;
	padding: 10px 12px 20px 12px;
	border: 1px solid transparent;
}
	.ads_row_right:hover {
		border: 1px solid #e8e8e8;
		border-right-color: #c4c4c4;
		border-bottom-color: #c4c4c4;
		background: #ffffff;
		box-shadow: 2px 2px 2px #c4c4c4;
	}
.ads_title a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.ads_title a:hover {
	color: #0b9df1;
}
.ads_text {
	margin: 5px 0 3px;
	color: #919191;
}
.ads_info .meta {
	margin-top: 3px;
	padding: 0;
	color: #5e5e5e;
	font-size: 11px;
}
.ads_price {
	width: 90px;
	padding: 0 5px;
}
.ads_row .ads_price {
	text-align: center;
	vertical-align: top;
}
.ads_row .ads_price .tdWrap {
padding: 3px 0px 5px 10px;
}
.ads_row .ads_price .curr-val  {
	color: #919191;
}
.ads_row .ads_price .buy-button {
	display: block;
	background: url(/images/sprite.png) no-repeat;
	background-position: -20px -450px;
	width: 77px;
	height: 23px;
	text-indent: -9999px;
	margin: 5px auto 0;
}
.ads_row_rheader {
	cursor: pointer;
	text-align: center;
}
.ads_row_rheader .company-name {
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}
.ads_row_rheader .company-link {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	line-height: 19px;
	margin-top: -19px;
	margin-left: -12px;
	border-top: 1px dashed #e2e2e2;
	color: #266bab;
	font-size: 11px;
}
.ads_row_right:hover .ads_row_rheader .company-link {
	display: block;
}
