/* Left menu*/
li.submenu-box {
   position: relative;
}
.left_menu .left_menu li{
   padding-left: 15px;
}
.popup_menu.left_menu li a, .popup_menu.left_menu li a:hover, .popup_menu.left_menu li a:visited{
   color: #000;
   font-weight: normal;
}

ul.popup_menu{
   /*margin-left: 30px;*/
   display: none;
   position: absolute;
   left: 100%;
   top: 0px;
   z-index: 100;
   background-color: white;
   width: 205px;
}