.form_predstavitel_list .row_date{
   float: left;
   width: 15%;
}
.form_predstavitel_list .row_company{
   float: left;
   width: 25%;
}
.form_predstavitel_list .row_user{
   float: left;
   width: 25%;
}
.form_predstavitel_list .row_exists{
   float: left;
   width: 25%;
}
.form_predstavitel_list .row_control{
   float: left;
   width: 10%;
}
.form_predstavitel_list .bds_row_new{
   cursor: pointer;
   height: 20px;
   padding-top: 14px;
   text-align: center;
}
.form_predstavitel_list .bds_row_new:hover{
   background: #f5f5f5;
}
.form_predstavitel_list .bds_row_form{
   display: none;
}