.middle_col .middle_col{
   /*width: auto;*/
}
.ads_row .ads_info{
   width: 442px;
}

.ads_row_left .ads_row.item_hide{
   display: none;
}
.ads_row_rheader img{
   margin-bottom: 3px;
}
.b-pageslider{
   width: auto;
   max-width: 552px;
}


.company_col {
   float: left;
   margin-right: 10px;
}

/*arrows*/
.sort_col_pdr a.arrows-active{
   color: #0b9df1;
}

.sort_col_pdr a.arrows-active .sort-arrows{
   background-position: -79px -380px;/*up*/
}
.sort_col_pdr a:hover .sort-arrows{
   background-position: -70px -380px;/*down*/
}
.sort_col_pdr a.arrows-active .sort-arrows.arrows-reverse{
   background-position: -70px -380px;/*down*/
}
.sort_col_pdr a:hover .sort-arrows.arrows-reverse{
   background-position: -79px -380px;/*up*/
}

.ads_row .ads_info{
   padding-left: 10px;
}
.ads_row .image_box{
   padding-left: 4px;
}
.ads_row .ads_info .ads_title a{
   text-decoration: none;
}

.ads_row .ic_star .i_star{
   visibility: hidden;
}
.ads_row:hover .ic_star .i_star, .ads_row .ic_star .i_star.marked{
   visibility: visible;
}
.ads_row .ads_info .meta{
   height: auto;
}