/* Left menu*/
ul.left_menu
{
	margin:0px 0 8px 0px; padding:0;
	position: relative; /*IE bug*/
	
}

div.left_menu
{
	border: 1px solid #e2e2e0;
}

ul.left_menu li
{
	background: none;
	color:#ababab;
	padding: 5px 3px;
	list-style: none;
	border-bottom: 1px solid #f2f2f0;
}

div.arrow
{
	background: url(images/arrow.png);
	width: 6px;
	height: 8px;
	float: right;
}

div.arrow, ul.left_menu li a
{
	display: inline-block;
}

ul.left_menu li a
{
	font-size:100%;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding-left: 7px;
}

ul.left_menu li.selected a
{
	font-weight: bold;
}

ul.left_menu li a:visited
{
	color:#000000;
}

ul.left_menu li a:hover
{
	color:#00A340;
}


ul.left_menu li.selected a:link, 
ul.left_menu li.selected a:visited, 
ul.left_menu li.selected a:active, 
ul.left_menu li.selected a:hover
{
	color:#00A340;
}

ul.left_menu li.selected
{
	color:#00A340;
}