.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	z-index:205;
}

.title-search-result {
	border-collapse: collapse;
	border:none;
	width:10%;
}

.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

.title-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
	white-space:nowrap;
}

.title-search-result .title-search-item {
	padding-left:8px;
	padding-right:15px;
}

.title-search-result .title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	color:black;
	vertical-align:top;
}

.title-search-result .title-search-item img {
	vertical-align:top;
}

.title-search-result .title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

.title-search-result .title-search-selected td
,table.title-search-result .title-search-selected a
,.title-search-result .title-search-selected .title-search-more a
{
	background-color:#fff2be;
}

.title-search-result .title-search-more {
	font-size:11px;
	font-weight:normal;
	padding-right:15px;
	padding-left:24px;
	padding-top:0px;
}

.title-search-result .title-search-more a
{
	padding-left:12px;
	padding-right:15px;
	text-decoration:none;
	color:#999999;
}

.title-search-result .title-search-all {
	padding-left:24px;
	padding-right:15px;
}

.title-search-result .title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

.title-search-result .title-search-separator
, .title-search-result .title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

#title-search-input{
height:24px;

}

.serm, .serm:hover{display:block; float:right; width:76px; height:23px; line-height:24px; font-size:12px; text-align:center; color:#000; text-decoration:none;
	background-color:#e3e3e3;
	background:-webkit-linear-gradient(top, #f5f5f5 0, #e3e3e3 100%);
	background:linear-gradient(to bottom, #f5f5f5 0, #e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFf5f5f5', endColorstr='#FFe3e3e3',GradientType=0);
}

.as-selections{
   list-style: none;
}
.input_box{
   width: 100%;
   position: relative;
}
.as-selections .search_preloader{
   display: none;
   position: absolute;
   top: 1px;
   right: 79px;
   width: 18px;
   height: 18px;
   background-image: url(preloader.gif);
}
.as-selections.loading .search_preloader{
   display: block;
}
.search_form_suggest{
   height: 23px;
   overflow: visible;
   position: relative;
}
.as-list{
   position: absolute;
   background: #cccccc;
   z-index: 100;
   list-style: none;
   margin: 0px;
   padding: 0px;
   top: 26px;
    -webkit-box-shadow:2px 2px 15px #949494, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 2px 2px 15px #949494,  inset 0px 0px 1px #ffffff;  
 box-shadow:2px 2px 15px #949494, inset 0px 0px 1px #ffffff; 
}
.as-list li.empty{
   background: white;
   padding: 5px;
}
.as-result-item{
   background: white;
   margin-bottom: 3px;
   cursor: pointer;
}

.as-result-item:last-child{
   margin-bottom: 0px !important;
}

.as-result-item .search_row{
   overflow: hidden;
   color: black;
}
.as-result-item .search_row,
.as-result-item .search_row:hover,
.a.as-result-item .search_row span,
.as-result-item .search_row:hover span{
   text-decoration: none !important;
}
.as-result-item:nth-child(odd) .search_row.row_section{
   background-color: #e6f7fd;
}
.as-result-item:nth-child(even) .search_row.row_section{
   background-color: #ededed;
}
.as-result-item .image_box{
   float: left;
   margin: 10px 10px 0px;
   display: inline-block;
   width: 50px;
   text-align: center;
}
.as-result-item .row{
   height: 75px;
   /*margin-left: 72px;*/
   margin-left: 10px;
   margin-right: 10px;
}
.as-result-item .title{
   display: inline-block;
   height: 18px;
   line-height: 18px;
   overflow: hidden;
   position: relative;
   width: 100%;
   text-decoration: none;
}
.as-result-item .descr{
   margin: 3px 10px 3px 0px;
   height: 32px;
   overflow: hidden;
}
.as-result-item .row_section .descr{
   height: 45px;
}
.as-result-item .descr ul{
   padding-left: 20px;
}
.as-result-item .descr li{
   color: gray;
}
.inline{
   display: inline-block;
   padding: 0px 3px;
   margin-bottom: 4px;
   max-width: 390px;
}
div.news_section {
   display: inline-block;
   height: 13px;
   -webkit-transform: skew(15deg);
   -moz-transform: skew(15deg);
   -o-transform: skew(15deg);
}
.title_fullwidth{
   position: absolute;
   width: 1000px;
}
.title_gradient{
   position: absolute;
   right: 0px;
   z-index: 110;
   /*float: right;*/
   height: 18px;
   width: 60px;
   background: url(/images/hide.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(odd) .row_section .title_gradient{
   background: url(/images/hide-b.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(even) .row_section .title_gradient{
   background: url(/images/hide-g.png) repeat-y 0px 0px;
}

.as-result-item:hover{
   background-color: #f5f5f5;
}

.title_gradient{
   position: absolute;
   right: 0px;
   z-index: 110;
   /*float: right;*/
   height: 18px;
   width: 60px;
   background: url(/images/hide.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(odd) .search_row.row_section .title_gradient{
   background: url(/images/hide-b.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(odd):hover .search_row.row_section{
	background-color: #fff;
}
.as-result-item:nth-child(even):hover .search_row.row_section{
	background-color: #fff;
}
.as-result-item:nth-child(even) .search_row.row_section .title_gradient{
   background: url(/images/hide-g.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(odd):hover .search_row.row_section .title_gradient{
   background: url(/images/hide.png) repeat-y 0px 0px;
}
.as-result-item:nth-child(even):hover .search_row.row_section .title_gradient{
   background: url(/images/hide.png) repeat-y 0px 0px;
}

.as-result-item:hover  .title_gradient {
  background: url(/images/hide-g.png) repeat-y 0px 0px;
}


.rib_day {background: #bd3da0;}
.rib_company {background: #bf9c20;}
.rib_sng {background: #0090cf;}
.rib_mir {background: #ff2f6e;}
.rib_belarus {background: #00af1e;}
.rib_default {/*background: #ff2f2f;*/background:#7CC252;color:#fff;padding: 0px 5px;
font-size: 10px;
font-weight: bold;
transform: skew(0deg) !important;}

.descr_left, .descr_right{
   width: 215px;
}
.descr_left{
   float: left;
}
.descr_right{
   float: left;
}
.descr_subsect{
   display: inline-block;
   position: relative;
   height: 21px;
   line-height: 21px;
   overflow: hidden;
   width: 100%;
   text-decoration: navajowhite;
   vertical-align: middle;
}
.descr_subsect_span{
   position: absolute;
   width: 1000px;
}