div.news-list img.preview_picture
{
   float:left;
   margin:0 4px 6px 0;
}
.news-date-time {
   color:#486DAA;
}
.news_list .title a{
   font-size:16px;
}
.main_news .imgBox{
   border-radius: 10px;
   overflow: hidden;
}