.feed-com-block .feed-post-more-link {
	border-bottom: none !important;
	display: inline-block;
	padding-right: 11px;
	position: relative;
	color: #999;
	font-size: 11px;
	font-weight: normal;
	margin: 1px 0 0 12px;
}

.feed-com-block .feed-post-more-text {
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
	font-size: 11px;
}

.feed-com-block .feed-post-more-arrow {
	background: url("images/sprite.png") no-repeat -108px 0px;
	height: 3px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 5px;
	width: 7px;
}

.feed-com-block .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
	background-image: linear-gradient(to bottom, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
	top: 178px;
}

.feed-com-block-new .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(245, 247, 248, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(245, 247, 248, 1) 24px);
}

.feed-com-block-new.feed-com-block-uf .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
}

.feed-com-block .feed-post-text-more-but {
	background: none;
	display: block;
	border-bottom: 1px solid #e9edf0;
	height: 23px;
	margin: 0 0 0 86px;
	position: relative;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-com-block .feed-post-text-more:hover .feed-post-text-more-but {
	border-color: #ced2d6;
}


.feed-com-block .feed-post-text-more-but:before {
	background: url("images/sprite.png") no-repeat 25px -12px #fff;
	border: 1px solid #e6eaec;
	border-bottom: none;
	bottom: -1px;
	content: '';
	height: 21px;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	width: 63px;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-com-block .feed-post-text-more:hover .feed-post-text-more-but:before {
	border-color: #ced2d6;
}

.feed-com-block .feed-post-text-more-but {
	margin-left:0;
}

.feed-com-block .feed-post-text-more-but:before {
	background-color: #f5f7f8;
}
.feed-com-block.feed-com-block-pointer {
	-webkit-animation: feed-com-block-point-message 2s linear 1;
	animation: feed-com-block-point-message 2s linear 1;
}
@-webkit-keyframes feed-com-block-point-message {
	20%  { background-color: #fbf2c8; }
	100% { background-color: inherit; }
}

@keyframes feed-com-block-point-message {
	20%  { background-color: #fbf2c8; }
	100% { background-color: inherit; }
}
.feed-com-block.feed-com-block-pointer-to-new {
	-webkit-animation: feed-com-block-point-new-message 1s linear 1;
	animation: feed-com-block-point-new-message 1s linear 1;
}
@-webkit-keyframes feed-com-block-point-new-message {
	20%  { background-color: #fbf2c8; }
	100% { background-color: #fffcee; }
}

@keyframes feed-com-block-point-new-message {
	20%  { background-color: #fbf2c8; }
	100% { background-color: #fffcee; }
}
.feed-com-block.feed-com-block-read {
	background-color: transparent;
	-webkit-transition: background-color 1s linear 1s;
	transition: background-color 1s linear 1s;
}

.feed-com-block-new .feed-post-text-more-but:before {
	background-color: #fffcee;
}

.feed-com-corner {
	background: url("images/sprite.png") no-repeat 0px 0px;
	height: 10px;
	left: 26px;
	position: absolute;
	top: -10px;
	width: 20px;
}

.feed-post-block-yellow-corner.feed-com-corner {
	background-position: -27px 0px;
}

.feed-com-header {
	border-bottom: 2px solid #fff;
	height: 38px;
	line-height: 37px;
	padding-left: 16px;
}

.feed-com-block {
	border-bottom: 2px solid #fff;
	min-height: 40px;
	overflow: hidden;
	padding: 14px 25px 15px 72px;
	position: relative;
}

.feed-com-block-new {
	background-color: #fffcee;
}

.feed-com-block-uf.feed-com-block {
	padding-bottom: 7px;
}

.feed-com-avatar {
	background: url("images/sprite.png") no-repeat -51px 4px #535c6a;
	border-radius: 50%;
	height: 39px;
	left: 19px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	width: 39px;
}

.feed-com-avatar img {
	width: 39px;
	height: 39px;
}

.bx-opera .feed-com-avatar img {
	border-radius: 50%;
}

.feed-com-name {
	border-bottom: 1px solid transparent;
	color: #0b66c3;
	display: block;
	font-size: 13px;
	float: left;
	line-height: 14px;
	font-weight: bold;
	margin-right: 5px;
	vertical-align: top;
}

.feed-com-name:hover {
	border-bottom: 1px solid;
}

.feed-com-text {
	clear: both;
	font-size: 13px;
	line-height: 20px;
	margin-right: -25px;
	overflow: hidden;
	padding-top: 2px;
	position: relative;
}

.feed-com-block-uf .feed-com-text {
	margin-bottom: 7px;
}

.feed-com-text-inner {
	max-height: 200px;
	max-width: 820px;
	overflow: hidden;
}


.feed-com-text-inner-inner {
	word-wrap: break-word;
}

.feed-com-text-inner-inner .bx-smile {
	vertical-align: text-bottom;
}
.feed-com-informers {
	color: #999;
	display: inline-block;
	float: left;
	font-size: 11px;
	line-height: 14px;
	margin-left: 3px;
}

.feed-com-add-block {
	padding: 14px 17px 13px 71px;
	position: relative;
}

@media screen and (max-width: 1100px){
	.feed-com-add-block {
		padding-left: 17px;
	}

	.feed-com-add-block .feed-com-avatar {
		display: none;
	}

	.table.files-list td.files-del-btn,
	.table.files-list td.files-del-btn .del-but {
		width: 15px;
	}

	.table.files-list td.files-info .insert-btn, table.files-list td.files-info .insert-text {
		font-size: 11px;
	}

	table.files-list tr .files-storage span {display: block;}
	.feed-add-post-loading-wrap {width: 97%;}
}

.feed-com-add-block .feed-com-avatar {
	left: 19px;
	position: absolute;
	top: 11px;
}

.feed-com-add-block .feed-add-post-edit-block {
	border-left: medium none;
	border-right: medium none;
}

.feed-com-add-block .feed-add-photo-block {
	width: 79px;
}

.feed-com-add-block .feed-add-img-error {
	height: 69px;
}
.feed-com-add-block .feed-add-post-load-img {
	background-position: 0 -185px;
	height: 48px;
	left: 32px;
	top: 17px;
	width: 54px;
}

.feed-com-add-block .feed-add-post-load-place {
	font-size: 14px;
	line-height: 20px;
	padding: 19px 0 21px 114px;
}

.feed-com-add-block .feed-add-post-load-place:hover {
	border-width: 2px;
	padding: 17px 0 19px 112px;
}

.feed-com-add-block .feed-add-post-load-place:hover .feed-add-post-load-img {
	background-position: 0 -237px;
	left: 30px;
	top: 15px;
}

a.feed-author-name-0 { display:none; }
span.feed-author-name { display:none; }
span.feed-author-name-0 { display:inline-block; }
a.feed-com-reply-N, a.feed-com-reply- { display:none; }
a.feed-post-more-link-N-N-N-N { display:none; }
div.feed-com-avatar-Y { background : none; }
.feed-com-avatar.feed-com-avatar-Y img { background-color : #FFFFFF; }
.blog-comment-popup-menu input {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
	box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	height:29px;
	color:#474747;
	padding:0 0 0 8px;
	width:100%;
}

.feed-com-footer {
	cursor: pointer;
	height: 60px;
}


.feed-com-add {
	cursor: pointer;
	float: left;
	height: 40px;
	margin-top: 11px;
	padding: 0 27px 0 72px;
	position: relative;
}

.feed-com-loader {
	border: 1px solid #80868e;
	border-radius: 50%;
	height: 15px;
	top: 7px;
	right: 7px;
	position: absolute;
	width: 15px;
}

.feed-com-loader:before,
.feed-com-loader:after {
	background-color: #80868e;
	content: '';
	left: 7px;
	position: absolute;
}

.feed-com-loader:before {
	height: 1px;
	top: 7px;
	width: 5px;
}

.feed-com-loader:after {
	height: 6px;
	top: 2px;
	width: 1px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.feed-com-block .feed-com-loader {
	display: block;
}

.feed-com-block .feed-com-loader:after {
	animation: feed-con-add-clock 1s linear infinite;
}

@-webkit-keyframes feed-con-add-clock {
	0%   { -webkit-transform: rotate(0deg) }
	100% {  -webkit-transform: rotate(360deg) }

	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

@keyframes feed-con-add-clock {
	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

.feed-com-add .feed-com-avatar {
	left: 19px;
	position: absolute;
	top: 0;
}

.feed-com-add-link {
	border-bottom: 1px solid transparent;
	color: #80868e;
	display: inline-block;
	font-size: 13px;
	margin-top: 11px;
	line-height: normal;
	vertical-align: top;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-com-add:hover .feed-com-add-link,
.feed-com-add-link:hover {
	color: #80868e;
	border-bottom-color: #80868e;
}

.feed-com-writers {
	margin-top: 11px;
	float: right;
	padding-right: 20px;
}


.feed-com-writers-wrap .feed-com-avatar {
	display: inline-block;
	margin-right: 4px;
	position: static;
	vertical-align: top;
}

.feed-com-writers-wrap {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 509px;
	white-space: nowrap;
}

@media screen and (max-width: 1550px)
{
	.feed-com-writers-wrap {max-width: 369px;}
}

@media screen and (max-width: 1400px)
{
	.feed-com-writers-wrap {max-width: 228px;}
}

@media screen and (max-width: 1250px)
{
	.feed-com-writers-wrap {max-width: 134px;}
}
.feed-com-writers-pen {
	background: url(images/feed-comm-pen.gif) no-repeat 0 0;
	display: inline-block;
	height: 12px;
	margin: 14px 0 0 9px;
	vertical-align: top;
	width: 27px;
}

