.ads_row table td {
    vertical-align: top;
	font-size:12px;
	text-align:left !important;
}
.tdWrap
{
	font-size:12px;
}
.date_ev
{
	width:12%;
}
.name_ev
{
	width:36%;
}
.info_ev
{
	width:20%;
}
.place_ev
{
	width:15%;
}
.org_ev
{
	width:17%;
}
.bds_prem_type td
{
	font-size:12px !important;
	font-weight:bold;
}
.bds_prem_type td
{
//	text-align:left !important;
}


#new_ob{
float:right;
z-index:1;
position:relative;
display:block;
}
.middle_col h1{
float:left;
}

.clearfix {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0px;
}

.midban
{overflow:hidden;}

.mc_block{
    padding-top: 10px;
}
.bds_info .bds_text {
    word-wrap: break-word;
    width: 500px;
}

.bds_info .bds_titles {
    color: #266bab;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
    overflow: hidden;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.bds_titles .adv-type{
    position: absolute;
    margin-top: 2px;
}

.bds_titles .adv-title{
    text-indent: 58px;
}

.bds_info {
    display: block;
    width: 530px;
}

.adv-title a{
	text-decoration: none;
}

.adv_popup_banner{
    width: 150px;
    height: 24px;
    position: relative;
    float: left;
}
.adv_popup_banner div{
    position: relative!important;
}

.paging ul{
    margin-top: 0px!important;
}

.paging{
    height: 25px!important;
}