.middle_col .middle_col {
	width: 755px;
	float: left;
}
.accordion_block .h3-title {
	overflow: hidden;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background: #fff;
}
body .ui-tooltip {
	border-width: 2px;
}