div.news-list img.preview_picture
{
   float:left;
   margin:0 4px 6px 0;
}
.news-date-time {
   color:#486DAA;
}

.news_list .title a{
   font:normal 16px Georgia;
   text-decoration: none !important;
   color: #101010;
}
.gray_box div{
   padding-left:0px;
}
.gray_box div a.bold{
   padding-left:10px;
}