div.market_section
{
   width:16%;
   float:left;
   margin-right:7px;
   text-align:center;
   height:120px;
   position:relative;
}
div.market_section a
{
   bottom: 10px;
   position: absolute;
   right: 0;
   width: 100%;
}
div.market_sections
{
   border-top:2px solid #00A340;
   border-bottom:2px solid #00A340;
}
div.catalog-section-list li a
{
   text-decoration:none;
}
div.catalog-section-list ul
{
   list-style:none;
   padding:0;
   margin:0;
}
div.catalog-section-list li a.level1
{
   font-size:24px;
   //  font-size:14px;
   color: #00A340;
}
div.catalog-section-list ul ul
{
   margin-top:20px;
}
div.catalog-section-list li
{
}
div.catalog-section-list li li
{
   float:left;
   width:33%;
   padding-bottom:10px;
}
li.add_l_m a:hover
{
   color:#266BAB !important;
}
.level_li_1{
   margin-bottom:10px;
}