.catalog-price {
	 color:red;
}
div.catalog-sections-top table td {
	padding-right:10px;
	padding-top:10px;
}
.news_list .item_row
{
	float: left;
	margin: 0 14px 14px 0 !important;
	padding: 12px !important;
	width:170px;
}
.brdr_box_hmenu {
    border: 1px solid #E2E2E2;
    border-radius: 0 0 5px 5px;
    height: 150px;
}
.image_box
{
	float:none !important;
	width:160px !important;
position: relative;
}
.news_list .image_box img {
    max-width: 160px !important;
}
.duration
{
	position:absolute;
	bottom:25px;
	right:5px;
	color:#fff;
	background-color:#000;
	opacity:0,5;
}
.clear {
    visibility: hidden;
    display: block;
    height: 0px;
}

.mb_menu {
position:relative;
}