	BODY {font: 12px Arial;}
P {margin-top: 0px; margin-bottom: 0px;}
P.subject {font: 28px Georgia;}
P.subject2 {font: 24px Georgia;}
P.grey {color: #ababab}
P.data {font: 22px Arial;}
P.tab {font: 11px Arial; color: #fefefc; padding-left: 10px; padding-top: 3px;}
P.price, A.section {color: #266bab}
P.title {font: bold 11px Arial; padding: 0px 10px;}
P.day {font: 11px Arial;}
P.date {font: 11px Arial; color: #266bab}
P.desc {padding: 0px 10px;}
P.month {font: bold 11px Arial; color: #5e7c0f; padding-left: 5px;}
B.grey {font: 12px Arial; color: #ababab}
A.highlight_section {font: bold 12px Arial; color: #e3231b}
IMG {border: none; vertical-align: middle}
DIV.page {width: 965px}
DIV.info {padding-top: 15px}
DIV.subject2 {padding-top: 20px; padding-bottom: 15px;}
DIV.tab {background: url(images/tab.png); width: 244px; height: 22px; text-align: left;}
DIV.sections {padding-top: 20px;}
DIV.select_section {background: #fdfbf2; border: 1px solid #de241c; padding: 10px 15px;}
DIV.legend {background: url(images/legend.png); width: 960px; height: 37px;}
DIV.ad_space {padding-top: 30px;}TABLE.ad_space {table-layout: fixed;}
TR.title {height: 35px; vertical-align: top;}
TR.one_ad {height: 62px;}
TR.month {height: 26px;}
TD.place {width: 255px; height: 63px;}
TD.cost {width: 105px; height: 63px;}
TD.when {width: 25px; height: 63px;}
TH.place, TH.cost {text-align: left;}
TH {background: #d9f1fd; border-top: 1px solid #d3e5f0; border-bottom: 1px solid #d3e5f0; border-left: 1px solid white; vertical-align: middle; text-align: center;}
TD.place, TD.cost, TD.when {border-left: 1px dashed #d7d7d7; border-bottom: 1px solid #d7d7d7;}
A.next_month {font: 11px Arial; color: #266bab}
A.email {color: #266bab}
A.add {background: none; width: 25px; height: 62px; display: block;}
A.add:hover {background: url(images/add.png); width: 24px; height: 62px; display: block;}A.highlight_section, A.section {padding-bottom: 10px;}TD.va {vertical-align: middle}TD.vatc {vertical-align: middle; text-align: center;}
A:link{text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}