div.news-detail img.detail_picture
{
   float:left;
   margin:0 8px 6px 1px;
}
.news-date-time
{
   color:#486DAA;
}
ul.menu-brand
{
   width:100%;
   height:31px;
   background:url('img/brand.jpg') repeat-x;
   list-style:none;
   float:left;
   padding:0px;
}
ul.menu-brand li
{
   padding:7px 10px;
   float:left;
}
ul.menu-brand li.first
{
   padding:0;
   width:4px;
   height:31px;
   background:url('img/brand-first.jpg') no-repeat;
}
ul.menu-brand li.last
{
   padding:0;
   width:4px;
   height:31px;
   float:right;
   background:url('img/brand-last.jpg') no-repeat;
}
ul.menu-brand li.separate
{
   padding:0;
   width:2px;
   height:31px;
   background:url('img/separate.jpg') no-repeat;
}
