BODY {font: 12px Arial;}
DIV.page {}
DIV.subject {padding-bottom: 15px;}
DIV.search_element {height:55px ; background: url(images/search_background.png);}
DIV.search_button {width: 75px; height: 31px; background: url(images/search_button.png);}
DIV.sub_search_element {padding: 13px;}
DIV.sub_char {background: url(images/ABCD.png); width: 19px; height: 20px;}
DIV.char {padding-left: 2px;}
DIV.ABCD {padding-top: 15px; padding-bottom: 15px;}
DIV.up1 {border-bottom: 2px solid #00A340;}
DIV.up2 {width: 45px; height: 27px; background: url(images/up2.png); margin-left: -4px; margin-bottom: -6px;}P.subject {font: 28px Georgia;}
P.char {font: 12px Arial; color: #fefefc; padding-left: 6px; padding-top: 2px;}
A.search_button:link, A.char:link {text-decoration: none}
A.search_button:visited, A.char:visited {text-decoration: none}
A.search_button:active, A.char:active {text-decoration: none}
A.search_button:hover, A.char:hover{text-decoration: none}
A.add {font: 12px Arial; color: #266bab;}
TABLE.ABCD {height: 22px;}
P.up {font: bold 14px Arial; padding-left: 17px; padding-top: 5px; color: #fefefc;}
P.search_button {font: 14px Arial; color: #3a3a3a;}
P.add {font: bold 12px Arial; color: #266bab}
P.B, P.A {padding-top: 10px;}
B.def {color: #266bab}
I.eng {color: #ababab}TD.search, TD.search_button {text-align: center; vertical-align: middle;}
INPUT.search_field {width: 455px;

}
SELECT.search_option {width: 173px; font: 14px Arial;}INPUT.search_field, SELECT.search_option {height: 25px !important; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
IMG {border:none}

.page a {
text-decoration: none !important;
font-size: 14px;
}
.page a:hover{
text-decoration: underline !important;
}

