.vakansii_detail_block P {margin-top: 0px; margin-bottom: 0px;}
.vakansii_detail_block P.subject {font: 28px Georgia;}
.vakansii_detail_block P.grey {font: 12px Arial; color: #7f7f7f}
.vakansii_detail_block P.bold {font: bold 14px Arial; color: #000000}
.vakansii_detail_block P.button {font: bold 18px Arial; color: #fefefc;}
.vakansii_detail_block P.sub_subject {font: 21px Georgia;}
.vakansii_detail_block P.desc {margin-top: 10px;}
.vakansii_detail_block P.type {padding-top: 5px;}
.vakansii_detail_block IMG {border: none;}
.vakansii_detail_block IMG.logo {padding-bottom: 5px;}IMG.image {padding-right: 5px;}
.vakansii_detail_block DIV.page {width: 965px;}
.vakansii_detail_block DIV.info_field {background: url(images/info_field.png); width: 965px; height: 81px;}DIV.sub_info_field {padding: 20px;}
.vakansii_detail_block DIV.subject {padding-bottom: 15px;}
.vakansii_detail_block DIV.info_main {padding-top: 10px;}
.vakansii_detail_block DIV.res {padding-top: 20px;}
.vakansii_detail_block DIV.logo {padding-bottom: 6px; text-align: center}
.vakansii_detail_block DIV.contact {background: url(images/contact.png); width: 305px; height: 414px;}
.vakansii_detail_block DIV.button1 {background: url(images/button.png); width: 283px; height: 34px; text-align: center}
.vakansii_detail_block DIV.button2 {background: url(images/button.png); width: 283px; height: 34px; text-align: center;}DIV.up_button2 {padding-top: 20px;}
.vakansii_detail_block DIV.ter {padding-top: 3px;}
.vakansii_detail_block DIV.type {padding-top: 10px; padding-bottom: 20px;}
.vakansii_detail_block DIV.sub_contact {padding: 15px;}
.vakansii_detail_block DIV.address, DIV.number, DIV.time, DIV.map {padding-bottom: 15px;}
.vakansii_detail_block DIV.map {text-align: center;}DIV.zoom {padding-top: 10px;}
.vakansii_detail_block TABLE.info_field {padding: 18px;}
.vakansii_detail_block TD.info_field {}
.vakansii_detail_block TD.button {width: 283px}
.vakansii_detail_block UL {margin-top: 8px; padding-left: 25px;}
.vakansii_detail_block LI {margin-top: 8px;}
.vakansii_detail_block A:link{text-decoration: none}
.vakansii_detail_block A:visited {text-decoration: none}
.vakansii_detail_block A:active {text-decoration: none}
.vakansii_detail_block A:hover {text-decoration: none}