.adv-wrap{}
.adv-wrap:hover .write{}
.adv-wrap:hover .to-mark span, .adv-wrap:hover .write{opacity:1;}
.to-mark{padding:0;width:16px;}
.to-mark span{background:url("img/star.png") repeat scroll 0 0 rgba(0, 0, 0, 0);cursor:pointer;display:block;height:15px;margin-right:7px;opacity:0;width:16px;}
.to-mark span:hover, .to-mark span.act{background-position:0 -15px;}
.to-mark span.act{opacity:1;}
.bds_row .bds_info .author-wrap{overflow:visible;position:relative;}
.author-wrap > a{text-decoration:none;}
.author-wrap > a:hover, .author-wrap > a.act{color:#ff2b22;text-decoration:none;}
.adv-type{background:url("img/adv-type-sprite.png") repeat scroll 0 0 rgba(0, 0, 0, 0);display:inline-block;height:9px;width:51px;}
.adv-type.sell{background-position:0 -9px;}
.adv-type.buy{background-position:0 -18px;}
.adv-type.service{background-position:0 0;}
.author-wrap > div{background-color:#ffffff;border:1px solid #cccccc;border-radius:3px;box-shadow:0 0 3px rgba(0, 0, 0, 0.3);display:none;padding:16px;position:absolute;margin-top:5px;width:150px;z-index:100;}
.author-wrap > div table{}
.author-wrap > div span{display:block;}
.author-wrap > div table td{text-align:left;}
.author-wrap > div .user-org{font-size:11px;}
.author-wrap > div .user-name{color:#1a1a1a;font-size:12px;font-weight:bold;margin-bottom:2px;}
.author-wrap > div a{color:#266bab;display:block;font-size:11px;margin-bottom:7px;text-decoration:none;}
.author-wrap > div a:hover{color:#0b9df1;text-decoration:none;}
.author-wrap > div .all-adv{float:right;margin-bottom:0;}
.author-wrap > div img{margin-bottom:13px;margin-right:16px;margin-top:10px;}
.author-wrap > div .status{font-size:11px;}
.write, .edit{background:linear-gradient(to top, #55b4e9, #a3e2f9) repeat scroll 0 0 rgba(0, 0, 0, 0);border-bottom:1px solid #449bcd;border-radius:5px;border-right:1px solid #5fb0db;border-top:1px solid #90def9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 2px #90def9 inset;color:#ffffff;display:block;height:25px;line-height:23px;margin-top:10px;opacity:0;position:relative;text-decoration:none;text-shadow:1px 1px 0 #0073d7;width:117px;}
.write:hover, .edit:hover{background:linear-gradient(to top, #90def9, #55b4e9) repeat scroll 0 0 rgba(0, 0, 0, 0);box-shadow:none;color:#ffffff !important;text-decoration:none;}
.write:before{background:url("img/mail.png") repeat scroll 0 0 rgba(0, 0, 0, 0);content:"";display:block;height:12px;left:10px;position:absolute;top:6px;width:17px;}
.write.no-before:before{background:none;}
.user-menu{}
.user-menu li{margin-bottom:5px;}
.user-menu li a:before, .user-menu li a:hover:after{display:none;}
.user-menu li a.act{color:#e3231b;}
.user-menu li .checkbox{background:url("img/checkbox.png") repeat scroll 0 -13px rgba(0, 0, 0, 0);display:none;height:13px;left:-13px;position:absolute;width:13px;}
.user-menu li a:hover .checkbox{display:block;}
.user-menu li .checkbox.act{background-position:0 0;display:block;}
.user-menu li .find-tooltip{background:linear-gradient(#676766, #4b4b4b) repeat scroll 0 0 rgba(0, 0, 0, 0);color:#cccccc;display:inline-block;height:25px;line-height:25px;margin-left:11px;margin-top:-11px;padding:0 8px;position:absolute;top:50%;white-space:nowrap;}
.user-menu li .find-tooltip a{color:inherit;display:inline;padding:0;}
.user-menu li .find-tooltip:before{border-bottom:5px solid transparent;border-right:6px solid #5c5c5c;border-top:5px solid transparent;content:"";display:block;left:-6px;position:absolute;top:7px;}
.title .reset{border-bottom:1px dotted;color:#266bab !important;cursor:pointer;font-family:arial;font-size:12px;font-weight:normal;margin-left:10px;}
.user-info img{width:75px;height:75px;}
.ads-search{background:linear-gradient(#f5f5f5, #e3e3e3) repeat scroll 0 0 rgba(0, 0, 0, 0);float:right;height:23px;padding-left:15px;position:relative;width:240px;}
.ads-search:before{border-bottom:21px solid transparent;border-left:10px solid #ffffff;content:"";display:block;left:0;position:absolute;top:0;}
.ads-search .inp-txt{position:relative;top:1px;}
.ads-search .inp-txt:before{background:url("img/search-edge.png") repeat scroll 0 0 rgba(0, 0, 0, 0);content:"";display:block;height:21px;left:0;position:absolute;width:13px;}
.ads-search .inp-txt input[type="text"]{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#fcfbfa;border-color:#e5e5e5 #e5e5e5 #c4c4c4;border-image:none;border-radius:4px;border-style:solid;border-width:1px;box-shadow:0 -1px 0 #d6d5d5 inset;height:19px;margin:0 0 0 9px;padding:0 0 0 11px;width:190px;}
.ads-search input[type="submit"]{background:url("img/search-icon.png") repeat scroll 0 0 rgba(0, 0, 0, 0);border:medium none;height:19px;margin:0;padding:0;position:absolute;right:6px;top:3px;width:18px;}
.sw_breadcrumbs{padding-left:20px;font-size:12px;text-transform:none;color:#ababab;}
.sw_breadcrumbs a{color:#ababab;text-decoration:none;}
.sw_breadcrumbs a:hover{color:#ff2b22;text-decoration:none;}
.for-user-info{background-color:#e6f7fd;color:#7b7b7b;padding:10px;}
.for-user-info p{margin-bottom:15px;}
.for-user-info .title{color:#333333;display:block;}
.middle_col.with-min-bar{float:left;width:755px;}
.middle_col.with-bar{float:left;width:700px;}
.middle_col.with-bar.add-adv{float:left;width:765px;}
.middle_col.with-bar.detail_adv{width:680px;}
.content_box .content_right_col.add-adv-comm{float:left;width:215px;padding-right:15px;}
.cab-sections-nav{margin-top:10px;}
.cab-sections-nav li{list-style:none outside none;}
.cab-sections-nav li a{background:#aee6fa url("img/user-menu-bg.png") repeat-x scroll 0 100%;box-sizing:border-box;color:#000000;display:block;font-weight:bold;padding:10px 15px;position:relative;text-decoration:none;}
.cab-sections-nav li a span{position:relative;z-index:5;}
.cab-sections-nav li a:hover{background:#8adbf8;}
.cab-sections-nav li.act > a:after{background:url("img/user-menu-act-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);content:"";display:block;height:30px;position:absolute;right:0;top:50%;width:51px;margin-top:-15px;}
.cab-sections-nav li.act > a{background:linear-gradient(#ff5659, #ff6f79) repeat scroll 0 0 rgba(0, 0, 0, 0);border-bottom:1px solid #ffbccc;border-top:1px solid #d93b21;box-shadow:0 1px 0 #f2071d inset;color:#ffffff;}
.cab-sections-nav li ul li a{background:url("img/user-submenu-bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);border-bottom:1px solid #ff2200;font-weight:normal;padding-left:25px;}
.cab-sections-nav li ul li a:hover{background:url("img/user-submenu-bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);}
.cab-sections-nav li.act ul{display:block;}
.cab-sections-nav li ul{display:none;}
.cab-sections-nav li ul li a.act, .cab-sections-nav li ul li a:hover{background-color:#fee7da;}
.cab-sections-nav li ul li:first-child a{border-top:1px solid #ff2200;}
.middle_col h1{float:none;}
.add-adv-form{border:1px solid #e2e2e2;margin-bottom:20px;padding:20px;}
.add-adv-form > div{margin-bottom:20px;}
.add-adv-form .min{display:inline-block;vertical-align:top;}
.add-adv-form label{display:inline-block;margin-right:10px;text-align:right;width:100px;padding-top:6px;vertical-align:top;}
.add-adv-form label.accent{color:#252525;display:block;font-size:14px;text-align:left;width:auto;padding-bottom:5px;}
.add-adv-form label.row{width:65px;}
.add-adv-form label span{color:#da251d;}
.add-adv-form input[type="text"]{box-sizing:border-box;height:24px;margin-right:10px;padding-left:5px;width:140px;}
.add-adv-form textarea.inp-title{width:475px;max-width:475px;}
.add-adv-form input.txt-min[type="text"]{width:50px;}
.add-adv-form input.inp-name[type="text"]{width:326px;}
.add-adv-form .t-tip{color:#9e9e9e;display:inline-block;font-size:11px;margin-top:5px;}
.photo-wrap img{border-radius:2px;display:block;}
.add-adv-form textarea{box-sizing:border-box;padding-left:5px;padding-top:5px;width:100%;}
.add-adv-form textarea.hight{height:160px;}
.add-adv-form textarea.low{max-width:723px;}
.add-adv-form .photo-wrap input[type="file"]{position:static;top:2px;right:-20px;width:52px;height:56px;opacity:70;cursor:inherit;}
.add-adv-form select{height:24px;}
.span-za{display:inline-block;vertical-align:top;padding:5px 5px 0 5px;}
.photo-wrap .del{border-bottom:1px dotted;cursor:pointer;}
.photo-wrap{margin-right:15px;}
.add-btn, .add-btn-dis{background:linear-gradient(#fafafa, #e0e0e0) repeat scroll 0 0 rgba(0, 0, 0, 0);border-color:#eeeeed #c3c3c3 #c5c5c5;border-radius:4px;border-style:solid;border-width:1px;box-sizing:border-box;cursor:pointer;display:block;height:52px;position:relative;width:52px;}
.add-btn:after, .add-btn-dis:after{background:url("img/sprite.png") repeat scroll 0 -489px rgba(0, 0, 0, 0);content:"";display:block;height:11px;left:50%;margin-left:-5px;margin-top:-5px;position:absolute;top:50%;width:11px;}
.add-btn-dis:after{background:url("img/preloader.gif");height:20px;width:20px;margin-left:-10px;margin-top:-10px;}
.add-btn:hover, .add-file:hover{background:linear-gradient(#e0e0e0, #fafafa) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.add-btn.act:after{background-position:0 -478px;}
.add-file, .add-file-dis{background:linear-gradient(#fafafa, #e0e0e0) repeat scroll 0 0 rgba(0, 0, 0, 0);border-color:#dedede #c6c6c6 #a9a9a9;border-radius:7px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;margin-right:10px;padding:6px 15px 6px 24px;position:relative;}
.add-file:before, .add-file-dis:before{background:url("img/sprite.png") repeat scroll 0 -478px rgba(0, 0, 0, 0);content:"";display:block;height:11px;left:7px;margin-top:-6px;position:absolute;top:50%;width:11px;}
.add-file-dis:before{background:url("img/preloader.gif");height:20px;width:20px;margin-left:-5px;margin-top:-10px;}
.more-numbers{border-bottom:1px dotted;color:#266bab;cursor:pointer;display:inline-block;margin-left:20px;margin-top:6px;position:relative;}
.more-numbers:before{background:url("img/sprite.png") repeat scroll -1px -450px rgba(0, 0, 0, 0);content:"";display:block;height:14px;left:-20px;position:absolute;top:0;width:14px;}
.more-numbers:hover{border-color:transparent;}
.buttons-group{}
.buttons-group input{margin-right:10px;}
.adv-add-btn{background:url("img/add-adv-btn-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);border:medium none;border-radius:10px;color:#ffffff;cursor:pointer;font-size:18px;font-weight:bold;height:36px;text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);}
.adv-add-btn:hover{background:linear-gradient(#0f8dd5 0px, #8bdaf5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);color:#fff;}
.adv-preview{background:linear-gradient(#fafafa, #e0e0e0) repeat scroll 0 0 rgba(0, 0, 0, 0);border-color:#dedede #c6c6c6 #a9a9a9;border-radius:10px;border-style:solid;border-width:1px;color:#212121;cursor:pointer;display:inline-block;font-size:18px;padding:6px 10px;position:relative;}
.adv-preview:hover{background:linear-gradient(#e0e0e0, #fafafa) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.write-message-form{background-color:#ededed;padding:16px;}
.write-message-form div{margin-bottom:16px;}
.write-message-form label{display:inline-block;width:40px;}
.write-message-form textarea, .write-message-form input[type="text"]{border:1px solid #e2e2e2;box-sizing:border-box;font-size:12px;padding-left:5px;}
.write-message-form input[type="text"]{height:24px;width:905px;}
.write-message-form textarea{color:#4d4d4d;height:345px;line-height:16px;padding-top:5px;width:100%;}
.write-message-form input[type="text"]:focus, .write-message-form textarea:focus{border-color:#0769a1 #0983c8 #0a94e4;border-style:solid;border-width:1px;}
.write-message-form .options{margin:0;}
.write-message-form .options .send{background:linear-gradient(#8ddbf8, #6abfef) repeat scroll 0 0 rgba(0, 0, 0, 0);border-color:#c7eefc #7dcdf0 #56a2ce;border-radius:5px;border-style:solid;border-width:1px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);color:#12576b;font-size:11px;height:21px;padding:0 5px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.write-message-form .options .save{background:url("img/doc-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);border:medium none;color:#666666;float:right;padding-left:13px;}
.write-message-form .options input{cursor:pointer;}
.cab-alert{bottom:20px;position:fixed;right:20px;}
.cab-alert div{margin-top:10px;}
.cab-alert div span{border-radius:7px;display:table-cell;font-size:13px;height:50px;padding:0 10px;text-align:center;vertical-align:middle;width:180px;}
.alert-blue{background:linear-gradient(rgba(142, 220, 248, 0.85), rgba(104, 189, 238, 0.85)) repeat scroll 0 0 rgba(0, 0, 0, 0);color:#187793;text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);}
.alert-gray{background:linear-gradient(rgba(103, 103, 103, 0.85), rgba(75, 75, 85, 0.85)) repeat scroll 0 0 rgba(0, 0, 0, 0);color:#e5e5e5;text-shadow:0 1px 0 rgba(0, 0, 0, 0.55);}
.adv-inner > h1{}
.img-price{width:100%;}
.img-price td{text-align:center;vertical-align:middle;width:50%;}
.big-imgs{margin-bottom:10px;}
.img-price td + td{text-align:right;}
.big-imgs .img-wrap{display:none;}
.big-imgs .img-wrap:first-child{display:block;}
.big-imgs .img-wrap img{}
.big-imgs .img-wrap a div{border-bottom:1px dotted;color:#266bab;display:inline-block;position:relative;text-decoration:none;}
.big-imgs .img-wrap div{margin:10px 0;}
.big-imgs .img-wrap div:before{background:url("img/sprite.png") no-repeat scroll 0 -500px rgba(0, 0, 0, 0);content:"";display:block;height:18px;left:-25px;position:absolute;width:19px;}


.img-price .price{background:linear-gradient(#f2f9fe, #d7f0fd) repeat scroll 0 0 rgba(0, 0, 0, 0);border:1px solid #d3e5f0;border-radius:7px;display:inline-block;padding:12px 13px;font-size:21px; width: 172px}
.img-price .price span{font-size:16px;}
.img-price .price span.val{font-size:11px; display: block;}

.img-price .price span.price_nums{font-size: 21px;}
.img-price .price.wide span.price_nums{margin-top: 5px; display: block}
.img-price .price.wide span.price_nums{font-size: 17px;}


.carousel{padding:0 40px;position:relative;}
.carousel .slides li a:before{border:1px solid #e4e4e4;box-sizing:border-box;content:"";display:block;height:64px;left:0;position:absolute;width:88px;}
.carousel .slides li a{display:block;position:relative;}
.carousel .slides li a.act:before{border:3px solid #e41e26;}
.flex-direction-nav{}
.carousel .slides li a img{}
.flex-direction-nav a{background:url("img/sprite.png") repeat scroll 0 0 rgba(0, 0, 0, 0);display:block;height:25px;overflow:hidden;position:absolute;text-indent:-99999px;top:18px;width:18px;}
.flex-direction-nav li{list-style:none outside none;}
.flex-direction-nav .flex-next{background-position:-49px -493px;right:10px;}
.flex-direction-nav .flex-prev{background-position:-31px -493px;left:10px;}
.flex-disabled{display:none !important;}
.adv-inner h1{margin-bottom:0px;}
.adv-inner .author-wrap{margin-bottom:20px;}
.adv-type{margin-right:5px;}
.carousel{margin-bottom:20px;}
.nd_detailed_description h3{padding:0 0 10px 0;margin-bottom:10px;border-bottom:1px solid #e2e2e2;}
.nd_detailed_description p{line-height:18px;margin-bottom:20px;}
.user-contacts{border:1px solid #e2e2e0;border-radius:0 0 7px 7px;margin-bottom:20px;padding:10px;width:278px;}
.user-contacts .title{font-size:18px;color:#da251d;text-align:center;display:block;margin-bottom:20px;}
.user-contacts ul{list-style-type:none;padding-bottom:10px;}
.user-contacts li{margin-bottom:15px;line-height:18px;padding-left:30px;}
.user-contacts .nd_phone{background:url(img/phone-ico.gif) no-repeat;}
.user-contacts .nd_address{background:url(img/address-ico.gif) no-repeat;}
.user-contacts .nd_skype{background:url(img/skype.gif) no-repeat;}
.user-contacts .nd_person{background:url(img/nm-person.png	) no-repeat;}
.user-contacts a{text-decoration:none;}
.nd_contact_user, .nd_edit_user_advert{background:linear-gradient(#8bdaf5 0px, #0f8dd5 100%);display:block;height:35px;padding-left:40px;font:17.5px/35px Arial, Helvetica, sans-serif;color:#fff;text-shadow:0 0 1px #000;border-radius:5px;box-shadow:0 0 3px #b7b7b7;position:relative;margin-bottom:15px;}
.nd_edit_user_advert{padding-left:25px;}
.nd_contact_user:hover, .nd_edit_user_advert:hover{color:#fff;background:linear-gradient(#0f8dd5 0px, #8bdaf5 100%);}
.nd_contact_user:after{position:absolute;left:8px;top:7px;width:27px;height:20px;background:url(img/contact-ico.png) no-repeat;content:" ";}
.nd_contact_user:visited, .nd_edit_user_advert:visited{color:#fff!important;}
.nd_contact_user:visited:hover, .nd_edit_user_advert:visited:hover{color:#fff!important;}
.nd_forget{padding:15px 15px 15px 40px;background:#e9f6fe;font-size:11px;line-height:16px;color:#919191;position:relative;}
.nd_forget:after{position:absolute;left:11px;top:21px;width:21px;height:21px;background:url(img/forget-ico.png) no-repeat;content:" ";}
.nd_place_adv{background:linear-gradient(#8bdaf5 0px, #0f8dd5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);border-radius:5px;box-shadow:0 0 3px #b7b7b7;color:#fff;display:block;font:18.474px Arial, Helvetica, sans-serif;margin-bottom:15px;padding:10px;position:relative;text-shadow:0 0 1px #000;text-align:center;line-height:0.971;height:35px;}
.nd_place_adv:hover{background:linear-gradient(#0f8dd5 0px, #8bdaf5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);text-decoration:none;color:#fff!important;}

.nd_place_adv_yellow{background: linear-gradient(#FFE900 0px, #FF7B00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);border-radius:5px;box-shadow:0 0 3px #b7b7b7;color:#fff;display:block;font: 21.474px Arial, Helvetica, sans-serif;margin-bottom: 15px;padding: 10px;position:relative;text-shadow:0 0 1px #000;text-align:center;line-height: 1.4;height: 30px;}
.nd_place_adv_yellow:hover{background: linear-gradient(#F58500 0px, #FFE900 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);text-decoration:none;color:#fff!important;}

.nd_place_adv{text-decoration:none;}
.nd_place_adv:visited, .nd_place_adv:visited:hover{color:#fff!important;text-decoration:none}
.my-adv-head{background:linear-gradient(#f1f9fe 0px, #d7f0fd 100%);padding-left:9px;padding-top:11px;padding-bottom:11px;height:auto;}
.my-adv-head li{float:left;margin-right:5px;padding:0;}
.my-adv-head .nd_chosen{padding-top:0px;color:#6c7174;}
.my-adv-head .nd_chosen input[type="checkbox"]{float:left;width:auto;position:static;margin-right:5px;}
.my-adv-head a{border:1px solid #ddd;border-radius:5px;padding:5px 5px 5px 21px;background:linear-gradient(#f6f6f6 0px, #e5e5e5 100%);color:#3a3a3a;position:relative;}
.my-adv-head li a:hover{background:linear-gradient(#e5e5e5 0px, #f6f6f6 100%);color:#3a3a3a;text-decoration:none;}
.my-adv-head .nd_up_chosen a{background:linear-gradient(#98e1f9 0px, #54b4e9 100%);color:#fff;border:1px solid #65bbe9;text-shadow:0 1px 1px #627681;padding:5px;}
.my-adv-head .nd_up_chosen a:hover{background:linear-gradient(#54b4e9 0px, #98e1f9 100%);color:#fff;border:1px solid #65bbe9;}
.nd_adv_add:after{content:" ";position:absolute;left:3px;top:5px;width:15px;height:15px;background:url(img/adv_add.png) no-repeat;}
.nd_adv_off:after{content:" ";position:absolute;left:3px;top:7px;width:15px;height:15px;background:url(img/adv_off.png) no-repeat;}
.nd_adv_del:after{content:" ";position:absolute;left:5px;top:7px;width:15px;height:15px;background:url(img/adv_del.png) no-repeat;}
.nd_user_info .title{font:bold 14px/20px Arial, Helvetica, sans-serif;color:#7b7b7b;margin-bottom:10px;text-align:center;display:block;}
.nd_user_info p{color:#000;line-height:18px;}
.to-mark input[type="checkbox"]{margin-right:10px;}
.nd_my_adv .bds_title{font-size:14px;word-wrap:break-word;height:auto!important;max-width:320px;}
.nd_my_adv .bds_price{width:125px;}
.bds_row table .nd_controls{width:110px;vertical-align:top;}
.nd_controls ul{float:right;}
.nd_controls li{float:left;list-style-type:none;margin-left:8px;padding-top:5px;position:relative;}
.nd_controls li:first-child{padding-top:0;}
.nd_ctrl_up{display:block;width:34px;height:31px;background:url(img/nd_cntr_up_new.png) no-repeat;}
.nd_ctrl_edit{display:block;width:12px;height:11px;background:url(img/nd_cntr_edit.png) no-repeat;}
.nd_ctrl_view{display:block;width:16px;height:10px;background:url(img/nd_cntr_view.png) no-repeat;}
.nd_ctrl_view.js-item-enable{background-position-y:0px;}
.nd_ctrl_view.js-item-enable:hover{background-position-y:-11px;}
.nd_ctrl_view.js-item-disable{background-position-y:-11px;}
.nd_ctrl_view.js-item-disable:hover{background-position-y:0px;}
.nd_ctrl_del{display:block;width:12px;height:11px;background:url(img/nd_cntr_del.png) no-repeat;}
.nd_avail{position:absolute;color:#999;font-size:9px;width:60px;text-align:left;padding-left:15px;background:url(img/nd_cntr_avail.png) no-repeat;margin-left:-15px;}
.nd_avail.no_clock{background:none;}
.nd_controls a:hover{background-position:0 -11px;}
.nd_controls .nd_ctrl_up:hover{background-position:0 -32px;}
.nd_ctrl_up.nd_dis, .nd_ctrl_up.nd_dis:hover{background:url(img/nd_cntr_up.png) 0 -31px no-repeat;cursor:default;}
.nd_my_adv.nd_disabled{background:#f3f3f2;}
.nd_my_adv.nd_disabled .bds_title a{color:#999;!important;}
.nd_my_adv.nd_disabled .bds_title a:hover{color:#0b9df1;!important;}
.nd_detailed_description{margin-bottom:30px;}
.nd_detailed_description img{max-width:680px;}
.nd_attached_files{overflow:hidden;}
.nd_attached_files h3{padding:0;margin:0 0 20px 0;}
.nd_attached_files ul{width:320px;}
.nd_attached_files .nd_float-left{float:left;}
.nd_attached_files .nd_float-right{float:right;}
.nd_attached_files li{list-style-type:none; margin-bottom:15px; line-height:18px;}
.nd_attached_files li a{
    text-decoration:none;
    padding-left:60px;
    display:inline-block;
    width: 260px;
    word-wrap: break-word;
}
.nd_attached_files li span{color:#919191; font-size:11px;}
.nd_attached_files li .nd_pdf{background:url(img/pdf.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_doc{background:url(img/doc.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_docx{background:url(img/docx.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_xls{background:url(img/xls.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_xlsx{background:url(img/xlsx.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_djv{background:url(img/djvu.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_epub{background:url(img/epub.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_gif{background:url(img/gif.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_jpeg{background:url(img/jpeg.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_jpg{background:url(img/jpg.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_png{background:url(img/png.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_ppt{background:url(img/ppt.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_pptx{background:url(img/pptx.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_rtf{background:url(img/rtf.png) no-repeat 0 5px; min-height: 60px;}
.nd_attached_files li .nd_file{background:url(img/e_file2.png) no-repeat 0 5px; min-height: 60px;}

.sw_right_col{
    float: right;
    width: 220px;
    padding: 0 20px 0 0;
    min-height: 100px;
    position: relative;
}

.sw_rc_block{
    width: 240px;
}

.sw_right_banner{
    margin-top:15px;
    font-size:0;
    position:relative;
    z-index:9;
}

ul.comp_market_sect
{
	padding:0;
	margin-left:15px;
}
ul.comp_market_sect li
{
	width:45%;
	float:left;
	list-style:square;
	color:#ababab;
	margin-right: 30px;
}
ul.comp_market_sect li span
{
	color:#ababab;
}
div.market_sect_l
{
	float:left;
}
.nd_attached_files li{list-style-type:none;margin-bottom:15px;line-height:18px;}
.nd_attached_files li a{text-decoration:none;padding-left:60px;display:inline-block;width:260px;word-wrap:break-word;}
.nd_attached_files li span{color:#919191;font-size:11px;}
.nd_attached_files li .nd_pdf{background:url(img/pdf.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_doc{background:url(img/doc.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_docx{background:url(img/docx.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_xls{background:url(img/xls.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_xlsx{background:url(img/xlsx.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_djv{background:url(img/djvu.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_epub{background:url(img/epub.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_gif{background:url(img/gif.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_jpeg{background:url(img/jpeg.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_jpg{background:url(img/jpg.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_png{background:url(img/png.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_ppt{background:url(img/ppt.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_pptx{background:url(img/pptx.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_rtf{background:url(img/rtf.png) no-repeat 0 5px;min-height:60px;}
.nd_attached_files li .nd_file{background:url(img/e_file2.png) no-repeat 0 5px;min-height:60px;}
.sw_right_col{float:right;width:220px;padding:0 20px 0 0;min-height:100px;position:relative;}
.sw_rc_block{width:240px;}
.sw_right_banner{margin-top:15px;font-size:0;position:relative;z-index:9;}

.content_box .content_right_col.add-adv-comm {
	float: left;
	width: 215px;
	padding-right: 15px;
}

.cab-sections-nav {
	margin-top: 10px;
}

.cab-sections-nav li {
	list-style: none outside none;
}

.cab-sections-nav li a {
	background: #aee6fa url("img/user-menu-bg.png") repeat-x scroll 0 100%;
	box-sizing: border-box;
	color: #000000;
	display: block;
	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
}

.cab-sections-nav li a span {
	position: relative;
	z-index: 5;
}

.cab-sections-nav li a:hover {
	background-color: #8adbf8;
}

.cab-sections-nav li.act > a:after {
	background: url("img/user-menu-act-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 30px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 51px;
	margin-top: -15px;
}

.cab-sections-nav li.act > a {
	background: linear-gradient(#00A340, #00e55c) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #00e55c;
	border-top: 1px solid rgb(0, 214, 85);
	box-shadow: 0 1px 0 #00A340 inset;
	color: #ffffff;
}

.cab-sections-nav li ul li a {
	background: url("img/user-submenu-bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #00A340;
	font-weight: normal;
	padding-left: 25px;
}

.cab-sections-nav li ul li a:hover {
	background: url("img/user-submenu-bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}

.cab-sections-nav li.act ul {
	display: block;
}

.cab-sections-nav li ul {
	display: none;
}

.cab-sections-nav li ul li a.act, .cab-sections-nav li ul li a:hover {
	background-color: #fee7da;
}

.cab-sections-nav li ul li:first-child a {
	border-top: 1px solid #00A340;
}

.form_header h3 {
	color: #00A340;
}

.company-tabs .mb_menu .mb_title{
   background-position: 0 -216px !important;
   cursor: pointer;
}
.company-tabs .mb_menu li.mb_title .sclew{
   background-position: 100% -216px;
}