
.paging li a:hover{color:#00A340;text-decoration:underline;}
.paging li input{position:absolute;top:1px;text-align:center;color:#000;width:28px;border-color:#00A340 !important;}
.paging li input:focus{border-color:#00A340;}

.pages-nav li a.hr {
	color:#00A340;
	border: 1px solid #00A340;
}
.pagesslider__ul .slider-hr, .pagesslider__ul a.slider-hr:hover {
	color: #00cb00;
}
.paging .pg_nav ul li a.act {
    border: 1px solid #00A340 !important;
    color: #00A340;
}
.paging .pg_nav ul li a:hover {
    color: #00A340;
}

ul.product-list {
	border-bottom: 2px solid #00A340;
	border-top: 2px solid #00A340;
}

div.catalog-section-list li a.level1 {
	color: #00A340;
}

.haschild:hover .submarket-a:after {
	background: url(img/bread-sub-arrow.png) center bottom no-repeat;
}

.haschild .submarket-a {
	background: url(img/bread-sub-marker.png) right top no-repeat;
}
span.report-e {
	background: url('/bitrix/templates/agrorb/images/img_report.jpg') no-repeat;
	width: 262px;
 height: 54px;
 display: block;
 text-indent: -9999px;
 margin: 0 auto;
}
.mkt .middle_col .right_col {
  padding: 0;
  width: 295px;
}

div.catalog-section-list .level_li_2 a.toggle-arrow.clicked {
  background: url(/bitrix/templates/agrorb/images/green-arrow-up.png) no-repeat;
  display: block;
}
div.catalog-section-list .level_li_2 a.toggle-arrow:hover {
	background: url(/bitrix/templates/agrorb/images/green-arrow-down.png) no-repeat;
}
.rc_block h3{
	color: #00A340;
}
B#h2{
	color: #00A340 !important;
	border-bottom: 1px dashed #00A340 !important;
}
.title, .user-contacts .title{
	color: #00A340;
}
.overlay{
	display: none;
}


.button_v2, .catalog-element .sum_block a.button_v2 {
	background: linear-gradient(#FFE900 0px, #FF7B00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.button_v2:hover, .catalog-element .sum_block a.button_v2:hover {
	background: linear-gradient(#F58500 0px, #FFE900 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}