<script type="text/javascript">
   function chooseImage(cnt)
   {
      $('#redactor_image_url').val('IMAGE' + $('#redactor_image_id_' + cnt).attr("data-id"));
   }
   $(document).ready(function() {
      var   $boxes = redactorActive.$boxesImages,
            $redactor = $("#redactor_image"),
            $ol = $redactor.find("ol");
      
      $boxes.each(function(i, el){
         var   $el = $(el),
               descr = $el.find(".this_descr .n_def_style").val(),
               id = ~~$el.find(".ch_box_line .ch_box input").attr("id").replace("checkboxId", ""),
               $img = $("<img />").attr("src", $el.find(".this_media img").attr("src"))
                      .attr("alt", descr),
               $li = $("<li></li>").attr("id", "redactor_image_id_" + i)
                     .attr("data-id", id),
               $input = $("<input />").attr("type", "radio")
                        .attr("value", i)
                        .attr("name", "redactor_image_url_radio")
                        .attr("id", "redactor_image_url_radio_" + i)
                        .attr("onclick", "chooseImage(" + i + ")"),
               $span = $("<span></span>").attr("id", "redactor_image_url_" + i)
                       .attr("name", "redactor_image_url_" + i)
                       .attr("onclick", "chooseImage(" + i + ")").html(descr);
          
         if(i == 0)
            $input.attr("checked", "checked");
         
         $li.append($input);
         $li.append($img);
         $li.append($span);
         $ol.append($li)

      });
            
      chooseImage(0);
   });
</script>
<style>#redactor_image ol li img {width: 50px; max-height: 50px;}</style>
<div id="redactor_image">
   <ol style="padding: 0px">        
      <!-- <li>
            <input type="radio" <?= $imageCnt==0 ? 'checked' : ''?> value="<?= $imageCnt?>" name="redactor_image_url_radio" id="redactor_image_url_radio_<?= $imageCnt?>" onclick="chooseImage(<?= $imageCnt?>)">
            <img alt="<?=$picture["DESCRIPTION"]?>" src="<?=Resizer("/thumb/50x50xprop".$picture["SRC"])?>" />
            <span name="redactor_image_url_<?= $imageCnt?>" id="redactor_image_url_<?= $imageCnt?>"><?= $arImageProperties["NAME"]?></span>
            <input type="hidden" value="<?= $arImage[$imageCnt]?>" name="redactor_image_id" >
      </li> -->
   </ol>
   <input type="hidden" value="unset" name="#redactor_image_url" id="redactor_image_url">
   <input type="text" value="imamge" name="#redactor_image_text" id="redactor_image_text">
   <input type="button" name="" id="" value="%RLANG.insert%" onclick="redactorActive.insertImageCode();" />&nbsp;&nbsp;
   <input type="button" name="" onclick="redactorActive.modalClose();" value="%RLANG.cancel%"  /> 
</div>