div.news_comp {
width: 675px;
position: relative;
display: block;
height:275px;
/*border-bottom: 1px dotted #266bab;*/
}

ul.news_link_list {
position: absolute;
top: 0;
left: 280px;
list-style: none;
padding: 0;
margin: 0;
width: 395px;
height: 220px;
background-color: white;
}

.news_link_list  li {
padding: 5px 0px 5px 15px;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
background-color: #EDEDED;
margin: 1px 1px 1px 1px;
height: 44px;
list-style-type: none;
}

.news_link_list li.active {
background-color: #0aa34f;
}

.news_link_list a {
display: block;
height: 44px;
color: #333;
line-height: 20px;
outline: none;
text-decoration: none;
overflow: hidden;
}

.news_link_list li.active a{
color: #ffffff !important;
font-weight: normal;
font-size:16px;
text-decoration: none !important;

}
.news_image{
height: 220px;
overflow-y: hidden;
}
.news_image img  {
width: 280px;
height: 220px;

margin: 1px 1px 0 0;
}

div.news_text {
position: absolute;
top: 220px;
left: 0px;
height: 55px;
width: 675px;
overflow: hidden;
}

.news_text p {
font-family: Arial;
font-size: 12px;
line-height: 16px;
color: #202020;
padding-top: 8px;
padding-left:15px;
}
.mb_title a {
font:normal 16px Georgia; 

}

.news_image {
background:url(withoutphoto.jpg) 93px 65px no-repeat;
}