.paging {
    background-color: #f5f5f5;
    padding: 7px 18px 6px;
    border-radius: 5px;
    position: relative;
}
.paging .show_col {
    float: right
}
.paging .meta {
    float: none;
    padding-right: 4px;
}
.paging .show_col select {
    width: 46px;
    height: 19px;
    font-size: 12px;
    border: 1px solid;
    border-color: #aaa #cfcfcf #cfcfcf #aaa;
    position: relative;
    top: 0;
}
.paging .pg_nav {
    padding-top: 2px;
    float: left;
}
.paging ul {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
}
.paging li {
    float: left;
    padding: 0 5px;
    line-height: 19px;
    height: 19px;
}
.paging li a {
    color: #000;
    text-decoration: none;
}
.paging li a:hover {
    color: #e3231b;
    text-decoration: underline;
}
.paging li.sel {
    width: 30px;
    padding: 0 2px;
    position: relative;
}
.paging li input {
    position: absolute;
    top: 1px;
    text-align: center;
    color: #000;
    width: 28px;
    border-color: #da251d !important;
}
.paging li input:focus {
    border-color: #da251d
}
.paging .sub_search {
    float: right;
    padding-left: 20px;
}
.paging .sub_search span {
    padding-top: 2px;
    display: inline-block;
}
.paging .sub_search .input_box {
    float: left
}
.paging .sub_search .input_box input[type='text'] {
    width: 217px
}
.b-pageslider {
    position: absolute;
    z-index: 100;
    top: -9999px;
    left: -9999px;
    width: 552px;
    padding: 6px 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.active-pageslider {
    left: 50%;
    top: 0;
    margin-left: -286px;
}
.b-pageslider-i {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}
.pages-slider-track {
    position: relative;
    cursor: pointer;
    cursor: hand;
    background: url(/bitrix/templates/energorb/images/slider-bg.png) repeat-x 0 0;
    height: 11px;
}
.pages-slider-drag {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 11px;
    background: url(/bitrix/templates/energorb/images/slider-bg.png) no-repeat 0 -11px;
}
.pageslider-shd-l {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 40px;
    height: 25px;
    background: url(/bitrix/templates/energorb/images/page-shd.png) repeat-y -40px 0;
}
.pageslider-shd-r {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 40px;
    height: 25px;
    background: url(/bitrix/templates/energorb/images/page-shd.png) repeat-y 0 0;
}
.paging ul.pagesslider__ul {
    width: 15000px;
    padding: 0 !important;
    margin-top: 0;
}
.paging ul.pagesslider__ul li {
    display: inline;
    padding: 0;
    height: auto;
}
.pagesslider__ul a {
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 1px 5px;
    text-decoration: none;
}
.paging ul.pagesslider__ul li a:hover {
    text-decoration: none
}
.pagesslider__ul .slider-hr,
.pagesslider__ul a.slider-hr:hover {
    color: #cb0000;
    border: 1px solid #cecece;
    padding: 0 4px;
}
.b-pageslider .dis-shd {
    display: none
}
.paging {
    height: 30px;
    float: none;
    text-align: center;
}
.paging .pg_nav {
    float: none;
    text-align: center;
}
.paging .meta {
    display: inline-block
}
.paging .pg_nav ul {
    border: 2px solid #ffffff
}
.paging .pg_nav ul li {
    background: linear-gradient(#fdfdfd, #e8e8e8) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    padding: 0;
    width: auto;
}
.paging .pg_nav ul li a {
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    color: #447dc9;
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 6px;
}
.paging .pg_nav ul li a.act {
    border: 1px solid #da251d !important;
    color: #da251d;
    font-weight: bold;
}
.paging .pg_nav ul li a:hover {
    color: #da251d;
    text-decoration: none;
}
.paging .pg_nav ul li input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 19px;
    margin: -2px;
    padding: 0;
}
.paging .pg_nav ul li .blog-page-next,
.paging .pg_nav ul li .blog-page-previous {
    padding: 0;
    position: relative;
    width: 34px;
}
.paging .pg_nav ul li .blog-page-next:after,
.paging .pg_nav ul li .blog-page-previous:after {
    background: url("/bitrix/templates/energorb/img/sprite.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 11px;
    left: 50%;
    margin-left: -3px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 7px;
}
.paging .pg_nav ul li .blog-page-next:after {
    background-position: -9px -170px
}
.paging .pg_nav ul li .blog-page-next:hover:after {
    background-position: -9px -182px
}
.paging .pg_nav ul li .blog-page-previous:after {
    background-position: 0 -170px
}
.paging .pg_nav ul li .blog-page-previous:hover:after {
    background-position: 0 -182px
}
.paging .pg_nav ul li .blog-page-next {
    border-right: 1px solid #cecece
}
.paging .pg_nav ul li .blog-page-previous {
    border-left: 1px solid #cecece
}
div.market_section {
    width: 16%;
    float: left;
    margin-right: 7px;
    text-align: center;
    height: 120px;
    position: relative;
}
div.market_section a {
    bottom: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}
div.market_sections {
    border-top: 2px solid #DA251D;
    border-bottom: 2px solid #DA251D;
}
div.catalog-section-list li a {
    text-decoration: none
}
div.catalog-section-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div.catalog-section-list li a.level1 {
    font-size: 24px;
    color: #DA251D;
}
div.catalog-section-list ul ul {
    margin-top: 20px
}
div.catalog-section-list li {} div.catalog-section-list li li {
    float: left;
    width: 33%;
    padding-bottom: 10px;
}
li.add_l_m a:hover {
    color: #266BAB !important
}
.level_li_1 {
    margin-bottom: 10px
}
.h2_clear {
    display: inline;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    : ;
}
.h3_clear {
    display: inline;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    : ;
}
ul.product-list {
    list-style: none;
    padding: 9px 0 18px;
    border-bottom: 2px solid #DA251D;
    border-top: 2px solid #DA251D;
}
ul.product-list li {
    /*float: left;*/
    
    display: inline-block;
    vertical-align: bottom;
    width: 164px;
    text-align: center;
}
ul.product-list li a.product-title {
    height: 51px;
    display: inline-block;
    margin-bottom: 9px;
}
ul.product-list li a {
    line-height: 18px;
    text-decoration: none;
}
ul.product-list li a img {
    display: block;
    margin: 0 auto;
}
div.catalog-section-list li.level_li_1 {} div.catalog-section-list li.level_li_1 img {
    margin-right: 12px;
    margin-bottom: -8px;
    display: inline-block;
}
div.catalog-section-list li.level_li_1 sup {
    bottom: 2ex
}
div.catalog-section-list li li {
    width: 100%
}
div.catalog-section-list li.level_li_1 .level_li_2 sup {
    bottom: 0.9ex;
	margin-left: 3px;
	margin-right: 0px;
}
div.catalog-section-list .level_li_2 a,
div.catalog-section-list .level_li_2 sup {
    float: left;
    line-height: 16px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow {
    background: url(images/blue-arrow.png) no-repeat;
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 8px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow:hover {
    background: url(images/red-arrow-down.png) no-repeat
}
div.catalog-section-list .level_li_2 a.toggle-arrow.clicked {
    background: url(images/red-arrow-up.png) no-repeat;
    display: block;
}
div.catalog-section-list .level_li_2:hover a.toggle-arrow {
    display: block
}
.catalog-section-list ul.toggle-menu {
    display: none;
    float: left;
    width: 100%;
}
div.catalog-section-list .ul_col {
    float: left;
    width: 31%;
}
div.catalog-section-list ul ul {
    padding-left: 20px
}
div.catalog-section-list ul ul ul {
    margin-left: 10px
}
div.catalog-section-list li li li {
    width: 100%
}
div.catalog-section-list li li li {
    padding-bottom: 5px
}
div.catalog-section-list li li li a:hover {
    border-bottom: 1px dotted #0b9df1;
    margin-bottom: -1px;
}
.right_col {
    width: 290px
}
/* Companies page */

.left_col {
    padding: 0;
    width: 180px;
}
.lc_block .title {
    font-size: 14px
}
.lc_block img {
    display: block
}
.left_menu li {
    line-height: 18px
}
.left_menu a,
.left_menu a:visited {
    padding-left: 0
}
.brands .left_menu li {
    line-height: 20px
}
.brands .left_menu a {} .brands .left_menu img {
    display: none;
    position: absolute;
    right: 20px;
    top: -5px;
}
.brands .left_menu li:hover a {
    font-weight: bold;
    color: #266bab;
}
.brands .left_menu li:hover img {
    display: block
}
/* Companies page Right Column*/

.content_right_col {
    float: left;
    width: 220px;
}
.content_right_col .rc_block {
    margin-bottom: 20px
}
.content_right_col .rc_block_info {
    background: #ecf7fe;
    padding: 15px 12px;
}
.content_right_col .rc_block_info p {
    font-size: 12px;
    line-height: 16px;
}
/* Companies page Middle Column*/

.ads_row_rowsblock, .cat_row_rowsblock {
    margin-right: 0
}
.middle_col .middle_col {
    width: 755px;
    float: left;
}
.middle_col .mc_block_banner {
    margin-bottom: 5px
}
.middle_col .mc_block_banner.bottom {
    margin-top: 5px
}
/*.icons {
background: url(/images/sprite.png) 0 0 no-repeat;
}*/
/*.icons {
background: url(/bitrix/templates/.default/images/sprite.png) 0 0 no-repeat;
}*/

.icon_list {
    background-position: -250px -25px;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_list.list_sel {
    background-position: -20px -340px
}
.icon_gallery {
    background-position: -40px -340px;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_gallery.list_sel {
    background-position: -40px -340px
}
.mb_menu li .icon_gallery {
    margin-top: 2px
}
.icon_map {
    background-position: -60px -340px;
    width: 13px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_map.list_sel {
    background-position: -60px -340px
}
.mb_menu li .icon_map {
    margin-top: 2px
}
.mb_menu li .icon_list,
.mb_menu li .icon_gallery,
.mb_menu li .icon_star {
    margin-top: 7px
}
.icon_list {
    background-position: -250px -25px;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_list.list_sel {
    background-position: -20px -340px
}
.icon_gallery {
    background-position: -40px -340px;
    width: 13px;
    height: 12px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_gallery.list_sel {
    background-position: -40px -340px
}
.mb_menu li .icon_gallery {
    margin-top: 2px
}
.icon_map {
    background-position: -60px -340px;
    width: 13px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1px 9px 0 0;
}
.icon_map.list_sel {
    background-position: -60px -340px
}
.mb_menu li .icon_map {
    margin-top: 2px
}
.mb_menu li .icon_list,
.mb_menu li .icon_gallery,
.mb_menu li .icon_star {
    margin-top: 7px
}
.icon_star {
    margin-right: 9px
}


.mb_menu li .icon_list{
	background: url(http://energobelarus.by/bitrix/templates/energorb/images/sprite.png);
	  position: relative;
	width: 13px;
	  height: 12px;
	  display: inline-block;
	  vertical-align: top;
	  margin: 4px 9px 0 0;
}
.icon_list.list_sel {
  background-position: -20px -340px !important;
}


.mc_block .search-box {
    float: right;
    background: url(images/search_bg.png) no-repeat;
    width: 251px;
    height: 22px;
    margin: 2px 0 0 0;
    position: relative;
}
.mc_block .search-box input {
    border: 0;
    margin-right: 30px;
    float: right;
    margin-top: 2px;
    height: 15px;
    width: 196px;
}
.mc_block .search-box a {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-indent: -9999px;
    height: 20px;
    width: 25px;
}
/* Paging */

.paging {
    padding: 4px 5px 3px 18px;
    margin: 1px 0;
}
.paging .sort_col {
    float: right
}
.sort_col_pdr {
    float: right
}
.sort_col_pdr a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    line-height: 22px;
    padding: 0px 7px;
    display: block;
}
.sort_col_pdr a:hover {
    border: 2px solid #dedede;
    padding: 0px 5px 0px 5px;
    background: #f6f6f6;
    margin-top: -2px;
    margin-bottom: -2px;
}
.price_col,
.date_col,
.rate_col {
    float: left;
    margin-right: 10px;
}
.sort_col_pdr a .sort-arrows {
    background: url(images/sprite.png) no-repeat;
    background-position: -61px -380px;
    width: 5px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 3px;
}
/*example click arrow down*/

.sort_col_pdr a:hover .sort-arrows {
    background-position: -70px -380px
}
/*example click arrow up*/
/* .sort_col_pdr a:hover .sort-arrows {
    background-position: -79px -380px;
} */
/* Accordion block */

.accordion_block {} .accordion_block .h3-title {
    background: url(images/bg_accordion.png) repeat-x;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 0 13px;
    display: block;
}
.accordion_block .h3-title a,
.accordion_block .h3-title a:hover,
.accordion_block .h3-title a:visited {
    text-decoration: none;
    color: #000;
    display: block;
}
.accordion_block .accordion-content {}
/* ads_row block */

.ads_row_wrapblock, .cat_row_wrapblock {
    border: 1px solid #e7e7e7;
    border-width: 0px 1px 1px 1px;
}
.ads_3_row, .cat_3_row {
    border: 1px solid #e7e7e7;
    border-width: 0px 0px 1px 0px;
    position: relative;
    width: 753px;
}
.ads_row_wrapblock .ads_row, .cat_row_wrapblock .cat_row {
    width: 563px;
    background: #fff;
    padding: 9px 14px 0px 0px;
    margin-left: 8px;
}
.ads_row_rowsblock .paging, .cat_row_rowsblock .paging {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    padding-left: 4px;
}
.ads_row_rowsblock .paging .meta, .cat_row_rowsblock .paging .meta {
    color: #4d4d4d;
    font-size: 11px;
    line-height: 18px;
}
.ads_row.premium, .cat_row.premium {
    border: 1px solid #e7e7e7;
    border-width: 0px 0px 1px 0;
}
.ads_row.premium, .cat_row.premium{
    border-color:#ffc77e; background-color:#fdfee8; z-index:2
}
.ads_row.premium:last-child, .cat_row.premium:last-child {
    border: 0
}
.ic_star .i_star {
    background: url(images/sprite.png) no-repeat;
    background-position: 0px -360px;
    display: block;
    width: 16px;
    height: 17px;
}
.ic_star .i_star:hover,
.ic_star .i_star.marked {
    background-position: 0px -340px
}
.ads_row .ads_info .ads_title, .cat_row .cat_info .cat_title {
    font-size: 14px
}
.ads_row .ads_info .ads_text, .cat_row .cat_info .cat_text {
    font-size: 12px;
    color: #919191;
}
.ads_row .ads_info .meta, .cat_row .cat_info .meta {
    color: #5e5e5e;
	word-break: break-all;
    height: 47px;
}
.ads_row .ads_price, .cat_row .cat_price {
    text-align: center;
    vertical-align: top;

}
.ads_row .ads_price img, .cat_row .cat_price img{
	display: inline;
}
.ads_row .ads_price .tdWrap, .cat_row .cat_price .tdWrap {
    padding: 3px 0px 5px 10px
}
.ads_row .ads_price .curr-val, .cat_row .cat_price .curr-val {
    color: #919191
}
.ads_row .ads_price .buy-button, .cat_row .cat_price .buy-button {
    display: block;
    background: url(images/sprite.png) no-repeat;
    background-position: -20px -450px;
    width: 77px;
    height: 23px;
    text-indent: -9999px;
    margin: 5px auto 0;
}
.ads_row_left, .cat_row_left {
    float: left;
    width: 592px;
}
.ads_row_right, .cat_row_right {
    background: url(images/company-separator.png) no-repeat #fff;
    width: 148px;
    float: left;
    padding: 8px 5px 5px 8px;
    cursor: pointer;
    z-index: 1;
}
.hoverBl {
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
}
.ads_row_rheader, .cat_row_rheader {
    height: 77px;
    text-align: center;
	overflow: hidden;
	position: relative;
}
.hoverBl .ads_row_rheader, .hoverBl .cat_row_rheader {
    height: auto;
}
.ads_row_rheader img, .cat_row_rheader img {
    margin: 0 auto 3px
}
.ads_row_rheader .company-name, .cat_row_rheader .company-name {
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.ads_row_rheader .after, .cat_row_rheader .after {
    position: absolute;
    background-image: url('/images/hide-wh.png');
    background-repeat: repeat-x;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 0;
}

.ads_row_rcontent, .cat_row_rcontent {
    text-align: center;
    display: none;
}
.ads_row_rcontent a.show, .cat_row_rcontent a.show {
    text-decoration: none;
    color: #266bab;
    display: block;
    font-size: 11px;
    line-height: 16px;
    margin-top: 5px;
}
.ads_row_rcontent a.show i, .cat_row_rcontent a.show i {
    background: url(images/sprite.png) no-repeat;
    background-position: -200px -25px;
    display: inline-block;
    width: 6px;
    height: 4px;
    vertical-align: middle;
    margin-top: -2px;
}
.all_company_info .wt-to-comp,
.all_c_info .wt-to-comp {
    background: url(images/sprite.png) no-repeat;
    background-position: -100px -450px;
    display: inline-block;
    width: 123px;
    height: 28px;
    text-indent: -9999px;
    margin-top: 10px;
}
.all_company_info a.c_name,
.all_c_info a.c_name {
    font-size: 12px;
    text-decoration: underline;
    display: block;
    margin: 5px 0 10px;
}
.all_company_info ul,
.all_c_info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.all_company_info ul li,
.all_c_info ul li {
    line-height: 18px
}
.all_company_info .phone-hide,
.all_c_info .phone-hide {
    border-bottom: 1px dotted #266bab;
    color: #266bab;
    cursor: pointer;
}
.all_company_info .phone-show,
.all_c_info .phone-show {
    display: none;
    cursor: pointer;
    font-weight: bold;
}
.all_company_info a.c_mess,
.all_c_info a.c_mess {
    display: block;
    margin-left: -3px;
    margin-top: 5px;
}
.all_c_info a.c_mess {
    background-color: #e9f6fe;
    margin-top: 7px;
    margin-left: 0;
}
.all_company_info a.c_site,
.all_c_info a.c_site {
    text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


.all_company_info a.c_mess, .all_c_info a.c_mess {
	background: url("/images/mess.png") no-repeat 4px 16px;
	background-color: #e9f6fe;
	display: block;
	width: 152px;
	height: 54px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	color: #919191;
	text-decoration: none;
}
.all_company_info a.c_mess div, .all_c_info a.c_mess div {
	padding: 8px 0 0 27px;
}

/* Show position style*/

.ads_row .show_position, .cat_row .show_position {
    background: #fffaf2;
    width: 175px;
    border: 1px solid #ffdcc5;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    margin-left: 90px;
    padding: 0 0 0 8px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
}
.ads_row .show_position a, .cat_row .show_position a {
    text-decoration: none
}
.ads_row .show_position i, .cat_row .show_position i {
    background: url(images/sprite.png) no-repeat;
    background-position: -1px -450px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-top: 7px;
    margin-right: 8px;
}
.ads_row .show_position span, .cat_row .show_position span {
    color: #e3231b;
    border-bottom: 1px dotted #e3231b;
    text-align: left;
}


.ads_row, .cat_row {
    border-bottom: 1px solid #e7e7e7;
}
.ads_row:last-child, .cat_row:last-child {
    border-bottom: none;
}
.ads_row .ads_info, .cat_row .cat_info{
   padding-left: 10px;
}
.ads_row .image_box{

}
.ads_row .ads_info .ads_title a, .cat_row .cat_info .cat_title a{
   text-decoration: none;
}

.ads_row .ic_star .i_star, .cat_row .ic_star .i_star{
   visibility: hidden;
}
.ads_row:hover .ic_star .i_star, .ads_row .ic_star .i_star.marked, .cat_row:hover .ic_star .i_star, .cat_row .ic_star .i_star.marked{
   visibility: visible;
}

.accordion_block{
   list-style: none;
}
.accordion_block .h3-title{
   cursor: pointer;
}

.ads_row_wrapblock .ads_row, .cat_row_wrapblock .cat_row{
   padding: 9px 14px 9px 0 !important;
}

.topP {
    height: 23px
}
.paging {
    overflow: visible
}
.paging .pg_nav {
    float: none
}
.pages-nav {
    border: 2px solid #fff;
    background: #d8d8d8;
    padding-left: 1px;
    padding-right: 1px;
}
.pages-nav li {
    background: url(images/bg_paging.jpg) repeat-x;
    padding: 0 1px 0 0;
}
.pages-nav li:hover {
    background: #fff
}
.pages-nav .page-prev a,
.pages-nav .page-next a {
    padding: 4px 14px;
    display: block;
}
.pages-nav .page-prev {
    border-right: 1px solid #d8d8d8
}
.pages-nav .page-prev a {
    padding: 4px 14px 4px 13px
}
.pages-nav .page-next {
    border-left: 1px solid #d8d8d8
}
.pages-nav .page-next a {
    padding: 4px 13px 4px 14px
}
.pages-nav .page-prev a i {
    background: url(images/sprite.png) no-repeat;
    background-position: 0px -170px;
    width: 7px;
    height: 11px;
    display: block;
}
.pages-nav .page-prev a i.on {
    background-position: 0px -182px
}
.pages-nav .page-next i {
    background: url(images/sprite.png) no-repeat;
    background-position: -9px -170px;
    width: 7px;
    height: 11px;
    display: block;
}
.pages-nav .page-next i.on {
    background: url(images/sprite.png) no-repeat;
    background-position: -9px -182px;
}
.pages-nav li {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #cecece;
}
.pages-nav li a {
    padding: 3px 7px;
    color: #447dc9;
    font-size: 12px;
    text-decoration: none;
    height: 21px;
}
.pages-nav li a.hr {
    color: #e3231b;
    font-weight: bold;
    border: 1px solid #e3231b;
    padding: 2px 6px;
}
.pages-nav li a:hover {
    text-decoration: none
}
.pages-nav li.exppages {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    position: relative;
}
.pages-nav li.exppages a {
    padding: 0 27px 0 12px;
    color: #4d4d4d;
    display: block;
}
.pages-nav li.exppages a i.ar {
    background: url(images/sprite.png) no-repeat;
    background-position: -18px -170px;
    display: block;
    width: 5px;
    height: 3px;
    position: absolute;
    top: 9px;
    left: -19px;
    margin-left: 100%;
}
.b-pageslider {
    position: absolute;
    z-index: 100;
    top: -9999px;
    left: -9999px;
    width: 552px;
    padding: 6px 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.active-pageslider {
    left: 50%;
    top: 0;
    margin-left: -286px;
}
.b-pageslider-i {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}
.pages-slider-track {
    position: relative;
    cursor: pointer;
    cursor: hand;
    background: url(images/slider-bg.png) repeat-x 0 0;
    height: 11px;
}
.pages-slider-drag {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 11px;
    background: url(images/slider-bg.png) no-repeat 0 -11px;
}
.pageslider-shd-l {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 40px;
    height: 25px;
    background: url(images/page-shd.png) repeat-y -40px 0;
}
.pageslider-shd-r {
    position: absolute;
    top: 6px;
    right: 9px;
    width: 40px;
    height: 25px;
    background: url(images/page-shd.png) repeat-y 0 0;
}
.paging ul.pagesslider__ul {
    width: 15000px;
    padding: 0 !important;
    margin-top: 0;
}
.paging ul.pagesslider__ul li {
    display: inline;
    padding: 0;
    height: auto;
}
.pagesslider__ul a {
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 1px 5px;
    text-decoration: none;
}
.paging ul.pagesslider__ul li a:hover {
    text-decoration: none
}
.pagesslider__ul .slider-hr,
.pagesslider__ul a.slider-hr:hover {
    color: #cb0000;
    border: 1px solid #cecece;
    padding: 0 4px;
}
.b-pageslider .dis-shd {
    display: none
}
/* Market Kartochka Tovara page Middle Column*/

.mkt .middle_col .middle_col {} .mkt .middle_col .middle_col h2 {
    font-size: 18px;
    line-height: 22px;
}
.mkt .middle_col .middle_col .mc_block {
    margin-bottom: 10px
}
.mkt .middle_col .middle_col p {
    font-size: 12px;
    line-height: 18px;
}
.mkt .middle_col .right_col {
    padding: 0;
	width: 295px;
}
.mkt .middle_col .middle_col h1 {
    font-size: 28px;
    margin: 0;
}
.middle_col .nested-files .l_col,
.middle_col .nested-files .r_col {
    float: left;
    width: 300px;
}
.middle_col .nested-files .l_col {
    margin-right: 40px
}
.middle_col .nested-files .nf_block {
    margin-bottom: 15px
}
.middle_col .nested-files .nf {
    padding-left: 64px
}
.middle_col .nested-files a {
    color: #266bab;
    text-decoration: none;
}
.middle_col .nested-files a:hover {
    text-decoration: underline
}
.middle_col .nested-files span {
    color: #919191;
    font-size: 10px;
    line-height: 18px;
}
.middle_col .nested-files i {
    background: url(images/sprite.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.middle_col .nested-files .doc-file {
    background-position: 0px -250px
}
.middle_col .nested-files .xls-file {
    background-position: -50px -250px
}
.middle_col .nested-files .ppt-file {
    background-position: -100px -250px
}
.middle_col .nested-files .jpg-file {
    background-position: -150px -250px
}
.middle_col .nested-files .djvu-file {
    background-position: -200px -250px
}
.middle_col .nested-files .docx-file {
    background-position: 0px -300px
}
.middle_col .nested-files .xlsx-file {
    background-position: -50px -300px
}
.middle_col .nested-files .pdf-file {
    background-position: -100px -300px
}
.middle_col .nested-files .jpeg-file {
    background-position: -150px -300px
}
.middle_col .nested-files .file-file {
    background-position: -200px -300px
}
.mkt .middle_col .mc_block {
    position: relative
}
.mkt .middle_col .middle_col .mc_block .mc_head {
    margin-bottom: 15px;
    line-height: 22px;
}
.mkt .product-sl {} .mkt .product-sl h2 {
    float: left
}
.mkt .product-sl span.all-product {
    float: right
}
.mkt .product-sl span.all-product a {
    font-size: 14px
}
.mkt .product-sl .mc_body {
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 680px;
    margin-left: -1px;
}
.mkt .product-sl .ads_row {
    float: left;
    width: 160px;
    height: 186px;
    border-left: 0;
    border-bottom: 0;
    cursor: pointer;
    padding: 9px 0 9px 9px;
}
.mkt .product-sl .ads_row .tdWrap {
    padding: 3px 0px 5px 10px
}
.mkt .product-sl .ads_row .ads_title, .mkt .product-sl .cat_row .cat_title {
    font-size: 12px;
    line-height: 17px;
    color: #266bab;
    height: 37px;
}
.mkt .product-sl .ads_row .ads_nav, .mkt .product-sl .cat_row .cat_nav {
    text-align: center
}
.mkt .product-sl .ads_row .ads_nav img, .mkt .product-sl .cat_row .cat_nav img {
    display: inline-block;
    max-height: 50px;
}
.mkt .product-sl .ads_row .ads_nav span, .mkt .product-sl .cat_row .cat_nav span {
    font-size: 12px;
    line-height: 16px;
}
.mkt .product-sl .ads_row .image_box, .mkt .product-sl .cat_row .image_box {
    height: 75px
}
.mkt .product-sl .mc_footer a.prev {
    float: left
}
.mkt .product-sl .mc_footer a.next {
    float: right
}
.mkt .product-sl .mc_footer a {
    color: #919191;
    font-size: 14px;
    text-decoration: none;
    line-height: 28px;
    margin-top: 10px;
}
.mkt .product-sl .mc_footer a:hover {
    color: #0b9df1
}
.catalog-element {
    margin-bottom: 25px
}
.catalog-element .lightbox img {
    display: inline-block
}
.catalog-element .b_star {
    background: url(images/big_star.png) no-repeat;
    display: block;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 8px;
}
.catalog-element .meta {
    font-size: 12px;
    line-height: 20px;
    color: #ababab;
    padding-top: 0;
    margin-left: 7px;
    margin-bottom: 10px;
}
.catalog-element .meta i.icon_map {
    background: url(images/sprite.png) 0 0 no-repeat;
    background-position: -60px -340px;
    width: 13px;
    height: 20px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
.catalog-element a {
    text-decoration: none
}
.catalog-element .to-big {
    text-decoration: none;
    border-bottom: 1px dotted #ababab;
    color: #ababab;
    margin-left: 7px;
}
.catalog-element .sum_block {
    width: 198px;
    height: 102px;
    background: url(images/bg_el-block.jpg) repeat-x;
    border: 1px solid #dbe9f2;
    border-radius: 5px;
    display: block;
    padding: 15px 15px;
    float: right;
}
.catalog-element .sum_block h2.sum {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 18px;
    color: #010101;
    margin-bottom: 20px;
}
.catalog-element .sum_block h2.sum span {
    font-size: 11px;
    line-height: 18px;
}
.catalog-element .sum_block a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #266bab;
    border-bottom: 1px dotted #266bab;
    text-decoration: none;
}
.catalog-element .sum_block a.b_buy {
    background: url(images/buy_but.png) no-repeat;
    width: 196px;
    height: 37px;
    display: block;
    text-indent: -9999px;
    outline: none;
    border: 0;
    margin-bottom: 8px;
}
.catalog-element .wrong_block {
    list-style: none;
    margin: 18px 30px 0 0;
    padding: 5px 0 0 27px;
    background: #fffaf2;
    width: 143px;
    height: 65px;
    float: right;
    position: relative;
}
.catalog-element .wrong_block.clicked {
    border: 1px solid #cc0000;
    margin-top: 17px;
    margin-right: 29px;
}
.catalog-element .wrong_block a {
    font-size: 12px;
    line-height: 18px;
    color: #99211c;
    text-decoration: none;
    border-bottom: 1px dotted #99211c;
}
.catalog-element .wrong_block .at {
    background: url(images/sprite.png) no-repeat;
    background-position: -25px -170px;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    left: -10px;
    top: 10px;
}
.brd-b5 {
    border: 1px solid #e2e2e2;
    border-radius: 0px 0px 5px 5px;
}
.rc_block h3 {
    color: #da251d;
    font-size: 18px;
    margin-bottom: 20px;
}
.rc_block .contact_block {
    list-style: none;
    margin: 0;
    padding: 0;
}
.rc_block .phone-hide {
    color: #266bab;
    border-bottom: 1px dotted #266bab;
    cursor: pointer;
}
.rc_block .phone-show {
    display: none;
    font-weight: bold;
}
.phone-show {
    font-weight: bold;
}
.rc_block .send_but {
    background: url(images/send-comp_but.png) no-repeat;
    width: 248px;
    height: 37px;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
}
.rc_block .c_inf span.lgrey {
    color: #b3b3b3
}
.rc_block .contact_block span.phone-show {
    color: #000000
}
.rc_block .contact_block i {
    background: url(images/sprite.png) no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin-right: 10px;
}
.rc_block .contact_block i.phone {
    background-position: -50px -170px
}
.rc_block .contact_block i.time {
    background-position: -74px -170px
}
.rc_block .contact_block i.address {
    background-position: -98px -170px
}
.rc_block .contact_block .ph_block i {
    margin-right: 0
}
.rc_block .contact_block .ph_block div {
    margin-left: 28px;
    margin-bottom: 3px;
}
.rc_block .contact_block div {
    margin-bottom: 5px;
    line-height: 18px;
}
.rc_block .c_inf .site_info {
    margin-left: 28px
}
.rc_block .c_inf .site_info a {
    text-decoration: none
}
a.report-e {
    background: url(images/img_report.jpg) no-repeat;
    width: 262px;
    height: 54px;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
}
.ads_wrap, .cat_wrap {
    position: relative;
    float: left;
    width: 170px;
}
.ads_row_inner, .cat_row_inner {
    padding: 0px 16px 0px 0px
}
.hoverB2 .ads_row_inner, .hoverB2 .cat_row_inner {
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    min-height: 182px;
}
.all_c_info {
    -moz-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 170px;
    background: #fff;
    min-height: 182px;
    border-left: 1px dashed #e2e2e2;
    margin-left: -1px;
    width: 157px;
    text-align: center;

}
.hoverBr {}
.mkt .product-sl .hoverBr .ads_row, .mkt .product-sl .hoverBr .cat_row {
    padding-left: 0;
    padding-right: 9px;
}
.hoverBr .ads_row_inner, .hoverBr .cat_row_inner {
    padding-left: 9px
}
.hoverBr.hoverB2 .ads_row_inner, .hoverBr.hoverB2 .cat_row_inner {
    -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
}
.hoverBr .all_c_info {
    left: -158px;
    border-right: 1px dashed #e2e2e2;
    -moz-box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.4);
    border-left: 0;
    margin: 0;
}
a.toggler, .collapsed a.content-show {
    position: absolute;
    background: url(images/c-show_but.png) no-repeat;
    bottom: 0px;
    right: 0px;
    width: 135px;
    height: 24px;
    display: block;
    text-indent: -9999px;
}
a.toggler,
.collapsed a.content-show:hover {
    background: url(images/c-show-a_but.png) no-repeat
}
a.toggler.expanded {
    background-position: 0px -28px
}
.gray_box.catalog_list.tab {
    overflow: hidden
}

.company_description_block ol, .company_description_block ul {
  list-style-position: inside;
}
ul.menu-company
{
	width:100%;
	height:39px;
	background:url('img/company.jpg') repeat-x;
	list-style:none;
	float:left;
	padding:0px;
	margin-bottom:15px;
}
ul.menu-company li
{
	padding:9px 17px;
	float:left;
}
ul.menu-company li.first
{
	padding:0;
	width:46px;
	height:39px;
	background:url('img/company-first.jpg') no-repeat;
}
ul.menu-company li.last
{
	padding:0;
	width:3px;
	height:39px;
	float:right;
	background:url('img/company-last.jpg') no-repeat;
}
ul.menu-company li.separate
{
	padding:0;
	width:2px;
	height:39px;
	background:url('img/separate.jpg') no-repeat;
}
ul.menu-company li
{
}
ul.menu-company li a
{
	color:#3a3a3a;
	font-family:Arial;
	font-size:15px;
        text-decoration:none;
}
table.add_table td
{
	padding:10px 6px 0 0;
}
table.add_table td a
{
	color:#000000;
}

ul.company_photo
{
	list-style:none;
	float:left;
	width:300px;
	padding:0;
	margin:0;
}

ul.company_photo li
{
	padding:0 13px 13px 0;
	float:left;
}
ul.company_photo li a
{
	width:80px;
	height:80px;
	display: block;
    overflow: hidden;
    position: relative;
}
ul.company_photo li a img
{
	width:80px;
	height:80px;
}
#flvplayer {position:absolute;display:none;z-index:50;background:white;/*left:50%;top:100px;*/right: -100px;bottom: -50px;width:620px;height:554px;overflow:hidden;background:url('../images/video_bg.png') no-repeat;}
#flvplayer .swfframe {display:block;width:480px;height:414px;background:white;padding:20px;margin:50px;position:relative;}
#flvplayer .swfframe a {position:absolute;left:220px;bottom:9px;font-family:Tahoma,sans-serif;font-size:9pt;color:#e93903}
.iblock-vote{
width:300px;
}
.iblock-vote td{
width:15px;
}
.vote-result{
width:200px !important;
}



.page-feedback {
	padding: 0 20px;
	color: #333333;
}
.form_header {
	width: 100%;
}
.form_header h3 {
	padding: 0;
	color: #e3231b;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.form-table {
/*	width: auto;
	margin-right: 320px;
	border-collapse: collapse;
	background: #f0f0f0;*/
}
.form-table th, .form-table td {
	border: 0 none;
	vertical-align: middle;
}
.form-table th {
	height: 20px;
	background: #FFFFFF;
	text-align: left;
}
.form-required {
	color: #cc3333;
}
.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}
.page-feedback .errortext {
	display: block;
	margin-right: 320px;
	padding: 15px 20px;
	background: #cc3333;
	color: #ffffff !important;
}

.form-table input[type="text"],
.form-table textarea {
	width: 200px;
	height: 20px;
	padding: 0 6px;
	border: 1px solid #cccccc;
	color: #000000;
}
.form-table textarea {
	width: 455px;
	height: 150px;
	padding: 6px;
}

td.lefttd {
	vertical-align: top;
	width: 120px;
	padding: 0 16px 16px 16px;
	text-align: right;
	font-weight: bold;
}
td.righttd {
	width: 235px;
	padding: 0 0 16px;
}
tr:first-child .lefttd,
tr:first-child .righttd,
tr.withth + tr .lefttd,
tr.withth + tr .righttd {
	padding-top: 16px;
}
.form-table td.commenttd {
	border-left: 3px solid #FFFFFF;
	padding-left: 18px;
	padding-right: 15px;
	color: #999999;
}
.commenttd b {
	display: block;
	color: #666666;
}

.button_green {
	float: right;
	width: 232px;
	height: 43px;
	margin-top: 20px;
	border: none;
	background: url(images/button-bg.png) 50% 0 no-repeat;
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	text-shadow: #333333 1px 0 1px;
	cursor: pointer;
}
.button_green:hover {
	background-position: 50% -43px;
}
.button_green:active {
	background-position: 50% -86px;
}

.feedback-note {
	float: right;
	width: 260px;
	padding: 20px 15px;
	background: #e6f7fd;
	color: #666666;
}
.feedback-note h3 {
	margin-bottom: 12px;
	padding: 0;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.rc_block-comments{
    position: relative;
}
.company-name sup{
	margin-right: 0;
	margin-left: 3px;
}

.news_item.formated_text sup{
	margin-right: 0;
	margin-left: 3px;
}

.search_row .title{
    color: #266bab;
}

.button_v2, .catalog-element .sum_block a.button_v2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#79d7f8+0,86d5f5+40,268ac5+100 */
	background: #79d7f8; /* Old browsers */
	background: -moz-linear-gradient(top, #79d7f8 0%, #86d5f5 40%, #268ac5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79d7f8), color-stop(40%,#86d5f5), color-stop(100%,#268ac5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #79d7f8 0%,#86d5f5 40%,#268ac5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #79d7f8 0%,#86d5f5 40%,#268ac5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #79d7f8 0%,#86d5f5 40%,#268ac5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #79d7f8 0%,#86d5f5 40%,#268ac5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79d7f8', endColorstr='#268ac5',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: none;
	margin-top: 5px;
	border-radius: 6px;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 0 2px grey;
	padding: 9px 25px;
	cursor: pointer;
}
.button_v2:hover, .catalog-element .sum_block a.button_v2:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#268ac5+0,86d5f5+60,79d7f8+100 */
	background: #268ac5; /* Old browsers */
	background: -moz-linear-gradient(top,  #268ac5 0%, #86d5f5 60%, #79d7f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#268ac5), color-stop(60%,#86d5f5), color-stop(100%,#79d7f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #268ac5 0%,#86d5f5 60%,#79d7f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #268ac5 0%,#86d5f5 60%,#79d7f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #268ac5 0%,#86d5f5 60%,#79d7f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #268ac5 0%,#86d5f5 60%,#79d7f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268ac5', endColorstr='#79d7f8',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.LIQUIDATED{
    background-image: url('images/LIQUIDATED_red.png');
    background-repeat: no-repeat;
    background-position: top right;

    background-size: auto 100%;
}

.LIQUIDATED_red{
    background-image: url('images/LIQUIDATED_red.png');
    height: 150px;
    background-position: center center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
.LIQUIDATED_text{

    text-align:  center;
    color: red;
    font-size: 15px;
}

.bkgreen {
    display: inline-block;
    background: rgb(0, 163, 64);
    color: white;
    padding: 2px 4px;
}

.overlay #img_bk{
    margin: 200px auto; width:200px; overflow: hidden; position: fixed;
    left: 45%;
}
.overlay{
   position: absolute;
   width: 100%;
   left: 0; top:0;
   z-index: 100;
   background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 163, 64, 0.8);
  border-right: 1.1em solid rgba(0, 163, 64, 0.8);
  border-bottom: 1.1em solid rgba(0, 163, 64, 0.8);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


._over {
	z-index: 500;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);

}

._win {
	color: #969696;
	width: 400px;
	background-color: #fff;
	margin: 200px auto;
	padding: 40px 75px;
	box-shadow: 0px 0px 30px #333;
	border-radius: 3px;
    position: fixed;
        left: 34%;
}

._title {
	color: #37363b;
	border-bottom: 1px solid #ededed;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 20px;
}

._close_win {
	float: right;
	color: #e3231b;
	font-weight: bold;
	background-image: url('/images/_close.png');
	height: 29px;
	width: 26px;
	margin-top: -30px;
	margin-right: -65px;
}

._logo_img {
	float: right;
	margin-right: -75px;
}

.border-red{
    border-color: #e3231b;
}

.formated_text ul, .formated_text ol {
    margin: 8px 0 8px 0;
    padding-left: 25px;
}
.formated_text table, .formated_text table td{
    padding: 5px;
}