#login-form-window
{
   background: none repeat scroll 0 0 #FFFFFF;
   display: none;
   left: 50%;
   position: absolute;
   top: 0;
   z-index: 110;
}

.login-form-overlay
{
   display:none;
   height:100%;
   background:black;
   left:0;
   position:absolute;
   right:0;
   top:0;
   width:100%;
   z-index:98;
   opacity: 0.3; 
   -moz-opacity: 0.3; 
   -khtml-opacity: 0.3; 
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.login_block{
   z-index:110;
}