.middle_col .middle_col{
   /*width: auto;*/
}
.ads_row .ads_info{
   width: 442px;
}

.ads_row_left .ads_row.item_hide{
   display: none;
}
.ads_row_rheader img{
   margin-bottom: 3px;
}
.b-pageslider{
   width: auto;
   max-width: 552px;
}


.company_col {
   float: left;
   margin-right: 10px;
}

/*arrows*/
.sort_col_pdr a.arrows-active{
   color: #0b9df1;
}

.sort_col_pdr a.arrows-active .sort-arrows{
   background-position: -79px -380px;/*up*/
}
.sort_col_pdr a:hover .sort-arrows{
   background-position: -70px -380px;/*down*/
}
.sort_col_pdr a.arrows-active .sort-arrows.arrows-reverse{
   background-position: -70px -380px;/*down*/
}
.sort_col_pdr a:hover .sort-arrows.arrows-reverse{
   background-position: -79px -380px;/*up*/
}
.mb_menu li a{
   padding: 4px 3px 0 18px !important;
}


.center_block{
   position: relative;
   width: 47%;
   border: 1px solid #c7c7c7;
   padding: 1%;
   float: left;
   margin-top: 10px;
   border-radius: 4px;
   height: 220px;
}
.center_block:hover img{
   -webkit-transition:all 0.5s ease;

   width: 105%;
   margin-left:   -2.5%;
   margin-top:    -2.5%;
}
.cb_im_b{
   width: 355px;
   height: 220px;
   overflow: hidden;
}
.center_block:nth-child(even){
   margin-left: 10px;
}

.cb_text {
   bottom: 6px;
   background-color: rgba(255, 255, 255, 0.85);
   font-size: 27px;
   text-align: center;
   position: absolute;
   color: #00A340;
   text-shadow: 1px 1px 2px #fff;
   width: 100%;
   left: 0;
}