.iblock-vote {
	display: inline-block;
	position: relative;
	background: url("images/rating-bg.png") no-repeat;
	width: 126px;
	height: 41px;
	padding-top: 5px;
	padding-left: 10px;
	margin-top: -30px;
	margin-left: 19px;
}
.iblock-vote div.star-voted {
	width: 21px;
	height: 20px;
	background: url("images/rating-stars.png") left -21px no-repeat;
}
.iblock-vote div.star-empty,
.iblock-vote div.star {
	width: 21px;
	height: 20px;
	background: url("images/rating-stars.png") left 0 no-repeat;
}
.iblock-vote div.star-over {
	width: 21px;
	height: 20px;
	background: url("images/rating-stars.png") left -21px no-repeat;
}
.iblock-vote .vote-result {
	padding-left: 20px;
	vertical-align: middle;
	font-style: italic;
	white-space: nowrap;
}