div.page {
   padding-left: 15px;
}
input[type="text"], textarea, select {
   width: 450px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
input[type="text"] {
   height: 22px !important;
}
input.button_green {
   background-image:url(images/save.png);
   background-repeat:no-repeat;
   width:228px;
   height:37px;
   cursor:pointer;
   border: none;
   background-color:transparent;
   font: bold 18px Arial;
   color: #fefefc;
}
table.data-table {
   width: 100%;
}
.data-table td {
   padding: 0px 5px 5px 5px;
}
td.lefttd {
   width: 180px;
   text-align: right;
}
td.righttd {}
a.back {
   padding-left: 10px;
}