div.left_menu {
	width: 190px;
}

ul.left_menu  {
	list-style: none !important;
	margin: 0; padding: 0 !important;
}

.left_menu li {
	font: bold 12px Arial !important;
	color: #da251d !important;
	padding:0 !important;
}

.left_menu ul {
	background: #fffaf2 !important;
	border: 1px solid #ffdec8 !important;
}

.parent_title {
	width: 190px;
	background: #ffe7d9;
	border: 1px solid #ef8000;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
}

.parent_title span {
	padding-left: 3px;
}

#open {
	background: url(images/open.png) no-repeat; width: 14px; height: 12px;
}

#close {
	background: url(images/close.png) no-repeat; width: 14px; height: 12px;
}

div.roll {
	padding-left: 10px;
}

.title_line {
	display: inline-table;
}

ul.sub_left_menus {
	list-style-image: url(images/list_image.png) !important;

}
	
.sub_left_menus li {
	padding: 3px 0px 3px 18px !important;
	margin-left: -15px !important;
}

.sub_left_menus a {
	text-decoration: none !important;
	color: #000000 !important;
	font: 12px Arial !important;
}

.sub_left_menus a:hover {
	text-decoration: none !important;
	color: #d6231e !important;
	font: 12px Arial !important;
}
.left_menu a:before, .left_menu a:after, .left_menu a:hover:before, .left_menu a:hover:after{
   display: none;
}
.sub_left_menus a:before, .sub_left_menus a:after, .sub_left_menus a:hover:before, .sub_left_menus a:hover:after{
   display: none;
}