div.news-list img.preview_picture
{
   float:left;
   margin:0 4px 6px 0;
}
.news-date-time {
   color:#486DAA;
}
.main_news .imgBox{
	min-width: 250px;
	min-height: 250px;
   overflow:hidden;
	margin-top: -24px;
   border-radius:10px;
}
.main_news .name .date.wimage {
	margin-left: 0;
}