BODY {font: 12px Arial;}
P {margin-top: 0px; margin-bottom: 0px;}
P.subject {font: 28px Georgia;}
P.grey {font: 11px Arial; color: #ababab;}
P.button1 {font: 14px Arial; color: #3a3a3a;}
P.button2 {font: 14px Arial; color: #010101;}
P.button3 {font: 12px Arial; color: #3a3a3a;}
P.button4 {font: 12px Arial; color: #266bab;}
P.red_sub_subject {font: 18px Georgia; color: #e3231b;}
P.red_tab {font: 16px Georgia; color: #fefefc;}
P.info_subject {font: 18px Georgia; color: #000000; text-decoration: underline;}
P.subject_links {font: 18px Georgia; color: #da251d; text-decoration: underline;}
P.subject_link {font: 12px Arial; color: #000000; padding: 7px 0px;}
B.zoom {font: 12px Arial; color: #ababab; border-bottom: 1px dashed #ababab;}
B.torg {font: 14px Arial; color: #e3231b;}
B.size {font: 11px Arial; color: #919191;}
IMG {border: none;}
DIV.page {width: 761px;}
DIV.button1 {background: url(images/button1.png); width: 206px; height: 32px;}
DIV.button2 {background: url(images/button2.png); width: 214px; height: 33px;}
DIV.button3 {background: url(images/button3.png); width: 139px; height: 23px;}
DIV.button4 {background: url(images/button4.png); width: 92px; height: 23px;}
DIV.share {background: url(images/share.png); width: 291px; height: 24px;}
DIV.report {border-bottom: 1px solid #e2e2e2;}
DIV.sub_files {border-radius: 5px; border: 2px solid #e2e2e2; padding: 15px;}
DIV.red_tab {background: url(images/red_tab.png); width: 242px; height: 25px;}
DIV.sub_info {border-radius: 5px; border: 2px solid #e2e2e2; padding: 15px;}
DIV.product_large {border: 2px solid #f6f6f6}
DIV.product_large_image {background: url(images/product_large.png); width: 300px; height: 196px;}
DIV.zoom_field {background: #f6f6f6; width: 300px; height: 28px;}
DIV.sub_attention {background: #fff3f3; border-radius: 5px; border: 2px solid #ffc3c1; padding: 7px;}
DIV.banner1 {background: url(images/banner1.png); width: 300px; height: 120px;}
DIV.banner2 {background: url(images/banner2.png); width: 300px; height: 120px;}
DIV.banner3 {background: url(images/banner1.png); width: 300px; height: 120px;}
DIV.subject_links {border-radius: 5px; border: 2px solid #e2e2e2; padding: 15px;}
A.report {font: 11px Arial; color: #266bab;}
A.allads {font: bold 12px Arial; color: #266bab}
A.file {font: 12px Arial; color: #000000;}
A.info_links {font: 11px Arial; color: #919191; text-decoration: underline !important; padding-right: 10px;}
A.energo_link {font: bold 12px Arial; color: #266bab;}

A:link{text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}
#komp_el{
padding-left: 10px !important;
}
.middle_col ul{list-style:inside;}
.adv-inner h1, .user-contacts .nd_address, .user-contacts .nd_skype, .nd_detailed_description{word-wrap: break-word;}
.user-info td{vertical-align: middle;}
.user-contacts .nd_skype_n {background: url('/bitrix/templates/energorb/img/skype_n.png') no-repeat;}
.slides {height: 70px;}
.content_right_col{
    float: left;
    width: 300px;
}

.img-price td {
	width:20%;
}

.big-imgs{
	padding:0 40px;
}


.img-price .price span.val {
	display: block;
}


