.addproduct BODY {font: 12px Arial;}
.addproduct H1 {font: 28px Georgia;}
.addproduct H2 {font: 21px Georgia;}
.addproduct H3 {font: 18px Georgia; }
.addproduct H4 {font: bold 14px Arial;}.addproduct A:link{text-decoration: none}.addproduct A:visited {text-decoration: none}.addproduct A:active {text-decoration: none}.addproduct A:hover {text-decoration: none}DIV.addphoto, DIV.addspec, DIV.button {display:table-cell; text-align: center; vertical-align:middle;}
DIV.category {background: #f6f6f5; padding: 10px; text-align: center;}

DIV.addphoto {background: url(images/addphoto.png);}
.addphoto input, DIV.addphoto {width: 195px; height: 33px;}

DIV.addspec {background: url(images/addspec.png);}
.addspec input, DIV.addspec {width: 156px; height: 33px;}

DIV.addphoto, DIV.addspec, .addphoto input, .addspec input {cursor: pointer}
DIV.button {background: url(images/gbutton.png); width: 193px; height: 37px;}DIV.shape {background: url(images/shape.png); width: 100% repeat-y; height: 27px;}
SELECT.category {width: 100%; display: table-cell}.specify SELECT, .specify INPUT {	box-sizing: border-box;	-moz-box-sizing: border-box; 	-webkit-box-sizing: border-box;	height: 23px;}.category TD {padding: 10px; height: 170px; text-align: center;}.specify TR {height: 35px;}.specify TD {vertical-align: middle;}
B.grey {font: 11px Arial; color: #9e9e9e}
INPUT.long {width: 470px;}
INPUT.short {width: 130px;}
TD.ftd {text-align: right; padding-right: 5px}TD.std {padding-left: 5px;}
TEXTAREA.short_desc {width: 100%; height: 70px;}
P.addphoto, P.addspec {color: black; padding-left: 7px; margin: 0;}
P.button {font: bold 18px Arial; color: #fefefc;}
P.wbutton {font: 18px Arial; color: #212121;}
A.rule {font: 11px Arial; color: #266bab}

.addphoto input, .addspec input {
	margin-top: -50px;
	margin-left: -410px;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
}
.bxlhe-frame
{
	margin-bottom:5px;
	border:1px solid grey;
}