img {
	display: block;
}
ul.product-list {
	list-style: none;
	padding: 9px 0 18px;
	border-bottom: 2px solid #DA251D;
	position: relative;
}
ul.product-list li {
	/*float: left;*/
	display: inline-block;
	vertical-align: bottom;
	width: 164px;
	text-align: center;
}
ul.product-list li a.product-title {
	height: 51px;
	display: inline-block;
	margin-bottom: 9px;
}
ul.product-list li a {
	line-height: 18px;
	text-decoration: none;
}
ul.product-list li a img {
	display: block;
	margin: 0 auto;
}
ul.product-list a.content-show {
	position: absolute;
	background: url(/bitrix/templates/.default/images/c-show_but.png) no-repeat;
	bottom: 2px;
	right: 2px;
	width: 135px;
	height: 24px;
	display: block;
	text-indent: -9999px;
}
ul.product-list a.content-show:hover {
	background: url(/bitrix/templates/.default/images/c-show-a_but.png) no-repeat;
}
div.catalog-section-list li.level_li_1 {
}
div.catalog-section-list li.level_li_1 img {
	margin-right: 12px;
	margin-bottom: -8px;
	display: inline-block;
}
div.catalog-section-list li.level_li_1 sup {
	bottom:2ex;
}
div.catalog-section-list li li {
	width: 100%;
}
div.catalog-section-list li.level_li_1 .level_li_2 sup {
	bottom: 0.9ex;
}
div.catalog-section-list .level_li_2 a, div.catalog-section-list .level_li_2 sup {
	float: left;
	line-height: 16px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow {
	background: url(/bitrix/templates/.default/images/blue-arrow.png) no-repeat;
	width: 16px;
	height: 16px;
	display: none;
	margin-left: 8px;
}
div.catalog-section-list .level_li_2 a.toggle-arrow:hover {
	background: url(/bitrix/templates/.default/images/red-arrow-down.png) no-repeat;
}
div.catalog-section-list .level_li_2 a.toggle-arrow.clicked {
	background: url(/bitrix/templates/.default/images/red-arrow-up.png) no-repeat;
	display: block;
}
div.catalog-section-list .level_li_2:hover a.toggle-arrow {
	display: block;
}
.catalog-section-list ul.toggle-menu {
	display: none;
	float: left;
}
div.catalog-section-list .ul_col {
	float: left;
	width: 31%;
}
div.catalog-section-list ul ul {
	padding-left: 20px;
}

div.catalog-section-list ul ul ul {
	margin-left: 10px;
}
div.catalog-section-list li li li {
	width: 100%;
}
div.catalog-section-list li li li {
	padding-bottom: 5px;
}

div.catalog-section-list li li li a:hover {
	border-bottom: 1px dotted #0b9df1;
	margin-bottom: -1pt;
}

.lc_block .title {
	font-size: 14px;
}
.lc_block img {
	display: block;
}
.left_menu li {
	line-height: 18px;
}
.left_menu a, .left_menu a:visited {
	padding-left: 0;
}
.brands .left_menu li {
	line-height: 20px;
}
.brands .left_menu a {

}
.brands .left_menu img {
	display: none;
	position: absolute;
	right: 20px;
	top: -5px;
}
.brands .left_menu li:hover a {
	font-weight: bold;
	color: #266bab;
}
.brands .left_menu li:hover img {
	display: block;
}

/* Companies page Right Column*/
.content_right_col {
	float: left;
	width: 221px;
}
.content_right_col .rc_block {
	margin-bottom: 20px;
}

/* section description */
.middle_col .middle_col .rc_block_description {
	border: 1px solid #ececec;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 22px 20px;
}
.middle_col .middle_col .rc_block_description * {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 12px !important;
	font-size: 11px !important;
	font-family: inherit !important;
	text-align: justify;
}
.middle_col .middle_col .rc_block_description h1 {
	margin-bottom: 5px;
	font-size: 12px !important;
	font-weight: bold;
}

/* Companies page Middle Column*/
.ads_row_rowsblock {
	margin-right: 0;
}
.middle_col .middle_col {
	width: 755px;
	float: left;
}
.middle_col .mc_block_banner {
	margin-bottom: 5px;
}
.middle_col .mc_block_banner.bottom {
	margin-top: 5px;

}

.mc_block .search-box {
	float: right;
	background: url(/bitrix/templates/.default/images/search_bg.png) no-repeat;
	width: 251px;
	height: 22px;
	margin:2px 0 0 0;
	position: relative;
}
.mc_block .search-box input {
	border: 0;
	margin-right: 30px;
	float: right;
	margin-top: 2px;
	height: 15px;
	width: 196px;
}
.mc_block .search-box a {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	text-indent: -9999px;
	height: 20px;
	width: 25px;
}
/* Paging */
.paging {
	padding: 4px 5px 3px 4px;
	margin: 1px 0;
}
.paging .sort_col {
	float: right;
}
.sort_col_pdr {
	float: right;
}
.sort_col_pdr a {
	text-decoration: none;
	font-size: 12px;
	color: #000;
	line-height: 22px;
	padding: 0px 7px;
	display: block;
}
.sort_col_pdr a:hover {
	border: 2px solid #dedede;
	padding: 0px 5px 0px 5px;
	background: #f6f6f6;
	margin-top: -2px;
	margin-bottom: -2px;
}
.price_col, .date_col, .rate_col {
	float: left;
	margin-right: 10px;
}
.sort_col_pdr a .sort-arrows {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -61px -380px;
	width: 5px;
	height:14px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 3px;
}
/*example click arrow down*/
.sort_col_pdr a:hover .sort-arrows {
	background-position: -70px -380px;
}
/*example click arrow up*/
/* .sort_col_pdr a:hover .sort-arrows {
	background-position: -79px -380px;
} */

/* Accordion block */
.accordion_block {
	list-style: none;
}
.accordion_block .h3-title {
	background: url(/bitrix/templates/.default/images/bg_accordion.png) repeat-x;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding: 0 13px;
	display: block;
	cursor: pointer;
}
.accordion_block .h3-title a, .accordion_block .h3-title a:hover, .accordion_block .h3-title a:visited {
	text-decoration: none;
	color: #000;
	display: block;
}

.accordion_block .accordion-content {

}

/* ads_row block */
.ads_row_wrapblock {
	border: 1px solid #e7e7e7;
	border-width: 0px 1px 1px 1px;
}
.ads_3_row {
	border:1px solid #e7e7e7;
	border-width: 0px 0px 1px 0px;
	position: relative;
	width: 753px;
}
.ads_row_wrapblock .ads_row {
	width: 563px;
	background: #fff;
	padding: 9px 14px 0px 0px;
	margin-left: 8px;
}
.ads_row_rowsblock .paging {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin:0;
	border-radius: 0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	padding-left: 4px;
}
.ads_row_rowsblock .paging .meta {
	color: #4d4d4d;
	font-size: 11px;
	line-height: 18px;
}
.ads_row.premium {
	border: 1px solid #e7e7e7;
	border-width: 0px 0px 1px 0;

}
.ads_row.premium{border-color:#ffc77e; background-color:#fdfee8; z-index:2}
.ads_row.premium:last-child {
	border:0;
}
.ic_star .i_star {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: 0px -360px;
	display: block;
	width: 16px;
	height: 17px;
}
.ic_star .i_star:hover, .ic_star .i_star.marked {
	background-position: 0px -340px;
}
.ads_row .ads_info { width: 411px;}
.ads_row .ads_info .ads_title {
	font-size: 14px;
}
.ads_row .ads_info .ads_text {
	font-size: 12px;
	color: #919191;
}
.ads_row .ads_info .meta {
	height: 47px;
	color: #5e5e5e;
}
.ads_row .ads_price {
	text-align: center;
	vertical-align: top;
}
.ads_row .ads_price .tdWrap {
padding: 3px 0px 5px 10px;
}
.ads_row .ads_price .curr-val  {
	color: #919191;
}
.ads_row .ads_price .buy-button {
	display: block;
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -20px -450px;
	width: 77px;
	height: 23px;
	text-indent: -9999px;
	margin: 5px auto 0;
}
.ads_row_left {
	float: left;
	width: 592px;
}
.ads_row_right {
	background: url(/bitrix/templates/.default/images/company-separator.png) no-repeat #fff;
	width: 148px;
	float: left;
	padding: 8px 5px 0px 8px;
	cursor: pointer;
	z-index: 1;
}
.hoverBl {
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
}

.ads_row_rcontent {
	border-top:1px dashed #e7e7e7;
	text-align: center;
	display: none;
	padding-bottom: 5px;
}
.ads_row_rcontent a.show {
	text-decoration: none;
	color: #266bab;
	display: block;
	font-size: 11px;
	line-height: 16px;
	margin-top: 5px;

}
.ads_row_rcontent a.show i {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -200px -25px;
	display: inline-block;
	width: 6px;
	height: 4px;
	vertical-align: middle;
	margin-top: -2px;
}

.all_company_info .wt-to-comp, .all_c_info .wt-to-comp {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -100px -450px;
	display: inline-block;
	width: 123px;
	height: 28px;
	text-indent: -9999px;
	margin-top: 10px;
}
.all_company_info a.c_name, .all_c_info a.c_name {
	font-size: 12px;
	text-decoration: underline;
	display: block;
	margin: 5px 0 10px;
}
.all_company_info ul, .all_c_info ul {
	margin:0;
	padding: 0;
	list-style: none;
}
.all_company_info ul li, .all_c_info ul li {
	line-height: 18px;
}
.all_company_info .phone-hide, .all_c_info .phone-hide {
	border-bottom: 1px dotted #266bab;
	color: #266bab;
	cursor: pointer;

}
.all_company_info .phone-show, .all_c_info .phone-show {
	display: none;
	cursor: pointer;
}
.all_company_info a.c_mess, .all_c_info a.c_mess {
	display: block;
	margin-left: -3px;
	margin-top: 5px;
}
.all_c_info a.c_mess {
	background-color: #e9f6fe;
	margin-top: 7px;
	margin-left: 0;
}
.all_company_info a.c_site, .all_c_info a.c_site {
	text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/* Show position style*/
.ads_row .show_position {
	background: #fffaf2;
	width: 175px;
	border: 1px solid #ffdcc5;
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	margin-left: 90px;
	padding: 0 0 0 8px;
	line-height: 28px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
}
.ads_row .show_position a {
	text-decoration: none;
}
.ads_row .show_position i {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -1px -450px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin-top: 7px;
	margin-right: 8px;
}
.ads_row .show_position span {
	color: #e3231b;
	border-bottom: 1px dotted #e3231b;
	text-align: left;
}
.topP {
	height: 23px;
}
.paging {
	overflow: visible;
}
.paging .pg_nav {
	float: none;
}

.b-pageslider {
	position: absolute;
	z-index: 100;
	top: -9999px;
	left: -9999px;
	width: 552px;
	padding: 6px 10px;
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.active-pageslider {
	left: 50%;
	top: 0;
	margin-left: -286px;
}
.b-pageslider-i {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
}
.pages-slider-track {
	position: relative;
	cursor: pointer;
	cursor: hand;
	background: url(/bitrix/templates/.default/images/slider-bg.png) repeat-x 0 0;
	height: 11px;
}
.pages-slider-drag {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 11px;
	background: url(/bitrix/templates/.default/images/slider-bg.png) no-repeat 0 -11px;
}
.pageslider-shd-l {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 40px;
	height: 25px;
	background: url(/bitrix/templates/.default/images/page-shd.png) repeat-y -40px 0;
}
.pageslider-shd-r {
	position: absolute;
	top: 6px;
	right: 9px;
	width: 40px;
	height: 25px;
	background: url(/bitrix/templates/.default/images/page-shd.png) repeat-y 0 0;
}
.paging ul.pagesslider__ul {
	width: 15000px;
	padding: 0 !important;
	margin-top: 0;
}
.paging ul.pagesslider__ul li {
	display: inline;
	padding:0;
	height: auto;
}
.pagesslider__ul a {
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 1px 5px;
	text-decoration: none;
}
.paging ul.pagesslider__ul li a:hover {
	text-decoration: none;
}
.pagesslider__ul .slider-hr, .pagesslider__ul a.slider-hr:hover {
	color: #cb0000;
	border: 1px solid #cecece;
	padding: 0 4px;
}
.b-pageslider .dis-shd {
	display: none;
}

/* Market Kartochka Tovara page Middle Column*/

.middle_col .middle_col h2 {
	font-size: 18px;
	line-height: 22px;
}
.middle_col .middle_col .mc_block {
	margin-bottom: 10px;
}
.middle_col .middle_col p {
	font-size: 12px;
	line-height: 18px;
}
.middle_col .right_col {
	width: 295px;
	padding:0;
}
.middle_col .middle_col h1 {
	font-size: 28px;
	margin:0;
}
.middle_col .nested-files .l_col, .middle_col .nested-files .r_col  {
	float: left;
	width: 300px;
}
.middle_col .nested-files .l_col {
	margin-right: 40px;
}
.middle_col .nested-files .nf_block {
	margin-bottom: 15px;
}
.middle_col .nested-files .nf {
	padding-left: 64px;
}
.middle_col .nested-files a {
	color: #266bab;
	text-decoration: none;
}

.middle_col .nested-files a:hover {
	text-decoration: underline;
}
.middle_col .nested-files span {
	color: #919191;
	font-size: 10px;
	line-height: 18px;
}
.middle_col .nested-files i {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	display: block;
	width: 55px;
	height: 55px;
	float: left;
}
.middle_col .nested-files .doc-file {
    background-position: -439px -85px;
}
.middle_col .nested-files .xls-file {
    background-position: -379px -22px;
}
.middle_col .nested-files .ppt-file {
    background-position: -441px -145px;
}
.middle_col .nested-files .jpg-file {
    background-position: -380px -145px;
}
.middle_col .nested-files .djvu-file {
    background-position: -380px -208px;
}
.middle_col .nested-files .docx-file {
    background-position: -439px -85px;
}
.middle_col .nested-files .xlsx-file {
    background-position: -439px -22px;
}
.middle_col .nested-files .pdf-file {
    background-position: -321px -22px;
}
.middle_col .nested-files .jpeg-file {
    background-position: -441px -271px;
}
.middle_col .nested-files .file-file {
    background-position: -441px -208px;
}
.middle_col .mc_block {
	position: relative;
}
.middle_col .middle_col .mc_block .mc_head {
	margin-bottom: 15px;
	line-height: 22px;
}
.product-sl {

}

.product-sl h2 {
	float: left;
}
.product-sl span.all-product {
	float: right;
}
.product-sl span.all-product a {
	font-size: 14px;
}
.product-sl .mc_body {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	width: 680px;
	margin-left: -1px;
}
.product-sl .ads_row {
	float: left;
	width: 160px;
	height: 186px;
	border-left: 0;
	border-bottom: 0;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	cursor: pointer;
	padding:9px 0 9px 9px;

}
.product-sl .ads_row .tdWrap {
	padding: 3px 0px 5px 10px;
}
.product-sl .ads_row .ads_title {
	font-size: 12px;
	line-height: 17px;
	color: #266bab;
}

.product-sl .ads_row .ads_nav {
	text-align:  center;
	vertical-align: bottom;
}
.product-sl .ads_row .ads_nav img {
	display: inline-block;
	max-height: 50px;
}
.product-sl .ads_row .ads_nav span {
	font-size: 12px;
	line-height: 16px;
}
.product-sl .ads_row .image_box {
	height: 75px;
	vertical-align: middle;
}
.product-sl .ads_row .image_box img {
	margin: 0 auto;
}
.product-sl .mc_footer a.prev{
	float: left;
}
.product-sl .mc_footer a.next {
	float: right;
}
.product-sl .mc_footer a {
	color: #919191;
	font-size: 14px;
	text-decoration: none;
	line-height: 28px;
	margin-top: 10px;
}
.product-sl .mc_footer a:hover {
	color: #0b9df1;
}
.catalog-element {
	margin-bottom: 25px;
}
.catalog-element .lightbox img {
	display: inline-block;
}
.catalog-element .b_star {
	background: url(/bitrix/templates/.default/images/big_star.png) no-repeat;
	display: block;
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 8px;
}
.catalog-element .meta {
	font-size: 12px;
	line-height: 20px;
	color: #ababab;
	padding-top: 0;
	margin-left: 7px;
	margin-bottom: 10px;
}
.catalog-element .meta i.icon_map {
	background: url(/bitrix/templates/.default/images/sprite.png) 0 0 no-repeat;
	background-position: -60px -340px;
	width: 13px;
	height: 20px;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}
.catalog-element a {
	text-decoration: none;
}
.catalog-element .to-big{
	text-decoration: none;
	border-bottom: 1px dotted #ababab;
	color: #ababab;
	margin-left: 7px;
}
.catalog-element .sum_block {
	min-width: 198px;
	height: 102px;
	background: url(/bitrix/templates/.default/images/bg_el-block.jpg) repeat-x;
	border: 1px solid #dbe9f2;
	border-radius: 5px;
	display: block;
	padding: 15px 15px;
	float: right;
}
.catalog-element .sum_block-inner {
	padding-top: 11px;
}
.catalog-element .sum_block h2.sum {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 18px;
	color: #010101;
	margin-bottom: 15px;
	white-space: nowrap;
}
.catalog-element .sum_block h2.sum span {
	font-size: 11px;
	line-height: 18px;
}
.catalog-element .sum_block h2.sum .currency-is-nds {
	color: #ababab;
	font-size: 12px;
	font-style: italic;
}
.catalog-element .sum_block a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #266bab;
	border-bottom: 1px dotted #266bab;
	text-decoration: none;
}
.catalog-element .sum_block a.b_buy {
	background: url(/bitrix/templates/.default/images/buy_but.png) no-repeat;
	width: 196px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	outline: none;
	border: 0;
	margin-bottom: 8px;
}
.catalog-element .wrong_block {
	list-style: none;
	margin: 18px 30px 0 0;
	padding: 5px 0 0 27px;
	background: #fffaf2;
	width: 143px;
	height: 65px;
	float: right;
	position: relative;
}
.catalog-element .wrong_block.clicked {
	border: 1px solid #cc0000;
	margin-top: 17px;
	margin-right: 29px;
}
.catalog-element .wrong_block a {
	font-size: 12px;
	line-height: 18px;
	color:#99211c;
	text-decoration: none;
	border-bottom: 1px dotted #99211c;
}
.catalog-element .wrong_block .at {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	background-position: -25px -170px;
	width: 21px;
	height: 21px;
	display: block;
	position: absolute;
	left: -10px;
	top:10px;
}
.brd-b5 {
	border: 1px solid #e2e2e2;
	border-radius: 0px 0px 5px 5px;
}

.rc_block h3{
	color: #da251d;
	font-size: 18px;
	margin-bottom: 20px;
}
.rc_block .contact_block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.rc_block .phone-hide {
	color: #266bab;
	border-bottom: 1px dotted #266bab;
	cursor: pointer;
}
.rc_block .phone-show {
	display: none;
}
.rc_block .send_but {
	background: url(/bitrix/templates/.default/images/send-comp_but.png) no-repeat;
	width: 248px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}

.rc_block .c_inf span.lgrey {
	color: #b3b3b3;
}
.rc_block .contact_block span.phone-show {
	color: #000000;
}
.rc_block .contact_block i {
	background: url(/bitrix/templates/.default/images/sprite.png) no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	float: left;
	margin-right: 10px;
}
.rc_block .contact_block i.phone {
	background-position: -50px -170px;
}
.rc_block .contact_block i.time {
	background-position: -74px -170px;
}
.rc_block .contact_block i.address {
	background-position: -98px -170px;
}
.rc_block .contact_block .ph_block i {
	margin-right: 0;
}
.rc_block .contact_block .ph_block div {
	margin-left: 28px;
	margin-bottom: 3px;
}
.rc_block .contact_block div {
	margin-bottom: 5px;
	line-height: 18px;
}
.rc_block .c_inf .site_info {
	margin-left: 28px;

}
.rc_block .c_inf .site_info a {
	text-decoration: none;
}
span.report-e {
	background: url(/bitrix/templates/.default/images/img_report.jpg) no-repeat;
	width: 262px;
	height: 54px;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
}
 .ads_wrap {
 	position: relative;
 	float: left;
 	width: 170px;
 }
 .ads_row_inner {
 	padding:0px 16px 0px 0px;
 }
.hoverB2 .ads_row_inner {
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    min-height: 182px;
}
.all_c_info {
	-moz-box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    z-index: 999;
    position: absolute;
    top: 10px;
    left:170px;
    background: #fff;
    min-height: 182px;
    border-left: 1px dashed #e2e2e2;
    margin-left: -1px;
    width: 157px;
    text-align: center;
}

.hoverBr {

}
.product-sl .hoverBr .ads_row {
	padding-left: 0;
	padding-right: 9px;
 }
 .hoverBr .ads_row_inner {
 	padding-left: 9px;

 }
 .hoverBr.hoverB2 .ads_row_inner{
-moz-box-shadow: -1px 1px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:-1px 1px 5px rgba(0,0,0,0.4);
    box-shadow: -1px 1px 5px rgba(0,0,0,0.4);
}
.hoverBr .all_c_info {
	left:-158px;
	border-right: 1px dashed #e2e2e2;
	-moz-box-shadow: -2px 1px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: -2px 1px 5px rgba(0,0,0,0.4);
    box-shadow: -2px 1px 5px rgba(0,0,0,0.4);
     border-left: 0;
     margin:0;
}
.main, .footer {width: 1243px; margin: 0 auto;}

/* popup advert */
.adv-pop {
	display: inline-block;
	position: relative;
	width: 134px;
	height: 21px;
	margin-top: 1px;
}
	.adv-pop:hover .adv-pop-target {
		display: block;
	}
	.adv-pop:hover:after {
		display: block;
	}
	.adv-pop-target {
		display:none;
		position: absolute;
		z-index: 1001;
		left: 0;
		top: 100%;
		width: 339px;
		height: 201px;
		padding-top: 7px;
		overflow: hidden;
	}
	.adv-pop:after {
		content: '';
		display: none;
		position: absolute;
		left: 50%;
		top: 100%;
		width: 0;
		height: 0;
		margin-left: -8px;
		border-bottom: 10px solid #e2e2e2;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	.adv-pop-button img {
		display: none;
	}
	.adv-pop-button a img {
		display: block;
	}
a.toggler{
	bottom: 13px !important;
}
.collapsed a.content-show {

 background: none !important;

}