.monitoring_table {
    width: 100%;
    /*border: 1px solid #000000;*/
    line-height: 22px;
}
.monitoring_table tr {
    border-bottom: 1px solid #888888;
}
.monitoring_table th, .monitoring_table td {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 2px 5px;
}
.monitoring_table thead {
    background-color: #888888;
}
.monitoring_table .monitoring_table_date {
    background-color: #bbbbbb;
    /*color: red;*/
}

.company-tabs .mb_menu .mb_title{
    background-position: 0 -432px !important;
    cursor: pointer;
}
.company-tabs .mb_menu li.mb_title .sclew{
    background-position: 100% -432px;
}
.company-tabs .mb_menu li.mb_title a{
    color: #266bab;
    cursor: pointer;
}

.company-tabs .mb_menu .mb_title.sel{
    cursor: default;
}
.company-tabs .mb_menu .mb_title.sel, .company-tabs .mb_menu .mb_title:hover{
    background-position: 0 -92px !important;
}
.company-tabs .mb_menu li.mb_title.sel .sclew, .company-tabs .mb_menu .mb_title:hover .sclew{
    background-position: 100% -92px;
}
.company-tabs .mb_menu li.mb_title.sel a, .company-tabs .mb_menu li.mb_title:hover a{
    color: #FFF;
}
.company-tabs .mb_menu li.mb_title.sel a{
    cursor: default;
}